extends ../../layout-de

block content
  
  .container
    .row
      h3.centered.vertical-space-m Wir freuen uns auf Deine Kontaktaufnahme!
    .row.vertical-space-m
      .col-md-6
        .container
          .contact-holder
            h5
              .fa.fa-compass
              | &nbsp;Anfragen
            p
              | Hast Du Fragen zu den einzelnen Themen, Terminen, Locations?<br/>Wir sind unter der Email erreichbar:
            p
              strong
                a.link(href='mailto:info@devmeetings.com') info@devmeetings.de

            .contact-text.vertical-space-m
              h5
                .fa.fa-puzzle-piece
                | &nbsp;Zusammenarbeit
              p
                | Bist Du an der generellen Zusammenarbeit mit uns interessiert?<br/>
                a.link(href='mailto:zusammenarbeit@devmeetings.de') zusammenarbeit@devmeetings.de

            .contact-text.vertical-space-s
              h5
                .fa.fa-puzzle-piece
                | &nbsp;Sponsoring
              p
                | Deine Firma will DevMeetings unterstützen?<br/>
                a.link(href='mailto:sponsoring@devmeetings.de') sponsoring@devmeetings.de
      .col-md-6
        .container
          .contact-holder
            .contact-text
              h5
                .fa.fa-envelope
                | &nbsp;DevMeetings ist eine Initiative von
              p PLAN Solutions GmbH & Co. KG
              | Mergenthallerallee 73-75<br/>
              | 65760 Eschborn<br/>
