extends ../../layout-en

block content
  
  .event
    div
      .container
        .row
            .col-md-8.col-sm-8
              .container-dark-gray.visible-xs
                .vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registration is on!
                            span In order to be able to participate in a DevMeeting, 
                            br
                            span you must register.
                            h5 No vacancies.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Register!
                        .row
                          .col-md-2.text-center
              .vertical-padding-s.visible-xs
              h1 Angular 2
              div
                p
                  | DevMeetings team invites you to a full-day workshop on Angular 2 with TypeScript and ES2015.
                p
                  | Although Angular 2 is still in the alpha phase, its most important concepts shouldn’t change anymore, especially since the first beta version is supposed to be made available in the next few days. Because of that, now is a perfect time to start learning both new Angular and TypeScript – a language compiled to JavaScript, which makes working with the new version of Angular a real pleasure.
                h3 Why Angular 2?
                p
                  | The creators of Angular want to break with many concepts of the first version of the framework. Their main objective was to prepare a tool which would perfectly cooperate with browsers while also having full support for the ES2015/2016.
                
                p
                  | That is why many of prior components have been thoroughly analysed and created from scratch. The changes which are most important to us include:
                ul
                  li
                    | detecting changes based mainly on immutable data structures and observable objects
                  li
                    | placing greater emphasis on writing object-oriented code
                  li
                    | rebuilt dependency injection container, now also allowing creating a hierarchy of containers
                  li
                    | major simplification of the concept of services
                  li
                    | dynamic loading of components during the application life-cycle
                  li
                    | breaking with rigid attachment to DOM, which in result facilitates rendering on the server side
                  li
                    | simplifying the option of creating custom components and communication between them
                  li
                    | simplifying form management  
               
                p
                  | As you can see, the list of changes is quite large and some of them make a great improvement compared to the first version. Many of them are the answers to the problems and needs that have been discovered by the users working with Angular 1. Some of them also result from development of JavaScript and improvement of browser functionalities. It means that we get a tool which is much easier to understand and use, and provides less of "magic" responses and more of the expectable ones. In a nutshell – a very good tool, tailored to meet the demands of modern front-end.

                h3#100-praktyki 100% practical
                p
                  | During the workshop, the participants will create a simple online shop from scratch, learning about these tools while using them to face real problems, such as:
                  ul
                    li How to use TypeScript so that it helps rather than stands in your way?
                    li How to make your application free from dependency on back-end for testing?
                    li How to conveniently validate data in a form and send it further on?
                    li How to build components and organise communication between them so that your code does not look like spaghetti?
               
                h3#informacje-praktyczne Agenda

                p
                  | TypeScript and ES2015 revision.
                p
                  | NOTE: On a DevMeeting we will devote no more than 45 minutes to revise their main concepts, but we will not be teaching you the basics of these languages. Before the DevMeeting each participant should learn ES2015 / TypeScript on their own.
                ul
                  li declarations types
                    li interfaces
                    li classes
                    li module system
                    li decorators
                    li promises
               
                p
                  | Application skeleton and the absolute basics of working with Angular 2:
                  ul
                    li application skeleton
                    li displaying data
                    li basic directives
                
                p
                  | Components and event handling:
                  ul
                    li the concept of components
                    li creating own components
                    li event handling
                    li communication between components
                    li creating own events

                p
                  | Services and dependency injection container:
                  ul
                    li the concept of services
                    li the concept and requirements for dependency injection
                    li creating own services
                    li using dependency injection container
                    li creating readily convertible, universal services

                p
                  | Forms and data formatting options:
                  ul
                    li creating forms
                    li data validation
                    li the concept of pipes
                    li creating own pipes

                p
                  | Communication with external API:
                  ul
                    li the concepts in the new http module
                    li using http module to communicate with back-end
                    li http alternatives
                    li currently developed solutions

                p
                  | Routing and navigation:
                  ul
                    li the concepts in the component-based routing
                    li using routing for navigation

                h3#informacje-praktyczne Practical information
                p
                  strong Where: 
                  | The conference room in the city centre, the exact location will be mailed to the participants.
                p
                  strong When: 
                  | Saturday, February 20th 2016, start at 9.00 am (please arrive around 8.45), ending approx. at 4 pm.
                p
                  strong What you should bring: 
                  | The conference room in the city centre, the exact location will be mailed to the participants.
                p
                  strong Participation cost
                  | : Participation in the Pay What You Want model. 
                  a(href='/en/info/pwyw', target='_blank') More information here.
                  |  People who will pay 100 PLN or more will obtain a high-quality printed certificate of participation.    
                
                h3 What is a DevMeeting?
                p
                  | A DevMeeting is a mix of a hackathon and a programming workshop. Throughout the day, participants implement a sample application – on their own and in teams. Experienced mentors supervise taught content and execution of a workshops and at all times offer their help, provoke discussions and share their practical knowledge.

                p
                  | A DevMeeting is not a lecture or a classic training. We focus on practical skills, coding and exchanging knowledge and experience. It is also a great opportunity to meet other developers and to make valuable contacts with developers from your city.

                p
                  | If you want to discover the atmosphere of DevMeeting, go to our 
                  a(href='https://www.youtube.com/watch?v=De17BOe1GnE', target='_blank') YouTube channel 
                  | (video from DevMeeting on 9th May 2015, Node.JS)
                
              .vertical-space-m
              .container-dark-gray.visible-xs
                .container-fluid.vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registration is on!
                            span In order to be able to participate in a DevMeeting, 
                            br
                            span you must register.
                            h5 No vacancies.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Register!
                        .row
                          .col-md-2.text-center
              .vertical-padding-m
            .col-md-4.col-sm-4(style='position:relative;')
              .well(style='position:fixed;width:25%;z-index:2;')
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-calendar-o
                  .col-md-10
                    h4.noHeaderMargins 20th of June 2015
                    h5.noHeaderMargins.text-muted
                      span Saturday
                      span , 
                      span 09:00AM – 4:00PM
                hr.no-border
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-map-marker
                  .col-md-10
                    h4.noHeaderMargins Kraków
                    h5.noHeaderMargins.text-muted City Centre
                hr
                div
                  .row
                    .col-md-2
                      h1.noHeaderMargins
                        span.fa.fa-ticket
                    .col-md-10
                      h4.noHeaderMargins Registration is on!
                      span In order to be able to participate in a DevMeeting,
                      br
                      span you must register.
                      h5 No vacancies.
                      form(action='/events/es6-maj-krakow/tickets', method='post')
                        .progress
                          .progress-bar.progress-bar-warning(style='width:100%;')
                          .progress-bar.progress-bar-info(style='width:0%;')
                        button.btn.btn-lg.btn-dev.btn-disabled.disabled(disabled='') Register!
                  .row
                    .col-md-2.text-center