extends ../../layout-en

block content
  
  .container-full
    .container
      .row
        h1.h2.centered.vertical-space-s Contact
      .contact-holder
        h5
          span.fa.fa-compass
          | &nbsp;Help and info
        p
          | If you have any questions concerning the workshops, dates,  registration or payment, we will happily answer them by e-mail: 
        p
          strong
            a.link(href='mailto:info@devmeetings.com') info@devmeetings.com
        p In urgent cases, please contact us by phone:
        p
          strong +48 532 264 968
        .contact-text.vertical-space-m
          h5
            span.fa.fa-puzzle-piece
            | &nbsp;Cooperation
          p
            | If you are interested in cooperation with DevMeetings, we invite you to contact us through the chosen e-mail address or through:<br/>
            a.link(href='mailto:wspolpraca@devmeetings.com') wspolpraca@devmeetings.com
        .row.vertical-space-s.box-group
          .col-md-4.col-sm-4
            .box
              .box-details
                h5
                  | Sponsoring
                p Does your company want to sponsor DevMeetings?
                p
                  a.link(href='mailto:sponsoring@devmeetings.com') sponsoring@devmeetings.com
          .col-md-4.col-sm-4
            .box
              .box-details
                h5
                  | Trainers
                p Do you want to become a trainer or help to prepare workshop topics?
                p
                  a.link(href='mailto:trener@devmeetings.com') trener@devmeetings.com
          .col-md-4.col-sm-4
            .box
              .box-details
                h5
                  | Boardrooms 
                p Does your company want to provide a boardroom?
                p
                  a.link(href='mailto:salki@devmeetings.com') salki@devmeetings.com
        .contact-text.vertical-space-m
          h5
            span.fa.fa-envelope
            | &nbsp;Company data
          p DevMeetings are the initiative of the following company:
          | Developers Peak Sp. z o. o.<br/>
          | ul. Rzeźnicza 28-31<br/>
          | 50-130 Wrocław<br/>
          | KRS 0000513829, NIP: 8971800894, REGON 022436938<br/>
        .vertical-space-m

