extends ../../layout-en

block content
  
  .event
    div
      .container
        .row
            .col-md-8.col-sm-8
              .container-dark-gray.visible-xs
                .vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registration is on!
                            span In order to be able to participate in a DevMeeting, 
                            br
                            span you must register.
                            h5 No vacancies.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Register!
                        .row
                          .col-md-2.text-center
              .vertical-padding-s.visible-xs
              h1 DevMeeting ECMAScript 6
              div
                p
                  | DevMeetings Team invites you to a full-day meeting on ECMAScript 6 (Harmony) - the upcoming version of the JavaScript standard. By participating in DevMeeting you will learn the most important concepts of the language, write a complete application using ES6, and meet other developers starting out with ES6 and mentors who already have experience in implementating applications using this version of the language.
                p Join us!
                  br
                  em Piotr Zwoliński
                p Founder of DevMeetings.pl 
                  br
                  | piotr (at) devmeetings (dot) org
                img.img-responsive.workshop-img(src='/img/static/workshops/es6/es6_logo.jpg' alt='')
                
                h3 Why ES6? 
                p
                  | ECMAScript 6, also known as ECMAScript 2015 is the upcoming version of the ECMA standard, which is the basis of languages such as JavaScript or ActionScript. ES6 brings significant changes compared to the previous version, which was published in 2009. Most of the companies creating browsers already offers some of the new features, and many more will be added soon.
                p 
                  em ECMA organization rolls out a carpet for us. The carpet on which you and I will soon walk. As of today, this carpet is not yet fully rolled out, so if you want to experience what it feels like to walk on it, you need to use linoleum, which is only a modest replacement. The linoleum of this story is transpiler, e.g. 
                  a(href='https://babeljs.io/', target='_blank') Babel.js 
                  em or 
                  a(href='https://github.com/google/traceur-compiler', target='_blank') Traceur. 
                  em The carpet is ECMAScript 6.
                p.vertical-space-s
                  img.img-responsive.workshop-img(src='/img/static/workshops/es6-seattle.jpg' alt='')
                h3 Agenda
                p
                  | During DevMeeting you will learn the following concepts of ES6 language.
                p
                  strong Variables, arrays and objects:
                  ul
                    li
                      strong let 
                      | and 
                      strong const 
                      | instead of var
                    li
                      strong blocks 
                      | and a range of variables
                    li
                      strong spread
                      |, that is simpler operations on lists
                    li
                      strong destructuring assignment which 
                      | makes it easier to use objects
                p
                  strong Functions:
                  ul
                    li
                      | default parameters
                    li
                      | grouping parameters
                    li
                      | new syntax: 
                      strong arrow functions
                p
                  strong Classes:
                  ul
                    li
                      | the introduction of syntax
                    li
                      strong Symbols 
                      | and private variables
                    li
                      | getting and saving data (
                      strong getters 
                      | and 
                      strong setters
                      |)
                    li
                      | static variables
                    li
                      | expanding classes – inheritance and 
                      strong Object.assign
                p
                  strong Collections:
                  ul
                    li
                      | sets – 
                      strong set 
                      | and 
                      strong WeakSet
                    li
                      | maps – 
                      strong Map 
                      | and 
                      strong WeakMap
                p
                  strong Modules, generators and Promises:
                  ul
                    li
                      | definition of modules and loading them
                    li
                      | generators,
                    li
                      | Promises
                p 
                    | Examples of issues: Should you become friends with the ECMAScript 6? Below we present two examples of language elements that will be discussed on this DevMeeting.
                p
                  strong Block scope
                p
                  | Until now, there was only one range of variables in JS – a function. Therefore, in the example of ES5 we use the trick – a self executing function – to create a private variable, you can use the function by the closure (closure). In ES6 instead of function we use 
                  strong block {} 
                  | and 
                  strong let 
                  | to declare a variable within a scope of a given block; we define function in a usual way and it is available outside the block.
                p
                  img.img-responsive.workshop-img(src='/img/static/workshops/es6/snippet_es6_block_scope.jpg' alt='')
                p
                  strong Classes
                p
                  | Both in JS and ES6 there are no real classes – entire inheritance is carried out through 
                  strong prototypes. 
                  | It is perfectly visible in the following example written in JS, in which we define a constructor function and add methods to its prototype. ES6 does not change how it works, but allows you to use nicer and more transparent syntax.
                p
                  img.img-responsive.workshop-img(src='/img/static/workshops/es6/snippet_es6_classes.jpg' alt='')

                h3#100-praktyki 100% practical
                p
                  | DevMeeting is focused on implementing a sample application, which allows you to learn the above mentioned functionalities of language in a practical way and to immediately practice and apply acquired skills
                p
                  | This time we have prepared two applications that you can implement – on the DevMeeting you will choose which one do you want to work on.
                .row.vertical-space-m
                  .col-sm-6
                    img.img-responsive.workshop-img(src='/img/static/workshops/es6/app_es6_tinder.png' alt='')
                  .col-sm-6
                    h5 Application 1: DevTinder
                    p
                      | Maximally simplified clone version of Tinder app. A user can view and rate presented photos.
                .row.vertical-space-m
                  .col-sm-6
                    img.img-responsive.workshop-img(src='/img/static/workshops/es6/app_es6_maps.png' alt='')
                  .col-sm-6
                    h5 Application 2: PlacesRating
                    p
                      | Application modelled after Foursquare, which enables to mark and rate locations all around the world through the use of Google Maps.

                h3#informacje-praktyczne Practical information
                p
                  strong Where: 
                  |  The conference room in the city centre, the exact location will be mailed to the participants.
                p
                  strong When: 
                  |  Saturday, February 20th 2016, start at 9.00 am (please arrive around 8.45), ending approx. at 4 pm.
                p
                  strong What you should bring: 
                  | The conference room in the city centre, the exact location will be mailed to the participants.
                p
                  strong Participation cost
                  | : Participation in the Pay What You Want model. 
                  a(href='/en/info/pwyw', target='_blank') More information here.
                  |  People who will pay 100 PLN or more will obtain a high-quality printed certificate of participation.
                  
                h3 What is a DevMeeting?
                p
                  | A DevMeeting is a mix of a hackathon and a programming workshop. Throughout the day, participants implement a sample application – on their own and in teams. Experienced mentors supervise taught content and execution of a workshops and at all times offer their help, provoke discussions and share their practical knowledge.

                p
                  | A DevMeeting is not a lecture or a classic training. We focus on practical skills, coding and exchanging knowledge and experience. It is also a great opportunity to meet other developers and to make valuable contacts with developers from your city.

                p
                  | If you want to discover the atmosphere of DevMeeting, go to our 
                  a(href='https://www.youtube.com/watch?v=De17BOe1GnE', target='_blank') YouTube channel 
                  | (video from DevMeeting on 9th May 2015, Node.JS)
                
              .vertical-space-m
              .container-dark-gray.visible-xs
                .container-fluid.vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registration is on!
                            span In order to be able to participate in a DevMeeting, 
                            br
                            span you must register.
                            h5 No vacancies.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Register!
                        .row
                          .col-md-2.text-center
              .vertical-padding-m
            .col-md-4.col-sm-4(style='position:relative;')
              .well(style='position:fixed;width:25%;z-index:2;')
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-calendar-o
                  .col-md-10
                    h4.noHeaderMargins 20th of June 2015
                    h5.noHeaderMargins.text-muted
                      span Saturday
                      span , 
                      span 09:00AM – 4:00PM
                hr.no-border
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-map-marker
                  .col-md-10
                    h4.noHeaderMargins Kraków
                    h5.noHeaderMargins.text-muted City Centre
                hr
                div
                  .row
                    .col-md-2
                      h1.noHeaderMargins
                        span.fa.fa-ticket
                    .col-md-10
                      h4.noHeaderMargins Registration is on!
                      span In order to be able to participate in a DevMeeting,
                      br
                      span you must register.
                      h5 No vacancies.
                      form(action='/events/es6-maj-krakow/tickets', method='post')
                        .progress
                          .progress-bar.progress-bar-warning(style='width:100%;')
                          .progress-bar.progress-bar-info(style='width:0%;')
                        button.btn.btn-lg.btn-dev.btn-disabled.disabled(disabled='') Register!
                  .row
                    .col-md-2.text-center