extends ../../layout-en

block js

block content

  .container-full
    .container

      h3.centered.vertical-space-l DevMeetings: workshops for passionate software developers.
      h5.centered Offered in Pay What You Want model.
      .vertical-space-l
      p.centered DevMeeting is a full day (8h) programming workshop, usually organized on a saturday, with 20-30 participants and 2-4 mentors.
      .vertical-space-l
    
    .container-light-gray
      .container
        h3.centered.vertical-space-m Upcoming workshops
        .vertical-space-m
        h5.centered When?
        p.centered April - June 2015
        .vertical-space-s
        h5.centered Where?
        p.centered <strong>Europe:</strong> Wroclaw / Poland, Berlin / Germany<br/> <strong>USA:</strong> Seattle, New York City, Boston
        .vertical-space-l
        .row
          .col-md-3.col-sm-1
            img.centered.img-responsive(src='/img/workshop_logo_angular_small.png')
            h5.centered
              | AngularJS for Web Developers
            p.centered
              | Learn to build Single Page Apps using AngularJS
          .col-md-3.col-sm-1
            img.centered.img-responsive(src='/img/workshop_logo_backbone_small.png')
            h5.centered
              | BackboneJS + Marionette
            p.centered
              | Get rid of callback spaghetti and bring order to your JavaScript applications.
          .col-md-3.col-sm-1
            img.centered.img-responsive(src='/img/workshop_logo_rwd_small.png')
            h5.centered
              | Responsive Web Design
            p.centered
              | Learn advanced CSS and Responsive Web Design techniques to make your website look perfect on every device.
          .col-md-3.col-sm-1
            img.centered.img-responsive(src='/img/workshop_logo_javascript_small.png')
            h5.centered
              | JavaScript for Programmers
            p.centered
              | Learn and master the core principles of JavaScript: functional and dynamic programming, prototype based inheritance.
        .vertical-space-s



    .container

      h3.centered.vertical-space-m Impressions from past DevMeetings
      .row.vertical-space-m
        .col-md-3.col-sm-6
          img.centered.img-responsive(src='/img/workshop_photos/f_1.jpg')
        .col-md-3.col-sm-6
          img.centered.img-responsive(src='/img/workshop_photos/f_2.jpg')
        .col-md-3.col-sm-6.hidden-sm.hidden-xs
          img.centered.img-responsive(src='/img/workshop_photos/f_3.jpg')
        .col-md-3.col-sm-6.hidden-sm.hidden-xs
          img.centered.img-responsive(src='/img/workshop_photos/f_4.jpg')
      .row.vertical-space-m
        .col-md-3.col-sm-6
          img.centered.img-responsive(src='/img/workshop_photos/f_5.jpg')
        .col-md-3.col-sm-6
          img.centered.img-responsive(src='/img/workshop_photos/f_6.jpg')
        .col-md-3.col-sm-6.hidden-sm.hidden-xs
          img.centered.img-responsive(src='/img/workshop_photos/f_7.jpg')
        .col-md-3.col-sm-6.hidden-sm.hidden-xs
          img.centered.img-responsive(src='/img/workshop_photos/f_8.jpg')
      .row.vertical-space-m
        .col-md-3.col-sm-6
          img.centered.img-responsive(src='/img/workshop_photos/f_9.jpg')
        .col-md-3.col-sm-6
          img.centered.img-responsive(src='/img/workshop_photos/f_10.jpg')
        .col-md-3.col-sm-6.hidden-sm.hidden-xs
          img.centered.img-responsive(src='/img/workshop_photos/f_11.jpg')
        .col-md-3.col-sm-6.hidden-sm.hidden-xs
          img.centered.img-responsive(src='/img/workshop_photos/f_12.jpg') 


      
    .container
      .community-holder.vertical-space-l
      hr
      .community-holder.vertical-space-l   
        h3.centered Contact: info (at) devmeetings (dot) org
      .community-holder.vertical-space-l        

