extends ../../layout-en

block content

  .container-full
    .container

      h1.h3.centered.vertical-space-m DevMeetings: workshops for passionate software developers.
      p.h5.centered Offered in Pay What You Want model.
      .workshop-holder.row.vertical-space-m
        .col-md-8.col-md-offset-2
          .videos 
            <iframe width="854" height="510" src="https://www.youtube.com/embed/De17BOe1GnE?rel=0" allowfullscreen></iframe>
    .container            
      .row.vertical-space-m
        h2.h3.centered Najbliższe warsztaty
      .workshop-holder.row.vertical-space-m
        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/en/info/ecmaScript6')
                img.img-responsive.workshop-img(src='/img/static/workshops/es6_devmeeting_krk.jpg' alt='')
            .box-details
              a(href='/en/info/ecmaScript6')
                h3.h4 ECMA Script 6, Kraków
              p
                | Warsztaty poświęcone budowanie aplikacjie przy pomocy ECMA Script 6. Kierowane do osób znających JavaScript oraz programistów innych języków (java, php, ruby), którzy chcą od razu wskoczyć do aktualnej specyfikacji języka.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Kraków</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20 czerwca 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/en/info/ecmaScript6') Rejestracja

        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/en/info/react')
                img.img-responsive.workshop-img(src='/img/static/workshops/teaser_devm_react.png' alt='')
            .box-details
              a(href='/en/info/react')
                h3.h4 React + Redux, Wrocław
              p
                | Warsztaty poświęcone budowanie aplikacjie przy pomocy ECMA Script 6. Kierowane do osób znających JavaScript oraz programistów innych języków (java, php, ruby), którzy chcą od razu wskoczyć do aktualnej specyfikacji języka.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Wrocław</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>27 czerwca 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/en/info/react') Rejestracja
     
      .workshop-holder.row
        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/en/info/ionic')
                img.img-responsive.workshop-img(src='/img/static/workshops/teaser_devm_ionic.png' alt='')
            .box-details
              a(href='/en/info/ionic')
                h3.h4 Ionic Framework 6, Kraków
              p
                | Warsztaty poświęcone budowanie aplikacjie przy pomocy ECMA Script 6. Kierowane do osób znających JavaScript oraz programistów innych języków (java, php, ruby), którzy chcą od razu wskoczyć do aktualnej specyfikacji języka.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Kraków</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20 czerwca 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/en/info/ionic') Rejestracja

        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/en/info/angular-2')
                img.img-responsive.workshop-img(src='/img/static/workshops/teaser_devm_angular_2.png' alt='')
            .box-details
              a(href='/en/info/angular-2')
                h3.h4 Angular 2, Warszawa
              p
                | Warsztaty poświęcone budowanie aplikacjie przy pomocy ECMA Script 6. Kierowane do osób znających JavaScript oraz programistów innych języków (java, php, ruby), którzy chcą od razu wskoczyć do aktualnej specyfikacji języka.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Warszawa</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>27 czerwca 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/en/info/angular-2') Rejestracja

    .container-light-gray
      .container
        h2.h3.centered.vertical-space-m Opinions of participants
        p.h5.centered Niektórzy twierdzą, że to stan umysłu, a nie warsztaty.
        .opinions-holder.row.vertical-space-m
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/us_adamjodlowski.png' alt='')
            .col-md-5.col-sm-4.col-xs-10
              p
                em
                  | Intelektualna masakra, czyli sobota z @DevMeetingsPL, dziękuję panowie, do następnego!
              strong @adamjodlowski
              p
                a(href='http://twitter.com/adamjodlowski/status/69495869824704512', target='_blank')
                  | twitter.com/adamjodlowski/status/69...
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/us_knapo.png' alt='')
            .col-md-5.col-sm-4.col-xs-10
              p
                em
                  | long, tiring, but very productive and fantastic day at @DevMeetingsPL – thanks guys! cannot wait for next one!
              strong @knapo
              p
                a(href='http://twitter.com/knapo/status/82187412331184128', target='_blank')
                  | twitter.com/knapo/status/821...
        .opinions-holder.row.vertical-space-s
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/us_pawrog.png' alt='')
            .col-md-5.col-sm-4.col-xs-10
              p
                em
                  | It was awesome workshop on node.js and RingoJS today at @DevMeetingsPL I’m looking forward to repeat this kind of experience!
              strong @pawrog
              p
                a(href='http://twitter.com/pawrog/status/69506793721692161', target='_blank')
                  | twitter.com/pawrog/status/6950...
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/us_marcoos.png' alt='')
            .col-md-5.col-sm-4.col-xs-10
              p
                em
                  | No i po @DevMeetingsPL o SSJS. Dobrze spędzony czas, warsztaty świetnie zorganizowane.
              strong @marcoos
              p
                a(href='http://twitter.com/marcoos/status/82180367213273089', target='_blank')
                  | twitter.com/marcoos/status/8218...
        .vertical-space-m
    .container
      .community-holder.vertical-space-m
        h3.h4.centered Dołącz do społeczności DevMeetings.
        .row
          .col-sm-6.col-xs-12
            .likebox-holder
              <div class="fb-page" data-href="https://www.facebook.com/devmeetingspl/" data-tabs="timeline" data-width="500" data-height="350" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/devmeetingspl/"><a href="https://www.facebook.com/devmeetingspl/">devmeetings.pl</a></blockquote></div></div>
          .col-sm-6.col-xs-12
            .likebox-holder
              <a class="twitter-timeline"  href="https://twitter.com/DevMeetingsPL" data-widget-id="702836471137484800">Tweety użytkownika @DevMeetingsPL </a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        .vertical-space-m            
    .container-light-gray
      .container
        .sub-footer-holder.row.vertical-space-m
          .col-md-4.col-sm-4
            h5
              a(href='/en/info/about_devmeetings') About DevMeetings
            p
              | DevMeetings is a full-day workshop – prepared by programmers with a passion. Since 2011, we have held more than 30 meetings, from Server-Side JavaScript through implementation of games in JavaScript to Responsive Web Design.
            p
              a(href='/en/info/about_devmeetings') More about DevMeetings >
          .col-md-4.col-sm-4
            h5
              a(href='/en/info/pwyw') Pay What You Want
            p
              | The main idea of DevMeetings is to maximise availability of trainings. This is why we decided on the "Pay What You Want" model – you can take part completely free of charge or support the initiative by paying registration fee.
            p
              a(href='/en/info/pwyw') More about Pay What You Want >
          .col-md-4.col-sm-4
            h5 Collaboration
            p
              | We are looking for speakers, sponsors and people who want to help with the organization of the meetings. Write to us if you want to support our initiative.
              | Contact: info (at) devmeetings (dot) pl
            p
              a(href='/en/info/contact') Contact us >
        .vertical-space-m
