extends ../../layout-en

block content

  .container-full
    .container

      h1.h3.centered.vertical-space-m DevMeetings: workshops for passionate software developers.
      p.h5.centered Offered in "Pay What You Want" model.
      .workshop-holder.row.vertical-space-m
        .col-md-8.col-md-offset-2
          .videos 
            <iframe width="854" height="510" src="https://www.youtube.com/embed/De17BOe1GnE?rel=0" allowfullscreen></iframe>
    .container            
      .row.vertical-space-m
        h2.h3.centered Upcoming workshops
      .workshop-holder.row.vertical-space-m
        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/en/info/ecmaScript6')
                img.img-responsive.workshop-img(src='/img/static/workshops/es6_devmeeting_krk.jpg' alt='')
            .box-details
              a(href='/en/info/ecmaScript6')
                h3.h4 Dive into ECMAScript 2015 (ES6)
              p
                | Workshop focusing on implementation of applications using ECMA Script 2015 (known also as ES6). This DevMeeting is dedicated to people with JavaScript-background as well as programmers with experiences in other languages (java, php, ruby), who want to immediately enter the current JS language specification. 
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Seattle, New York, London</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20th of June 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/en/info/ecmaScript6') Details and registration

        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/en/info/react')
                img.img-responsive.workshop-img(src='/img/static/workshops/teaser_devm_react.png' alt='')
            .box-details
              a(href='/en/info/react')
                h3.h4 Efficient Webapps with React.js + Redux
              p
                | All-day workshop focusing on React.js library, together with Redux (implementation of the state container). Discover the library by Facebook which gains more and more popularity and use it for implementation of efficient Singe Page Apps. 
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Seattle, New York, London</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20th of June 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/en/info/react') Details and registration
     
      .workshop-holder.row
        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/en/info/ionic')
                img.img-responsive.workshop-img(src='/img/static/workshops/teaser_devm_ionic.png' alt='')
            .box-details
              a(href='/en/info/ionic')
                h3.h4 Hybrid Apps with Ionic Framework
              p
                | Ionic Framework makes implementation of mobile hybrid applications based on JS super-easy. During the full day workshop, you will get to know the Ionic SDK, the user interface implementation, as well as ways to access the mobile device’s resources.  
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Seattle, New York, London</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20th of June 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/en/info/ionic') Details and registration

        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/en/info/angular-2')
                img.img-responsive.workshop-img(src='/img/static/workshops/teaser_devm_angular_2.png' alt='')
            .box-details
              a(href='/en/info/angular-2')
                h3.h4 Modern Webapps with Angular 2
              p
                | Angular 2 is still in its beta state, but more and more developers use it for production purposes. Dive into Angular 2, together with TypeScript and ES2015 during a full day workshop hosted by DevMeetings.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Seattle, New York, London</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20th of June 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/en/info/angular-2') Details and registration

    .container-light-gray
      .container
        h2.h3.centered.vertical-space-m Testimonials
        p.h5.centered Some claim that these are not workshops, but a state of mind.
        .opinions-holder.row.vertical-space-m
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/blake-s.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
              em.big
                  | ...The tutorial format and mentoring was probably the best I've seen at a meetup of this kind so far. It was a very valuable experience!
                p
                  a(href='http://www.meetup.com/Seattle-Devmeetings/events/226985992/#event_comment-458693701', target='_blank')
                    | meetup.com/Seattle-Devmeetings/events/...
                p
                  span
                    strong Blake S.
                  br
                  strong Ecmascript 6, Seattle, WA
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/tony-h.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
              em.big
                  | Thanks for the meetup! Excellent material and help from the organisers. Even though I had no experience in web development I was able to follow along and learned a lot.
                p
                  a(href='http://www.meetup.com/AngularJS-Oslo/events/221099320/#event_comment-446442714', target='_blank')
                    | meetup.com/AngularJS-Oslo/events/...
                p
                  span
                    strong Tony H.
                  br
                  strong AngularJS, Oslo, Norway
                  
        .opinions-holder.row.vertical-space-s
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/hs.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
              em.big
                  | Awesome workshop.. thank you for doing this. It is a saturday very well spent...
                p
                  a(href='http://www.meetup.com/Seattle-Devmeetings/events/222682646/#event_comment-451146648', target='_blank')
                    | meetup.com/Seattle-Devmeetings/events/...
                p
                  span
                    strong HS
                  br
                  strong AngularJS, Seattle, WA
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/paul-s.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
              em.big
                  | Great workshop! Looking forward to the next meetup ;)
                p
                  a(href='http://www.meetup.com/AngularJS-Oslo/events/221099320/#event_comment-446456074', target='_blank')
                    | meetup.com/AngularJS-Oslo/events/...
                p
                  span
                    strong Paul S.
                  br
                  strong AngularJS, Oslo, Norway
        .vertical-space-m  
    .container
      .container
        .sub-footer-holder.row.vertical-space-m
          .col-md-4.col-sm-4
            h5
              a(href='/en/info/about_devmeetings') About DevMeetings
            p
              | DevMeetings is a full-day workshop – prepared and hosted by programmers with passion. Since 2011, we have held more than 80 DevMeetings, from Server-Side JavaScript through implementation of games in JavaScript to React, Redux, Ionic and Angular 2.
            p
              a(href='/en/info/about_devmeetings') More about DevMeetings >
          .col-md-4.col-sm-4
            h5
              a(href='/en/info/pwyw') Pay What You Want
            p
              | The main idea of DevMeetings is to keep the workshops open and available to everybody interested in expanding the skills. This is why we decided to introduce the "Pay What You Want" model – you can take part completely free of charge or support the initiative by paying registration fee.
            p
              a(href='/en/info/pwyw') More about Pay What You Want >
          .col-md-4.col-sm-4
            h5 Collaboration
            p
              | We are looking for mentors, sponsors and volunteers who want to help with the organization of the meetings. Get in touch with us to support our initiative.
              | Contact: info (at) devmeetings (dot) org
            p
              a(href='/en/info/contact') Contact us >
        .vertical-space-m
