extends ../../layout-en

block content
  
  .event
    div
      .container
        .row
            .col-md-8.col-sm-8
              .container-dark-gray.visible-xs
                .vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registration is on!
                            span In order to be able to participate in a DevMeeting, 
                            br
                            span you must register.
                            h5 No vacancies.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Register!
                        .row
                          .col-md-2.text-center
              .vertical-padding-s.visible-xs
              h1 Hybrid Apps with Ionic Framework
              div
                p
                  | Full-day workshop dedicated to developers interested in building mobile applications using the Ionic Framework. If you are a web or frontend developer, you will get a chance to learn how to use your JavaScript/HTML/CSS skills to develop applications for mobile devices.
                p
                  | If you have already been creating native mobile apps, then you will be able to learn modern web technologies, based on JavaScript and see how to apply them in mobile applications.
                p
                  | During the DevMeeting we will focus on programming a complete hybrid mobile application for rating pictures: both downloaded from a remote website and those taken in the application using the phone camera.
                h3 Why Ionic?
                p
                  | Ionic framework is becoming popular all around the world. It is one of the most promising modern frameworks for building hybrid mobile applications. With Ionic SDK, we can create a mobile application for Android and iOS using the same codebase and components, as well as share business logic of the application. Ionic SDK also provides tools and services that make it much easier to create mobile applications.
                h3 For whom?
                p
                  | This DevMeeting is dedicated primarily to web developers who have experience in implementing Single Page Applications. You should already know JavaScript and we suggest that before the workshop you get familiar with the basics of AngularJS - as Ionic is in a large extent based on this framework.
                p
                  em See you at the DevMeeting!
                p
                  em Piotr Zwolinski
                  br
                  | Founder of DevMeetings.org 
                  br
                  | piotr (at) devmeetings (dot) org
                  br
                  img.img-responsive.workshop-img.vertical-space-s(src='/img/static/workshops/ionic-krk.jpg' alt='')
                h3 Agenda
                p
                  strong Introduction to hybrid mobile applications:
                 ul
                  li
                      | Presenting SDK Ionic
                  li
                      | What you should know about hybrid applications
                p
                  strong Getting to know the working environment used during the workshop
                p
                  strong Your first hybrid mobile application:
                ul
                  li
                      | Introduction to the project
                  li
                      | Cleaning up the generated code
                p
                  strong Basics techniques for implementing navigation:
                ul
                  li
                      | View, controller, routing
                  li
                      | Creating the main view of the application
                  li
                      | Hamburger menu or tabs
                p
                  strong Displaying photos:
                ul
                  li
                      | Creating an images-download service
                  li
                      | Displaying photos in the main view of the application
                p
                  strong Gestures and navigation:
                ul
                  li
                      | Adding a new view in the application
                  li
                      | Adding gesture support
                p
                  strong Accessing native resources of a device:
                ul
                  li
                      | Introduction to ngCordova
                  li
                      | Installing plugins
                  li
                      | Taking a first picture
                  li
                      | Using geolocation
                p
                  strong List of photos:
                ul
                  li
                      | Displaying a list of photos on a subpage
                  li
                      | Digging deeoper into details
                p
                  strong Connection to "the cloud":
                ul
                  li
                      | Creating a database on Firebase
                  li
                      | Storing and getting data via $http
                p.vertical-space-s
                  img.img-responsive.workshop-img(src='/img/static/workshops/ionic-krk-2.jpg' alt='')
                h3#informacje-praktyczne Practical information
                p
                  strong Where: 
                  |  The conference room in the city centre, the exact location will be mailed to the participants.
                p
                  strong When: 
                  |  Saturday, February 20th 2016, start at 9.00 am (please arrive around 8.45), ending approx. at 4 pm.
                p
                  strong What you should bring: 
                  | The conference room in the city centre, the exact location will be mailed to the participants.
                p
                  strong Participation cost
                  | : Participation in the Pay What You Want model. 
                  a(href='http://devmeetings.pl/en/info/pwyw', target='_blank') More information here.
                  |  People who will pay 100 PLN or more will obtain a high-quality printed certificate of participation.
                  
                h3 What is a DevMeeting?
                p
                  | A DevMeeting is a mix of a hackathon and a programming workshop. Throughout the day, participants implement a sample application – on their own and in teams. Experienced mentors supervise taught content and execution of a workshops and at all times offer their help, provoke discussions and share their practical knowledge.

                p
                  | A DevMeeting is not a lecture or a classic training. We focus on practical skills, coding and exchanging knowledge and experience. It is also a great opportunity to meet other developers and to make valuable contacts with developers from your city.

                p
                  | If you want to discover the atmosphere of DevMeeting, go to our 
                  a(href='https://www.youtube.com/watch?v=De17BOe1GnE', target='_blank') YouTube channel 
                  | (video from DevMeeting on 9th May 2015, Node.JS)
                
              .vertical-space-m
              .container-dark-gray.visible-xs
                .container-fluid.vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registration is on!
                            span In order to be able to participate in a DevMeeting, 
                            br
                            span you must register.
                            h5 No vacancies.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Register!
                        .row
                          .col-md-2.text-center
              .vertical-padding-m
            .col-md-4.col-sm-4(style='position:relative;')
              .well(style='position:fixed;width:25%;z-index:2;')
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-calendar-o
                  .col-md-10
                    h4.noHeaderMargins 20th of June 2015
                    h5.noHeaderMargins.text-muted
                      span Saturday
                      span , 
                      span 09:00AM – 4:00PM
                hr.no-border
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-map-marker
                  .col-md-10
                    h4.noHeaderMargins Kraków
                    h5.noHeaderMargins.text-muted City Centre
                hr
                div
                  .row
                    .col-md-2
                      h1.noHeaderMargins
                        span.fa.fa-ticket
                    .col-md-10
                      h4.noHeaderMargins Registration is on!
                      span In order to be able to participate in a DevMeeting,
                      br
                      span you must register.
                      h5 No vacancies.
                      form(action='/events/es6-maj-krakow/tickets', method='post')
                        .progress
                          .progress-bar.progress-bar-warning(style='width:100%;')
                          .progress-bar.progress-bar-info(style='width:0%;')
                        button.btn.btn-lg.btn-dev.btn-disabled.disabled(disabled='') Register!
                  .row
                    .col-md-2.text-center