extends ../../layout-en

block content
  
  .event
    div
      .container
        .row
            .col-md-8.col-sm-8
              .container-dark-gray.visible-xs
                .vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registration is on!
                            span In order to be able to participate in a DevMeeting, 
                            br
                            span you must register.
                            h5 No vacancies.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Register!
                        .row
                          .col-md-2.text-center
              .vertical-padding-s.visible-xs
              h1 React + Redux
              div
                p
                  | Come join us for a full day DevMeeting workshop on React.js and Redux!
                h3 Why should you be interested in React?
                p
                  | The MVC (Model-View-Controller) paradigm, used for many years, generate problems with state of data when used in large scale applications. Why? If there are many models that are connected to each another, how can we easily find out the conditions in which the app behaves incorrectly? Or ... how to deal with updating models if they can be modified by many asynchronous events?
                h3 Flux? Redux?
                p
                  | Flux - and in particular its specific implementation (Redux) - seems to be the solution to this problem. To render the app elements we will use the components provided by React. It is  one of the most efficient solutions for UI generating. React+Redux together provide a solid base for building scalable SPA applications.
                p
                  | On this DevMeeting you will dive into both React and Redux – and you will have a chance to practice your new skills by implementing a simple, yet complete webshop application.
                p Join us!
                  br
                  | DevMeetings Team

                h3#dlaczego-react- Why React?
                p
                  | React is becoming a more and more popular library used by a wide range of front-end developers all around the world. What are the advantages?
                ul
                  li
                    | It's a library for creating powerful user interfaces built with components
                  li It's easy to learn and to be implemented, also in existing software projects
                  li
                    | Intuitive life cycle of components makes it easy to understand how the application works
                  li
                    | React as a library does not force you to use a specific ecosystem or tools. It's a library, not framework.
                  li
                    | React takes full advantage of the power of JavaScript; advanced algorithm for reducing operations on DOM combined with easy optimization is a great base for highly interactive interfaces
                  li
                    | It's created by Facebook and having support of huge community and companies such as Netflix. It guarantees to be a reliable and proven developer platform
                  li It's easy to expand and to manage
                  li It provides great hints about errors and warnings
                  li
                    | It prodives a well designed API, not changed very often; easy to upgrade to a higher version
                  li
                    | There are solutions enabling the use of components on other platforms – iOS, Android
                h4#-nbsp-  
                h3#dlaczego-redux- Why Redux?
                p
                  | Redux is an application state container inspired by Flux and Elm – it is very easy to get into it, whereas benefits of using it are really great.
                ul
                  li
                    | It has support for Hot Reloading and Time Travel Debugger, which we will implement in the application built during the workshop.
                  li
                    | It is free of defects and complexity of Flux, thanks to using a single container and the so-called reducers.
                  li
                    | It encourages using immutable data structures, which directly translates into efficiency and simplifies debugging.
                  li
                    | You can use it with any library or framework, it does not matter whether you prefer Angular, React or maybe vue.js.
                  li
                    | Free of of complex data dependencies that are present in case of a bigger number of containers in libraries such as Alt.js
                  li Popular and chosen by majority of teams creating React applications.
                h4#-nbsp-  
                h3#100-praktyki 100% practical
                p
                  | During this workshop, the participants will build (from scratch) a simple online shop, learning about React+Redux, also in the context of solving real life problems, such as:
                ul
                  li creating tge first component
                  li dividing application into multiple components
                  li state of a component
                  li capturing events
                  li Redux
                  li communication with an API
                
                h3#informacje-praktyczne Practical information
                p
                  strong Where:
                  |  The conference room in the city centre, the exact location will be mailed to the participants.
                p
                  strong When:
                  |  Saturday, February 20th 2016, start at 9.00 am (please arrive around 8.45), ending approx. at 4 pm.
                p
                  strong What you should bring:
                  |  The conference room in the city centre, the exact location will be mailed to the participants.
                p
                  strong Participation cost
                  | : Participation in the Pay What You Want model. 
                  a(href='/en/info/pwyw', target='_blank') More information here.
                  |  People who will pay 100 PLN or more will obtain a high-quality printed certificate of participation.
                h3 What is a DevMeeting?
                p
                  | A DevMeeting is a mix of a hackathon and a programming workshop. Throughout the day, participants implement a sample application – on their own and in teams. Experienced mentors supervise taught content and execution of a workshops and at all times offer their help, provoke discussions and share their practical knowledge.

                p
                  | A DevMeeting is not a lecture or a classic training. We focus on practical skills, coding and exchanging knowledge and experience. It is also a great opportunity to meet other developers and to make valuable contacts with developers from your city.

                p
                  | If you want to discover the atmosphere of DevMeeting, go to our 
                  a(href='https://www.youtube.com/watch?v=De17BOe1GnE', target='_blank') YouTube channel 
                  | (video from DevMeeting on 9th May 2015, Node.JS)
                
              .vertical-space-m
              .container-dark-gray.visible-xs
                .container-fluid.vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registration is on!
                            span In order to be able to participate in a DevMeeting, 
                            br
                            span you must register.
                            h5 No vacancies.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Register!
                        .row
                          .col-md-2.text-center
              .vertical-padding-m
            .col-md-4.col-sm-4(style='position:relative;')
              .well(style='position:fixed;width:25%;z-index:2;')
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-calendar-o
                  .col-md-10
                    h4.noHeaderMargins 20th of June 2015
                    h5.noHeaderMargins.text-muted
                      span Saturday
                      span , 
                      span 09:00AM – 4:00PM
                hr.no-border
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-map-marker
                  .col-md-10
                    h4.noHeaderMargins Kraków
                    h5.noHeaderMargins.text-muted City Centre
                hr
                div
                  .row
                    .col-md-2
                      h1.noHeaderMargins
                        span.fa.fa-ticket
                    .col-md-10
                      h4.noHeaderMargins Registration is on!
                      span In order to be able to participate in a DevMeeting,
                      br
                      span you must register.
                      h5 No vacancies.
                      form(action='/events/es6-maj-krakow/tickets', method='post')
                        .progress
                          .progress-bar.progress-bar-warning(style='width:100%;')
                          .progress-bar.progress-bar-info(style='width:0%;')
                        button.btn.btn-lg.btn-dev.btn-disabled.disabled(disabled='') Register!
                  .row
                    .col-md-2.text-center