extends ../../layout-en

block content
  
  .container-full
    .container
      .row
        .col-md-10.col-sm-10

          h5 Privacy policy
          ol
            li 1. Respecting your rights and the law on the protection of personal data, we are commited to maintain the security and confidentiality of personal data obtained.
            li 2. Administrator of Personal Data is: Developers Peak Sp. z o.o., Rzeźnicza 28-31, 50-130 Wrocław, KRS 0000513829, NIP: 8971800894, REGON 022436938
            li 3. On the devmeetings.com Website we collect the following data: name and surname, e-mail
            li 4. Cookies – our Website uses cookies technology for storing data in order to adjust the Website to your individual needs. The owners of other websites will not have access to this data. If you do not agree to personalize the Website, we recommend disabling cookies in your web browser options.
            li 5. We also collect and store the data on how a User uses the Website. The collected data is used to extend the functionalities offered by the Website.
            li 6. Registration for the event organized by DevMeetings is equivalent to giving consent to receiving the newsletter. If you do not wish to receive such messages, you may cancel your subscription at any time (in each newsletter there is placed a deactivation link).
            li 7. In the case of Users who gave their personal data and consent to their processing, we have the right to process their personal information for marketing of own services. The Company does not share personal information of the Users, especially their email addresses.
            li 8. All Users can choose if and to what extent they want to use our services and share information about themselves. If for some reason you do not wish to leave your personal data you have the right to remove it or not to use our Website.
            li 9. No data is made available to third parties. We also do not store confidential data.
            li 10. In accordance with the provisions of the Act of August 29, 1997 on the Protection of Personal Data (Journal of Laws No. 133, item 883 with amendments) you have the right to correct, amend, update, correct and request removal of your personal data. To do this, use the appropriate tab on the website or send an e-mail to info@devmeetings.org
            li 11. During DevMeetings the Organizer may carry out photographic and video documentation. Participation in the events equals giving consent to the use of the image of each of the Participants, Speakers and Leaders in informational and promotional materials of the Organiser and Sponsors. A person who does not give such consent is required to inform the organisers by sending an e-mail to the address info@devmeetings.org after the registration.
          h5 The execution of orders
          ol
            li 1. You can register at the event organised by DevMeetings by selecting the event and the date and filling in the registration form.
            li 2. Events organized by DevMeetings are offered in the "Pay What You Want" system – a Participant determines how much they want to pay for participation in an event.
            li 3. The Participant declares how much they wants to pay for participation in the event during registration for an event
          h5 Resigning from participation in workshops
          ol
            li 1. After registering for an event it is not possible to return a ticket. Reimbursement is not possible.
            li 2. Should a situation where a Participant cannot take part in an event for which they have registered, they can transfer their ticket to another person. In this case, they must inform the Organiser about the transfer of ticket, including giving personal data (name and surname, e-mail) of a person to whom the ticket is transferred.
          h5 Cancellation of an event, reimbursement
          ol
            li 1. DevMeetings has the right to cancel event organized by them.
            li 2. In the case of cancellation of the event, registered participants will receive refund of fees they have paid.
          h5 Payment
          ol
            li 1. Payment for participation in organized events is made when registering for the event.
            li 2. Available payment methods: electronic transactions carried out by PayU.pl
      .vertical-space-m
          


