extends ../../layout-de

block content
  
  .container-full
    .container
      h1.h2.centered.vertical-space-m 80+ veranstaltete Workshops seit 2011.
      p.h4.centered Schauen Dir einige Fotoberichte an.
      .photostory-holder.row.vertical-space-m
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.986399518047406.1073741831.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/ionic.jpg' alt='')
            .box-details
              h4.text-center
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.986399518047406.1073741831.151035771583789&type=3', target='_blank')
                  | Ionic Framework
              p
                | 
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='http://www.meetup.com/Seattle-Devmeetings/photos/26613415/', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/es6.jpg' alt='')
            .box-details
              h4.text-center
                a.text-darkblue(href='http://www.meetup.com/Seattle-Devmeetings/photos/26613415/', target='_blank')
                  | ES2015 / ES6
              p
                | 
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='http://www.meetup.com/Seattle-Devmeetings/photos/26409256/#442014593', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/angularjs.jpg' alt='')
            .box-details
              h4.text-center
                a.text-darkblue(href='http://www.meetup.com/Seattle-Devmeetings/photos/26409256/#442014593', target='_blank')
                  | AngularJS
              p
                | 
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.213760888644610.53558.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/ios_1.jpg' alt='')
            .box-details
              h4.text-center
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.213760888644610.53558.151035771583789&type=3', target='_blank')
                  | OpenGL unter iOS
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='http://www.facebook.com/media/set/?set=a.657893057564722.1073741828.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/devcamp_1.jpg' alt='')
            .box-details
              h4.text-center
                a.text-darkblue(href='http://www.facebook.com/media/set/?set=a.657893057564722.1073741828.151035771583789&type=3', target='_blank')
                  | Responsive Web Design DevCamp
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.199821623371870.44415.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/js_games_3.jpg' alt='')
            .box-details
              h4.text-center
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.193725267314839.42082.151035771583789&type=3', target='_blank')
                  | JS Games Development
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.199821623371870.44415.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/js_mobile_1.jpg' alt='')
            .box-details
              h4.text-center
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.199821623371870.44415.151035771583789&type=3', target='_blank')
                  | Mobilr JavaScript
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.640476099306418.1073741827.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/rwd_1.jpg' alt='')
            .box-details
              h4.text-center
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.640476099306418.1073741827.151035771583789&type=3', target='_blank')
                  | Responsive Web Design
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.219367798083919.55512.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/ssjs_3.jpg' alt='')
            .box-details
              h4.text-center
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.219367798083919.55512.151035771583789&type=3', target='_blank')
                  | Server Side JavaScript
    .container-light-gray
      .container
        h2.centered.vertical-space-m Was ist DevMeeting?
        h3.h4.centered Ganztägiger Workshop für leidenschaftliche Softwareentwickler nach dem "Pay What You Want"-Modell.
        .row.vertical-space-m
          .col-md-8.col-md-offset-2
            .videos 
              <iframe width="854" height="510" src="https://www.youtube.com/embed/t4zh2gII5J8" allowfullscreen></iframe>
        .row.vertical-space-l.features
          .col-md-10.col-md-offset-1.col-sm-12
            .row
              .col-sm-4.text-center
                i.fa.fa-wrench
                h4 Workshop + Hackathon
                p Lerne von Mentoren und entwickle zusammen mit anderen Teilnehmern.
              .col-sm-4.text-center
                i.fa.fa-laptop
                h4 Entwickler mit Leidenschaft
                p Nur motivierte Programmierer, die lernen, Erfahrungen austauschen und zusammen coden wollen.
              .col-sm-4.text-center
                i.fa.fa-calendar
                h4 Samstags, 8 Stunden lang
                p Genug Zeit, um in eine neue Technologie einzutauchen und eine komplette App implementieren.
        .row.vertical-space-l.features
          .col-md-10.col-md-offset-1.col-sm-12
            .row
              .col-sm-4.text-center
                i.fa.fa-cogs
                h4 Reale Projekte implementieren
                p Teilnehmer implementieren Weshops, Chats oder ähnliche - kleine, aber vollständige Apps
              .col-sm-4.text-center
                i.fa.fa-users
                h4 Mentoren
                p Profitiere von dem Know-How der Trainer, lerne von ihnen, bespreche Best Practices
              .col-sm-4.text-center
                i.fa.fa-code
                h4 Moderne Themen
                p Tauch in moderne Themen ein, wie: Angular 2, React+Redux, ES2015
        br
    .container-opinions
      .container
        h2.centered.vertical-space-m Meinungen der Teilnehmer
        .opinions-holder.row.vertical-space-m
          .opinions-col.opinion-big
            .col-md-8.col-sm-10.col-md-offset-2.col-sm-offset-1
              .row
                .col-sm-2.hidden-xs
                  img.img-responsive(src='/img/static/homepage/blake-s.jpg' alt='')
                .col-md-9.col-sm-10
                  .em
                    p
                      | Thanks to everyone who put the event together, the hosts and mentors! It really seemed like there was something for everyone at this event, from the junior dev to seasoned professionals.
                    p
                      | In my experience this is sometimes not the case esp. when dealing with advanced topics, and I feel that it says a lot about the event organization. 
                    p
                      | The tutorial format and mentoring was probably the best I've seen at a meetup of this kind so far. It was a very valuable experience!
                    p
                      a(href='http://www.meetup.com/Seattle-Devmeetings/events/226985992/#event_comment-458693701', target='_blank')
                        | meetup.com/Seattle-Devmeetings/events/...
                      br
                  h5
                    | Blake S.
                  h5
                    | Ecmascript 6, Seattle, WA
        .opinions-holder.row.vertical-space-m
          .opinions-col
              .col-md-1.col-xs-2
                img.img-responsive(src='/img/static/homepage/andrew-y.jpg' alt='')
              .col-md-5.col-sm-4.col-xs-10
                em.big
                  | Loved the AngularJS workshop!! Definitely great to have gotten an in-depth taste of JQuery.
                p
                  a(href='http://www.meetup.com/Seattle-Devmeetings/events/222682646/#event_comment-451175537', target='_blank')
                    | meetup.com/Seattle-Devmeetings/events/...
                p
                  span
                    strong Andrew Y.
                  br
                  strong AngularJS, Seattle, WA
          .opinions-col
              .col-md-1.col-xs-2
                img.img-responsive(src='/img/static/homepage/paul-s.jpg' alt='')
              .col-md-5.col-sm-4.col-xs-10
                em.big
                  | Great workshop! Looking forward to the next meetup ;)
                p
                  a(href='http://www.meetup.com/AngularJS-Oslo/events/221099320/#event_comment-446456074', target='_blank')
                    | meetup.com/AngularJS-Oslo/events/...
                p
                  span
                    strong Paul S.
                  br
                  strong AngularJS, Oslo, Norway
        .opinions-holder.row.vertical-space-m
          .opinions-col
              .col-md-1.col-xs-2
                img.img-responsive(src='/img/static/homepage/tony-h.jpg' alt='')
              .col-md-5.col-sm-4.col-xs-10
                em.big
                  | Thanks for the meetup! Excellent material and help from the organisers. Even though I had no experience in web development I was able to follow along and learned a lot.
                p
                  a(href='http://www.meetup.com/AngularJS-Oslo/events/221099320/#event_comment-446442714', target='_blank')
                    | meetup.com/AngularJS-Oslo/events/...
                p
                  span
                    strong Tony H.
                  br
                  strong AngularJS, Oslow, Norway
          .opinions-col
              .col-md-1.col-xs-2
                img.img-responsive(src='/img/static/homepage/hs.jpg' alt='')
              .col-md-5.col-sm-4.col-xs-10
                em.big
                  | Awesome workshop.. thank you for doing yhis. It is a saturday very well spent...
                p
                  a(href='http://www.meetup.com/Seattle-Devmeetings/events/222682646/#event_comment-451146648', target='_blank')
                    | meetup.com/Seattle-Devmeetings/events/...
                p
                  span
                    strong HS
                  br
                  strong AngularJS, Seattle, WA

        .vertical-space-m
    .container-light-gray
      .container
        .founder-holder
          h2.centered.vertical-space-m Wer steht dahinter?
          .founder-col.row.vertical-space-m
            .col-md-2.col-sm-2.col-sm-offset-1.hidden-xs
              img.img-responsive(src='/img/static/about_devmeetings/pzwolinski.png' alt='')
            .col-md-8.col-sm-8.col-xs-12
              h4
                | Piotr Zwolinski
              p
                | Seit 2008 organisiere ich Workshops für Entwickler, habe auch die erste Edition der <a href="http://front-trends.com" target="_blank">Front-Trends Konferenz</a> veranstaltet.
              p
                | Über 10 Jahre lang habe ich beruflich auf der J2EE-Plattform und in JavaScript programmiert. Jetzt berate ich Unternehmen hinsichtlich den Softwareentwicklungsprozessen, veranstalte Schulungen und entwickele die DevMeetings-Initiative.
              p
                span.fa.fa-envelope
                | &nbsp;piotr (at) devmeetings (dot) org
                |, 
                a.link(href='http://www.xing.com/profile/Piotr_Zwolinski', target='_blank') XING
                |, 
                a.link(href='http://de.linkedin.com/pub/piotr-zwolinski/0/63b/42b', target='_blank') Linked In


          .founder-col.row.vertical-space-m
            .col-md-2.col-sm-2.col-sm-offset-1.hidden-xs
              img.img-responsive(src='/img/static/about_devmeetings/tdrwiega.png' alt='')
            .col-md-8.col-sm-8.col-xs-12
              h4
                | Tomek Drwiega
              p
                | Java, JavaScript-Programmierer, Liebhaber des Webs und neuer Technologien. Sucht ständig nach neuen Herausforderungen und alternativen Lösungen.
              p
                | Gegenwärtig an neuen Schulungsmethoden des Programmierens, BDD sowie funktionellem und mobilen Programmieren, interessiert.
              p
                span.fa.fa-envelope
                | &nbsp;tomek (at) devmeetings (dot) org
                |, 
                a.link(href='https://github.com/tomusdrw', target='_blank') GitHub
                |, 
                a.link(href='http://www.linkedin.com/in/tomaszdrwiega', target='_blank') Linked In
                |, 
                a.link(href='https://www.facebook.com/tomasz.drwiega', target='_blank') FB
        .vertical-space-m           
