extends ../../layout-de

block content
  
  .container-full
    .container
      h1.h2.centered.vertical-space-m 50 Werkstätten seit 2011 organisiert.
      p.h4.centered Schauen Sie sich einige Fotoberichte an.
      .photostory-holder.row.vertical-space-m
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.213760888644610.53558.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/ios_1.jpg' alt='')
            .box-details
              h4
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.213760888644610.53558.151035771583789&type=3', target='_blank')
                  | OpenGL unter iOS
              p
                | Workshop, auf dem wir ein iOS-Spiel mit OpenGL ES implementiert haben.
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='http://www.facebook.com/media/set/?set=a.657893057564722.1073741828.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/devcamp_1.jpg' alt='')
            .box-details
              h4
                a.text-darkblue(href='http://www.facebook.com/media/set/?set=a.657893057564722.1073741828.151035771583789&type=3', target='_blank')
                  | Responsive Web Design DevCamp
              p
                | Dreitägige Trainingslager für fortgeschrittene Frontend Entwickler zum Thema Responsive Web Design.
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.199821623371870.44415.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/js_games_3.jpg' alt='')
            .box-details
              h4
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.193725267314839.42082.151035771583789&type=3', target='_blank')
                  | JS Games Development
              p
                | Workshop, auf dem wir ein Mortal-Kombat-ähnliches Spiel mit JavaScript, socket.io und Node.js implementiert haben - natürlich mit einem Multiplayer-Modus.
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.199821623371870.44415.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/js_mobile_1.jpg' alt='')
            .box-details
              h4
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.199821623371870.44415.151035771583789&type=3', target='_blank')
                  | Mobilr JavaScript
              p
                | Auf dem Workshop haben wir mobile JavaScript Apps mit PhoneGap, Sencha Touch und Titanium Appcelerator gebaut.
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.640476099306418.1073741827.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/rwd_1.jpg' alt='')
            .box-details
              h4
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.640476099306418.1073741827.151035771583789&type=3', target='_blank')
                  | Responsive Web Design
              p
                | Workshop zum Thema Responsive Web Design: fortgeschrittene CSS-Techniken, Bootstrap und Foundation.
        .col-md-4.col-sm-6
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.219367798083919.55512.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/ssjs_3.jpg' alt='')
            .box-details
              h4
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.219367798083919.55512.151035771583789&type=3', target='_blank')
                  | Server Side JavaScript
              p
                | Workshop, auf dem wir ein komplexes webbasiertes IDE mit Node.js gebaut haben.
    .container-light-gray
      .container
        h2.centered.vertical-space-m Was ist DevMeeting?
        h3.h4.centered Ganztägige Werkstätten für leidenschaftliche Programmierer in Formel Pay What You Want.
        .about-holder.row.vertical-space-m
          .about-col
            .col-md-6.col-sm-6
              h4
                | Die Themen
              p
                | Uns interessieren ausschließlich neue, anspruchsvolle Themen (JavaScript, Node.JS, Responsive Web Design, iOS). Wir lehren neue Technologien, erlauben Themen kennenzulernen, die vielleicht in einigen Monaten populär werden (z.B. Responsive Web Design), oder vielleicht vom Markt verschwinden (RingoJS), wir garantieren jedoch gute Vorbereitung der Schulungen und ihre interessante Form.
              p Welche Themen haben wir in der Vergangenheit bearbeitet?
              ul.figure-list
                li Programmieren der Spiele in JavaScript
                li JavaScript auf dem Server: RingoJS, V8CGI und NodeJS
                li Programmieren der Mobile Apps in JavaScript
                li iOS Games Development
              p Aktuelle Themen:
              ul.figure-list
                li Responsive Web Design
                li JavaScript für Programmierer
                li JavaScript auf dem Server: Node.js
               
          .about-col
            .col-md-6.col-sm-6
              h4
                | Die Form
              p
                | Die DevMeetings finden in Form interaktiver Werkstätte statt. Kurze, sachliche Präsentationen des Trainers (meistens auf Beispielen echten Codes basierend) verflechten sich mit praktischen Themen, die die Teilnehmer durchführen. Erwarten Sie eine Menge Code, der GitHub soll von unseren Pushes kochen!
              p
                | Während der Werkstätten implementieren wir in der Regel in Gruppen eine kleine, aber komplette App. Erwarten Sie sachliche Diskussionen mit anderen Developern. Die Form der Werkstätte ist dynamisch, locker, jedoch professionell, auf Erfahrungsaustausch eingestellt.
              p
                | Wie sieht ein DevMeeting Minute nach Minute? Lesen Sie den Bericht eines unserer Stammteilnehmer:
              ul.figure-list
                li
                  a.link(href='http://blog.piecioshka.pl/devmeetings/devmeetings-middle-end-w-oparciu-o-serverside-js-relacja-live', target='_blank') Devmeetings: noSQL Databases [Relacja Live]<br/>
                  em
                    | http://blog.piecioshka.pl/devmeetings/devmeetings-middle-end-w-oparciu-o-serverside-js-relacja-live
                li
                  a.link(href='http://blog.piecioshka.pl/devmeetings/devmeetings-nosql-databases-relacja-live', target='_blank')
                    | DevMeetings: Middle-End w oparciu o ServerSide JS [Relacja Live]<br/>
                  em http://blog.piecioshka.pl/devmeetings/devmeetings-nosql-databases-relacja-live
        .about-holder.row
          .about-col
            .col-md-6.col-sm-6
              h4
                | Die Organisation
              p
                | Die DevMeetings finden in der Regel an Wochenenden statt, damit Sie unabhängig von der Arbeit oder dem Studium teilnehmen können. Sie dauern den ganzen Tag (8 oder sogar 12 Stunden). Wegen praktischem Charakter (einige Stunden der Codierung) bringen die Teilnehmer eigene Laptops.
              p
                | Damit die DevMeetings für alle zugänglich sind, haben wir entschieden, sie in der Formel Pay What You Want zu organisieren.
          .about-col
            .col-md-6.col-sm-6
              h4
                | Für wen?
              p
                | Teilnehmer der DevMeetings sind sowohl erfahrene Developer, die kommen, um ihr Wissen zu teilen und zu diskutieren, als auch weniger erfahrene, die am Anfang des langen Wegs zur Meisterschaft stehen. Uns verbindet eins: Leidenschaft. Würde jemand ohne Leidenschaft den ganzen Samstag beim Codieren verbringen?
                | An DevMeetings nahmen u.a. teil:
              ul.figure-list
                li
                  a.link(href='http://michalbe.blogspot.com', target='_blank') Michał Budzyński
                  | , Veranstalter der Konferenz 
                  a.link(href='http://ongamestart.com', target='_blank') OnGameStart
                li
                  a.link(href='http://pawlowski.it', target='_blank') Marek Pawłowski
                  | , Mitautor des Browser-Spiels 
                  a.link(href='http://www.pykam.pl/tanadu', target='_blank') Tanadu
                li
                  a.link(href='http://blog.end3r.com', target='_blank') Andrzej Mazur
                  | , Spiele-Programmierer HTML5/JS, Blogger
                  a.link(href='http://blog.end3r.com', target='_blank') blog.end3r.com
                li
                  a.link(href='http://twitter.com/rafaelk', target='_blank') Rafał Kukawski
                  | , Autor
                  a.link(href='http://webhelp.pl/artykuly/autor/rafal-kukawski', target='_blank') WebHelp.pl
                li
                  a.link(href='http://twitter.com/bartaz', target='_blank') Bartek Szopka
                  | , Autor
                  a.link(href='http://bartaz.github.io/impress.js/#/bored', target='_blank') ImpressJS
        br
    .container
      h2.centered.vertical-space-m Meinungen der Teilnehmer
      .opinions-holder.row.vertical-space-m
        .opinions-col
          .col-md-6.col-sm-6
            .row
              .col-sm-2.hidden-xs
                img.img-responsive(src='/img/quote-marks.png' alt='')
              .col-md-9.col-sm-10
                h4
                  | Maciej Dragan
                h5
                  | Responsive Web Design
                  br
                  | Kraków, 26.10.2013
                .em
                  p
                    | Danke für eine hervorragende RWD-Schulung letztes Wochenende! Ich liebe Leute, die etwas leidenschaftlich tun und große Erfahrung in dem haben, was sie besprechen, zu hören – sowohl das Eine und das Andere hatten wir in Hülle und Fülle.
                  p
                    | Besonders wichtig war für mich über Sachen zu hören (z.B. Methodik der Einbindung responsiver Bilder und spezifisches Verhalten in verschiedenen Browsern), dessen Erarbeitung über zahlreiche Fehler, Versuche und eine Menge verlorener Zeit erarbeitet werden müsste. Manchmal waren es Sachen, die auf den ersten Blick unwichtig erscheinen könnten, z.B. solche wie BEM-Benennungskonvention der Elementeklassen.
                  p
                    | Beste Grüße und auf Wiedersehen in der Zukunft!
        .opinions-col
          .col-md-6.col-sm-6
            .row
              .col-sm-2.col-md-offset-1.hidden-xs
                img.img-responsive(src='/img/quote-marks.png' alt='')
              .col-md-9.col-sm-10
                h4
                  | Andrzej “end3r” Mazur
                h5
                  | Programmieren von Spielen im JS
                  br
                  | Warszawa, 22-23.01.2011
                .em
                  p
                    | Es waren sehr intensive und inhaltsreiche zwei Tage, professionelle Schulung auf sehr hohem Niveau. Innerhalb von 16 Stunden habe ich mehr gelernt als im letzten Monat. Es gab recht viele Aufgaben, in denen wir unsere Fähigkeiten zeigen und neue, interessante Lösungen kennenlernen konnten.
                  p
                    | Vielen Dank dem Leiter (Marek Pawłowski), dem Veranstalter (Piotr Zwoliński, Dev Meetings) und dem sondergast (Michał Budzyński), der die Werkstätten ergänzte. Ich wünsche viel Erfolg mit der Entwicklung der Idee kostenloser, professioneller Schulungen und kann ganz ehrlich jeden zu weiteren Auflagen einladen, weil es sich lohnt!
      .opinions-holder.row.vertical-space-m
        .opinions-col
          .col-md-6.col-sm-6
            .row
              .col-sm-2.hidden-xs
                img.img-responsive(src='/img/quote-marks.png' alt='')
              .col-md-9.col-sm-10
                h4
                  | Jakub Wiśniowski
                h5
                  | Programmieren von Spielen im JS
                  br
                  | Gliwice, 25. marca 2011
                .em
                  p
                    | Schulungen sind langweilig. Ich war bei vielen, auf denen nach einer theoretischen Einführung eine Übung auszuführen war: 1. Taste X klicken, 2. Bla bla bla eintragen, 3. Taste Y klicken usw. Schrecklich, hier war es jedoch anders!
                  p
                    | Die Formel des DevMeetings besteht darin, dass die Teilnehmer in Gruppen aufgeteilt werden, der Leiter recht kurze theoretische Einführung macht und man danach einen Code schreiben soll, der eine Funktionalität erfüllen soll.
                  p
                    | Es gibt keine „ein-Schritt-nach-dem-anderen”-Instruktion, die Gruppe erhält Dateien mit der Programmstruktur, einige Hinweise und beginnt an einer Lösung zu denken und den Code zu erstellen.
        .opinions-col
          .col-md-6.col-sm-6
            .row
              .col-sm-2.col-md-offset-1.hidden-xs
                img.img-responsive(src='/img/quote-marks.png' alt='')
              .col-md-9.col-sm-10
                h4
                  | Konrad ‘ktoso’ Malawski
                h5
                  | Programmieren von Spielen im JS
                  br
                  | Kraków, 19-20.02.2011
                .em
                  p
                    | Gestern und heute habe ich etwas JavaScript bei kostenloser Schulung, die vom  http://www.devmeetings.pl/ organisiert wurde, gehackt. :-)
                  p
                    | Weil ich recht viel GWT und JS codiere und in den letzten Jahren recht stark darin geworden bin, habe ich mich gemeldet, um mehr über die Optimisierung von JS zu erfahren und einige Tricks zu meiner Toolkiste hinzuzufügen. Szenarios aus Realleben wären willkommen. Es stellte sich heraus, dass  Tanadu (polnisches „heldenhaftes“ Browserspiel) 100% im simplen JS implementiert wurde. Was ziemlich schockierend ist.
                  p
                    | Erfüllte die „Schulung“ meine Erwartungen? Yup.
      .vertical-space-m
    .container-light-gray
      .container
        .founder-holder
          h2.centered.vertical-space-m Wer steht dahinter?
          .founder-col.row.vertical-space-m
            .col-md-2.col-sm-2.col-sm-offset-1.hidden-xs
              img.img-responsive(src='/img/static/about_devmeetings/pzwolinski.png' alt='')
            .col-md-8.col-sm-8.col-xs-12
              h4
                | Piotr Zwoliński
              p
                | Seit 2008 organisiere ich Werkstätten für Programmierer, habe auch die Erstauflage der Konferenz Front-Trends mitorganisiert.
              p
                | Über 10 Jahre habe ich beruflich auf der J2EE-Plattform und im JavaScript programmiert. Jetzt berate ich Firmen hinsichtlich dem Bau der Software und organisiere Schulungen, entwickele die Initiative DevMeetings.com und experimentiere mit innovativen Lerntechniken, u.a. im Programmierbereich.
              p
                span.fa.fa-envelope
                | &nbsp;piotr (at) devmeetings (dot) com
                |, 
                a.link(href='http://www.xing.com/profile/Piotr_Zwolinski', target='_blank') XING
                |, 
                a.link(href='http://de.linkedin.com/pub/piotr-zwolinski/0/63b/42b', target='_blank') Linked In
                |, 
                a.link(href='http://www.goldenline.pl/piotr-zwolinski8/', target='_blank') GoldenLine


          .founder-col.row.vertical-space-m
            .col-md-2.col-sm-2.col-sm-offset-1.hidden-xs
              img.img-responsive(src='/img/static/about_devmeetings/tdrwiega.png' alt='')
            .col-md-8.col-sm-8.col-xs-12
              h4
                | Tomasz Drwięga
              p
                | Java, JavaScript-Programmierer, Liebhaber des Webs und neuer Technologien. Sucht ständig neue Herausforderungen und alternative Lösungen.
              p
                | Seit langem mit der Informatik verbunden – bei ersten Programmen in Turbo Pascal angefangen, über Delphi, HTML, PHP, JavaScript bis zur „echten Programmierung“ im C, Python und Java. Liebhaber des Linux und ein Mann für unmögliche, schwierige und hoffnungslose Aufgaben.
              p
                | Gegenwärtig an neuen Schulungsmethoden des Programmierens, BDD sowie funktionellem und mobilen Programmieren, interessiert.
              p
                span.fa.fa-envelope
                | &nbsp;tomek (at) devmeetings (dot) com
                |, 
                a.link(href='https://github.com/tomusdrw', target='_blank') GitHub
                |, 
                a.link(href='http://www.linkedin.com/in/tomaszdrwiega', target='_blank') Linked In
                |, 
                a.link(href='https://www.facebook.com/tomasz.drwiega', target='_blank') FB
        .vertical-space-m           
