extends ../../layout-pl

block content
  
  .container-full
    .container
      h2.centered.vertical-space-m Über 100 veranstaltete Workshops seit 2011
      .photostory-holder.row.vertical-space-m
        .col-md-4.col-sm-6.col-xs-7
          .box
            .box-image
              img.img-responsive.workshop-img(src='/img/static/about_devmeetings/ios_1.jpg')
            .box-details
              h4
                | OpenGL unter iOS
              p
                | Workshop, auf dem wir ein iOS-Spiel mit OpenGL ES implementiert haben.
        .col-md-4.col-sm-6.col-xs-7
          .box
            .box-image
              img.img-responsive.workshop-img(src='/img/static/about_devmeetings/devcamp_1.jpg')
            .box-details
              h4
                | Responsive Web Design DevCamp
              p
                | Dreitägige Trainingslager für fortgeschrittene Frontend Entwickler zum Thema Responsive Web Design.
        .col-md-4.col-sm-6.col-xs-7
          .box
            .box-image
              img.img-responsive.workshop-img(src='/img/static/about_devmeetings/js_games_3.jpg')
            .box-details
              h4
                | JS Games Development
              p
                | Workshop, auf dem wir ein Mortal-Kombat-ähnliches Spiel mit JavaScript, socket.io und Node.js implementiert haben - natürlich mit einem Multiplayer-Modus.
        .col-md-4.col-sm-6.col-xs-7
          .box
            .box-image
              img.img-responsive.workshop-img(src='/img/static/about_devmeetings/js_mobile_1.jpg')
            .box-details
              h4
                | Mobil JavaScript
              p
                | Auf dem Workshop haben wir mobile JavaScript Apps mit PhoneGap, Sencha Touch und Titanium Appcelerator gebaut.
        .col-md-4.col-sm-6.col-xs-7
          .box
            .box-image
              img.img-responsive.workshop-img(src='/img/static/about_devmeetings/rwd_1.jpg')
            .box-details
              h4
                | Responsive Web Design
              p
                | Workshop zum Thema Responsive Web Design: fortgeschrittene CSS-Techniken, Bootstrap und Foundation.
        .col-md-4.col-sm-6.col-xs-7
          .box
            .box-image
              img.img-responsive.workshop-img(src='/img/static/about_devmeetings/ssjs_3.jpg')
            .box-details
              h4
                | Server Side JavaScript
              p
                | Workshop, auf dem wir ein komplexes webbasiertes IDE mit Node.js gebaut haben.
    .container-light-gray
      .container
        h2.centered.vertical-space-m Was ist ein DevMeeting?
        h4.centered Ganztägiges Event für Entwickler: Mix zwischen Workshop und Hackathon
        .about-holder.row.vertical-space-m
          .about-col
            .col-md-6.col-sm-6
              h4
                | Themen
              p                
                | Wir sind nur daran interessiert, neue, ambitionierte Themen (JavaScript, Node.js, React.JS, Responsive Webdesign) zu veanstalten.
              p Welche Themen haben wir in der Vergangenheit veranstaltet?
              ul.figure-list
                li Games-Entwicklung mit JavaScript
                li Serverside JavaScript: RingoJS, V8CGI und NodeJS
                li Mobile Apps Entwicklung mit JavaScript
                li iOS Games Development
              p Aktuelle Themen:
              ul.figure-list
                li Responsive Web Design
                li ECMAScript 6
                li Angular JS
                li Node.js
                li Ionic Framework
                li React.js + Flux
          .about-col
            .col-md-6.col-sm-6
              h4
                | Form
              p
                | DevMeetings sind eine Mischung zwischen Workshop Hackathon. Kurze, auf den Punkt gebrachte Lightning-Talks (basierend vor allem auf Codebeispielen) wechseln sich mit Coding-Tasks. Ziel ist, eine komplette Anwendung in 8 Stunden zu implementieren.
              p
                | Während des Workshops implementieren wir eine kleine, aber komplette App. Die Entwicklung findet in kleinen Teams statt, um Wissenaustausch in einer lockeren, jedoch professionellen Umgebung zu ermöglichen.
        .about-holder.row
          .about-col
            .col-md-6.col-sm-6
              h4
                | Veranstaltung
              p
                | DevMeeting finden Samstags statt, um Teilnahme allen Entwicklern zu ermöglichen. Dauer von 6 bis 8 Studen. Teilnehmer bringen eigene Laptops. Für Catering wird gesorgt.
          .about-col
            .col-md-6.col-sm-6
              h4
                | Für wen
              p
                | Unter den Teilnehmern trifft man sowohl erfahrene Entwickler, als auch diejenigen, die Ihr Abendteuer mit neuen Technologien anfangen. Es verbindet uns eines: Leidenschaft. Würde eine Person ohne Leidenschaft den ganzen Samstag bei Entwicklung verbringen?
        br
    

     .container

      h3.centered.vertical-space-m Einige Impressionen von DevMeetings
      .row.vertical-space-m
        .col-md-3.col-sm-6
          img.centered.img-responsive(src='/img/workshop_photos/f_1.jpg')
        .col-md-3.col-sm-6
          img.centered.img-responsive(src='/img/workshop_photos/f_2.jpg')
        .col-md-3.col-sm-6.hidden-sm.hidden-xs
          img.centered.img-responsive(src='/img/workshop_photos/f_3.jpg')
        .col-md-3.col-sm-6.hidden-sm.hidden-xs
          img.centered.img-responsive(src='/img/workshop_photos/f_4.jpg')
      .row.vertical-space-m
        .col-md-3.col-sm-6
          img.centered.img-responsive(src='/img/workshop_photos/f_5.jpg')
        .col-md-3.col-sm-6
          img.centered.img-responsive(src='/img/workshop_photos/f_6.jpg')
        .col-md-3.col-sm-6.hidden-sm.hidden-xs
          img.centered.img-responsive(src='/img/workshop_photos/f_7.jpg')
        .col-md-3.col-sm-6.hidden-sm.hidden-xs
          img.centered.img-responsive(src='/img/workshop_photos/f_8.jpg')
      .row.vertical-space-m
        .col-md-3.col-sm-6
          img.centered.img-responsive(src='/img/workshop_photos/f_9.jpg')
        .col-md-3.col-sm-6
          img.centered.img-responsive(src='/img/workshop_photos/f_10.jpg')
        .col-md-3.col-sm-6.hidden-sm.hidden-xs
          img.centered.img-responsive(src='/img/workshop_photos/f_11.jpg')
        .col-md-3.col-sm-6.hidden-sm.hidden-xs
          img.centered.img-responsive(src='/img/workshop_photos/f_12.jpg') 

      .vertical-space-m
    .container-light-gray
      .container
        .founder-holder
          h2.centered.vertical-space-m Veranstalter
          .founder-col.row.vertical-space-m
            .col-md-4.col-sm-4.hidden-xs
              h4
                img.img-responsive(src='/img/static/about_devmeetings/pzwolinski.png')
            .col-md-8.col-sm-8.col-xs-12
              h4
                | Piotr Zwolinski
              p
                | Seit 2008 veranstalte ich Workshops für Entwickler.
              p
                | Seit über 12 Jahren professionelle Entwicklungserfahrung (J2EE und Javascript). Derzeit tätig als Berater und Workshopveranstalter.
              p
                .fa.fa-envelope
                | &nbsp;piotr (at) devmeetings (dot) org
                |, 
                a.link(href='http://www.xing.com/profile/Piotr_Zwolinski', target='_blank') XING
                |, 
                a.link(href='http://de.linkedin.com/pub/piotr-zwolinski/0/63b/42b', target='_blank') Linked In
              hr


          .founder-col.row
            .col-md-4.col-sm-4.hidden-xs
              h4
                img.img-responsive(src='/img/static/about_devmeetings/tdrwiega.png')
            .col-md-8.col-sm-8.col-xs-12
              h4
                | Tom Drwiega
              p
                | Java Developer, JavaScript- und Web-Enthusiasten und neue Technologien. Wir sind ständig auf der Suche nach neuen Herausforderungen und Lösungsalternativen.
              p
                | Derzeit interessiert sich für neue Methoden der Ausbildung im Bereich Softwareentwicklung.
              p
                .fa.fa-envelope
                | &nbsp;tomek (at) devmeetings (dot) org
                |, 
                a.link(href='https://github.com/tomusdrw', target='_blank') GitHub
                |, 
                a.link(href='http://www.linkedin.com/in/tomaszdrwiega', target='_blank') Linked In
        .vertical-space-m           
