extends ../../layout-de

block content
  
  .event
    div
      .container
        .row
            .col-md-8.col-sm-8
              .container-dark-gray.visible-xs
                .vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registrierung läuft!
                            span Um an DevMeeting teilzunehmen,
                            br
                            span müssen Sie sich registrieren.
                            h5 Keine freien Plätze.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Registrieren Sie sich!
                        .row
                          .col-md-2.text-center
              .vertical-padding-s.visible-xs
              h1 Angular 2
              div
                p
                  | Das DevMeetings Team lädt zu einer ganztägigen Werkstatt über Angular 2 in Verbindung mit TypeScript und ES2015.
                p
                  | Obwohl Angular 2 noch in der Alfa-Phase ist, sollten sich die wichtigsten Konzepte nicht mehr ändern, vor allem deswegen, dass das erste Beta in den nächsten Tagen erscheinen sollte. Deswegen ist jetzt der beste Zeitpunkt, den neuen Angular sowie den TypeScript – zu JavaScript kompilierte Sprache, in der die Arbeit mit der neuen Angular-Version die reinste Freude ist, kennenlernen zu beginnen.
                h3 Warum Angular 2?
                p
                  | Die Autoren des Angulars möchten mit vielen im ersten Teil des Frameworks anwesenden Konzepten brechen. Ihre Hauptvoraussetzung war Vorbereitung eines Tools, das mit Browsern, die volle Unterstützung für ES2015/2016 haben, zusammenarbeitet.
                
                p
                  | Aus diesem Grunde wurden viele Elemente vom Grund auf neu überlegt und vom Scratch erstellt. Zu den unserer Meinung nach wichtigsten Änderungen gehören:
                ul
                  li
                    | Erkennung von Änderungen hauptsächlich anhand immutabler Datenstrukturen und beobachtbarer Objekte, 
                  li
                    | stärkere Betonung auf Schreiben objektorientierten Codes,
                  li
                    | umgebauter DI-Container mit Möglichkeit der Bildung einer Containerhierarchie, 
                  li
                    | wesentliche Vereinfachung der Service-Konzepte, 
                  li
                    | Möglichkeit dynamischer Komponentenladung während des Lebens der App,
                  li Aufgabe starrer Bindung an DOM, was das Rendering auf Seite des Servers ermöglicht,
                  li Vereinfachung der Bildung eigener Komponenten sowie der Kommunikation zwischen ihnen,
                  li
                    | Vereinfachung der Formularbehandlung.
               
                p
                  | Wie man sieht, ist die Liste der Änderungen ziemlich lang und einige davon sind im Vergleich zu der ersten Version ein Riesenschritt vorwärts. Viele sind eine Antwort auf Probleme und Bedürfnisse der Nutzer, die bei der Arbeit mit Angular 1 aufgetreten sind. Ein Teil ist Ergebnis der Entwicklung des JavaScripts an sich und der Möglichkeiten der Browser. Es bedeutet, dass wir ein Tool bekommen, das viel leichter zu verstehen und nutzen ist, weniger „magische“ Verhaltensweisen und mehr solche, die man einfach erwartet, aufweist. Mit einem Wort – ein sehr gutes Tool, einem modernen Front-End entsprechend. 
                 
                h3#100-praktyki 100% Praxis
                p
                  | Während der Werkstätten werden die Teilnehmer von Null an einen simplen Internetshop erzeugen und die besprochenen Tools durch Konfrontation mit realen Problemen kennenlernen – solchen wie:
                ul
                  li Wie kann man TypeScript nutzen, damit es hilft, statt zu stören?
                  li Wie kann man unsere App für die Testbedürfnisse vom Back-End unabhängig machen?
                  li Wie kann man Daten im Formular bequem validieren und weiterschicken?
                  li Wie soll man Komponente bauen und die Kommunikation zwischen ihnen organisieren, damit unser Code nicht wie Spaghetti aussieht?

                h3#informacje-praktyczne Agenda

                p
                  | Auffrischung über TypeScript und ES2015.
                p
                  | ACHTUNG: Auf dem DevMeeting werden wir max. 45 Minuten für die Auffrischung der Hauptkonzepte verwenden, wir werden jedoch diese Sprachen nicht von Anfang an lehren. Vor dem DevMeeting soll sich jeder Teilnehmer hinsichtlich ES2015 / TypeScript alleine vorbereiten.
                ul
                  li Typendeklarationen
                  li Interfaces
                  li Klassen
                  li Modulsystem
                  li Decoratoren
                  li Promises
               
                p
                  | Rahmenstruktur der App und absolute Grundlagen der Arbeit mit Angular 2
                ul
                  li Framework
                  li Datenanzeige
                  li grundlegende Direktiven
                
                p
                  | Komponenten und Ereignisbehandlung
                ul
                  li Konzept der Komponenten
                  li Erzeugen eigener Komponenten
                  li Ereignisbehandlung
                  li Kommunikation zwischen den Komponenten
                  li Erzeugen eigener Ereignisse

                p
                  | Services und Dependency Injection Container
                ul
                  li Konzept der Services
                  li Konzept und Notwendigkeit der Dependency Injection
                  li Erzeugen eigener Services
                  li Nutzung des DI-Containers
                  li Erzeugen einfach austauschbarer, universeller Services

                p
                  | Formulare und Möglichkeiten der Datenformatierung
                ul
                  li Erzeugen der Formulare
                  li Konzept und Notwendigkeit der Dependency Injection
                  li Konzept der Pipes
                  li Erzeugen eigener Pipes

                p
                  | Kommunikation mit externen API
                ul
                  li  Konzepte in neuem Modul http
                  li  Nutzung des Moduls http zur Kommunikation mit dem Back-End
                  li  Alternativen für http
                  li  Gegenwärtig sich in Vorbereitung befindende Lösungen

                p
                  | Routing und Navigation
                ul
                  li  Konzepte im auf Komponenten beruhenden Routing
                  li  Nutzung des Routings zur Navigation

                h3#informacje-praktyczne Praktische Informationen
                p
                  strong Wo:
                  |  Konferenzsaal im Stadtzentrum, genaue Lokalisierung wird an die Teilnehmer gesendet.
                p
                  strong Wann:
                  |   Samstag, den 10. Oktober 2015, Beginn um 9:00 (bitte etwa um 8:45 anzukommen), Ende etwa 16:00.
                p
                  strong Was soll man mitbringen:
                  |  Laptop mit installiertem Google Chrome + Netzteil. Wenn sie ein Android Device (Tablet, Telefon) besitzen, nehmen sie es mit.
                p
                  strong Teilnahmekosten
                  | : Teilnahme im Modell Pay What You Want. 
                  a(href='http://devmeetings.pl/pl/info/pwyw', target='_blank') Mehr Informationen hier. 
                  |  Für Personen, die 100 PLN einzahlen – hoher Qualität gedrucktes Teilnahmezertifikat.
                 
                h3 Was ist DevMeeting?
                p
                  | DevMeeting ist ein Mix von Hackathon und Programmierungswerkstätten. Den ganzen Tag lang implementieren die Teilnehmer eine beispielhafte App – selbstständig und in Teams. Die sachliche Seite wird durch erfahrene Mentoren beaufsichtigt, die die ganze Zeit zur Hilfe stehen, Diskussionen provozieren und ihr praktisches Wissen weitergeben.

                p
                  | DevMeeting ist weder eine Vorlesung noch eine klassische Schulung. Wir setzen auf die Praxis, Codierung und Wissen- und Erfahrungsaustausch. Es ist auch eine hervorragende Gelegenheit, andere Programmierer kennenzulernen und wertvolle Kontakte mit Developern aus Ihrer Stadt aufzunehmen.

                p
                  | Wenn Sie die Atmosphäre des DevMeetings schnuppern möchten, besuchen Sie 
                  a(href='https://www.youtube.com/watch?v=t4zh2gII5J8', target='_blank') YouTube 
                  | (Film vom DevMeeting am 9. Mai 2015, Node.JS).
                
              .vertical-space-m
              .container-dark-gray.visible-xs
                .container-fluid.vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registrierung läuft!
                            span Um an DevMeeting teilzunehmen,
                            br
                            span(data-reactid='.0.0.0.0.5.0.0.0.0.0.1.3') müssen Sie sich registrieren.
                            h5 Keine freien Plätze.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Registrieren Sie sich!
                        .row
                          .col-md-2.text-center
              .vertical-padding-m
            .col-md-4.col-sm-4(style='position:relative;')
              .well(style='position:fixed;width:25%;z-index:2;')
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-calendar-o
                  .col-md-10
                    h4.noHeaderMargins 20. Juni 2015
                    h5.noHeaderMargins.text-muted
                      span Samstag
                      span , 
                      span 09:00 – 16:00
                hr.no-border
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-map-marker
                  .col-md-10
                    h4.noHeaderMargins Kraków
                    h5.noHeaderMargins.text-muted Stadtzentrum
                hr
                div
                  .row
                    .col-md-2
                      h1.noHeaderMargins
                        span.fa.fa-ticket
                    .col-md-10
                      h4.noHeaderMargins Registrierung läuft!
                      span Um an DevMeeting teilzunehmen,
                      br
                      span müssen Sie sich registrieren.
                      h5 Keine freien Plätze.
                      form(action='/events/es6-maj-krakow/tickets', method='post')
                        .progress
                          .progress-bar.progress-bar-warning(style='width:100%;')
                          .progress-bar.progress-bar-info(style='width:0%;')
                        button.btn.btn-lg.btn-dev.btn-disabled.disabled(disabled='') Registrieren Sie sich!
                  .row
                    .col-md-2.text-center