extends ../../layout-de

block content
  
  .event
    div
      .container
        .row
            .col-md-8.col-sm-8
              .container-dark-gray.visible-xs
                .vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registrierung läuft!
                            span Um an DevMeeting teilzunehmen,
                            br
                            span müssen Sie sich registrieren.
                            h5 Keine freien Plätze.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Registrieren Sie sich!
                        .row
                          .col-md-2.text-center
              .vertical-padding-s.visible-xs
              h1 Angular 2
              div
                p
                  | DevMeetings Team lädt zu einem ganztägigen Workshop zum Thema "Angular 2" mit TypeScript und ES2015 ein.
                p
                  | Obwohl Angular 2 noch in der Beta-Phase ist, sollten sich die wichtigsten Konzepte nicht mehr ändern. Immer mehr Entwicklerteams und Unternehmen setzen schon jetzt Angular 2 in produktiven Systemen ein - es ist jetzt der beste Zeitpunkt, die neue Version von Angular sowie TypeScript (zu JavaScript kompilierte Sprache) zu beherrschen.
                h3 Warum Angular 2?
                p
                  | Die Angular-Autoren möchten sich mit vielen Kozepten verabschieden, die aus der ersten Version bekannt sind. Ihre Hauptvoraussetzung war Vorbereitung eines Tools, das mit modernen Browsern, die volle Unterstützung für ES2015/2016 haben, zusammenarbeitet.
                
                p
                  | Aus diesem Grunde wurden viele Elemente vom Grund auf neu überlegt und vom Scratch erstellt. Zu den meist gravierenden Änderungen gehören:
                ul
                  li
                    | Erkennung von Änderungen hauptsächlich anhand immutabler Datenstrukturen und beobachtbarer Objekte (observable Objects), 
                  li
                    | stärkere Betonung auf Implementierungs des objektorientierten Codes,
                  li
                    | umgebauter Dependency-Injection-Container mit Möglichkeit der Implementierung einer Containerhierarchie, 
                  li
                    | wesentliche Vereinfachung der Service-Konzepte, 
                  li
                    | Möglichkeit dynamischer Komponentenladung während des Lebens der App,
                  li Aufgabe starrer Bindung an DOM - was das Rendering auf Seite des Servers ermöglicht,
                  li Vereinfachung der Implementierung eigener Komponenten sowie der Kommunikation zwischen ihnen,
                  li
                    | Vereinfachung der Formularbehandlung.
               
                p
                  | Wie man sieht, ist die Liste der Änderungen ziemlich lang und einige davon sind im Vergleich zu der ersten Version ein Riesenschritt vorwärts. Sie sind eine Antwort auf Probleme und Bedürfnisse der Nutzer, die bei der Arbeit mit Angular 1 aufgetreten sind. Auch die Entwicklung der JavaScript-Sprache und der Möglichkeiten der Browser haben dazu beigetragen. Es bedeutet, dass wir ein Tool bekommen, das viel leichter zu verstehen ist und weniger „magische“ Verhaltensweisen aufweist, aufweist. Mit einem Wort – ein sehr gutes Tool, bereit auf moderne Front-End Entwicklung. 
                 
                h3#100-praktyki 100% Praxis
                p
                  | Während des Workshops werden die Teilnehmer von Null an einen simplen Internetshop implentieren und die besprochenen Tools durch Konfrontation mit realen Problemen kennenlernen – solchen wie:
                ul
                  li Wie kann man TypeScript nutzen, damit es hilft, statt zu stören?
                  li Wie kann man die App für die Testzwecke unabhängig vom Back-End machen?
                  li Wie kann man Formular-Daten bequem validieren und an das Backend übergeben?
                  li Wie soll man Komponente bauen und die Kommunikation zwischen ihnen organisieren, damit kein Spaghetti-Code entsteht?

                h3#informacje-praktyczne Agenda

                p
                  | Auffrischung über TypeScript und ES2015.
                p
                  | ACHTUNG: Auf dem DevMeeting werden wir max. 45 Minuten für das Refreshers der Hauptkonzepte verwenden: wir werden jedoch diese Sprachen nicht von Anfang an angehen. Vor dem DevMeeting soll sich jeder Teilnehmer hinsichtlich ES2015 / TypeScript alleine vorbereiten.
                ul
                  li Typendeklarationen
                  li Interfaces
                  li Klassen
                  li Modulsystem
                  li Decoratoren
                  li Promises
               
                p
                  | Rahmenstruktur der App und absolute Grundlagen der Entwicklung mit Angular 2
                ul
                  li Framework
                  li Datenanzeige
                  li grundlegende Direktiven
                
                p
                  | Komponenten und Ereignisbehandlung
                ul
                  li Konzept der Komponenten
                  li Entwicklung eigener Komponenten
                  li Ereignisbehandlung
                  li Kommunikation zwischen den Komponenten
                  li Erzeugen eigener Ereignisse

                p
                  | Services und Dependency Injection Container
                ul
                  li Konzept der Services
                  li Konzept und Notwendigkeit der Dependency Injection
                  li Erstellung eigener Services
                  li Nutzung des DI-Containers
                  li Erzeugen einfach austauschbarer, universeller Services

                p
                  | Formulare und Möglichkeiten der Datenformatierung
                ul
                  li Erzeugen der Formulare
                  li Validierung der Daten
                  li Konzept der Pipes
                  li Entwicklung eigener Pipes

                p
                  | Kommunikation mit externen APIs
                ul
                  li  Konzepte des neuen http-Moduls
                  li  Nutzung des httpßModuls zur Kommunikation mit dem Back-End
                  li  Alternativen für http
                  li  kommende Lösungen, die sich in Vorbereitung befindenden

                p
                  | Routing und Navigation
                ul
                  li  Konzepte des Routins, das auf Komponenten basiert 
                  li  Nutzung des Routings zur Navigation

                h3#informacje-praktyczne Praktische Informationen
                p
                  strong Wo:
                  |  Veranstaltungsort im Stadtzentrum, genaue Locations wird an den Teilnehmern mitgeteilt.
                p
                  strong Wann:
                  |   Samstag, den 10. Oktober 2015, Beginn um 9:00 (bitte etwa um 8:45 anzukommen), Ende etwa 16:00.
                p
                  strong Was soll man mitbringen:
                  |  Bring Your Own Laptop (mit installiertem Google Chrome).
                p
                  strong Wie soll man sich vorbereiten:
                  |  Jeder Teilnehmer soll vor dem Workshop die Kernkonzepte von ES6 / ES2015 und TypeScript kennenlernen
                p
                  strong Teilnahmekosten
                  | : Teilnahme im Modell Pay What You Want. 
                  a(href='/de/info/pwyw', target='_blank') Mehr Informationen hier. 
                  |  Für Personen, die 100 Eur einzahlen – hoher Qualität gedrucktes Teilnahmezertifikat.
                 
                h3 Was ist DevMeeting?
                p
                  | DevMeeting ist ein Mix von Hackathon und Workshop. Den ganzen Tag lang implementieren die Teilnehmer eine Beispiel-App – selbstständig und in Teams. Die fachliche Seite wird durch erfahrene Mentoren beaufsichtigt, die die ganze Zeit zur Hilfe stehen, Diskussionen provozieren und ihr praktisches Wissen weitergeben.

                p
                  | DevMeeting ist weder eine Vorlesung noch eine klassische Schulung. Wir setzen auf die Praxis, Coding und Wissen- und Erfahrungsaustausch. Es ist auch eine hervorragende Gelegenheit, andere Entwickler kennenzulernen und wertvolle Kontakte mit Developern zu knüpfen.

                p
                  | Willst Du die Atmosphäre eines DevMeetings spüren? Schau Dir das Video on:  
                  a(href='https://www.youtube.com/watch?v=t4zh2gII5J8', target='_blank') YouTube 
                  | (Film vom DevMeeting am 9. Mai 2015, Node.JS).
                
              .vertical-space-m
              .container-dark-gray.visible-xs
                .container-fluid.vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registrierung läuft!
                            span Um an DevMeeting teilzunehmen,
                            br
                            span(data-reactid='.0.0.0.0.5.0.0.0.0.0.1.3') müssen Sie sich registrieren.
                            h5 Keine freien Plätze.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Registrieren Sie sich!
                        .row
                          .col-md-2.text-center
              .vertical-padding-m
            .col-md-4.col-sm-4(style='position:relative;')
              .well(style='position:fixed;width:25%;z-index:2;')
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-calendar-o
                  .col-md-10
                    h4.noHeaderMargins 20. Juni 2015
                    h5.noHeaderMargins.text-muted
                      span Samstag
                      span , 
                      span 09:00 – 16:00
                hr.no-border
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-map-marker
                  .col-md-10
                    h4.noHeaderMargins Kraków
                    h5.noHeaderMargins.text-muted Stadtzentrum
                hr
                div
                  .row
                    .col-md-2
                      h1.noHeaderMargins
                        span.fa.fa-ticket
                    .col-md-10
                      h4.noHeaderMargins Registrierung läuft!
                      span Um an DevMeeting teilzunehmen,
                      br
                      span müssen Sie sich registrieren.
                      h5 Keine freien Plätze.
                      form(action='/events/es6-maj-krakow/tickets', method='post')
                        .progress
                          .progress-bar.progress-bar-warning(style='width:100%;')
                          .progress-bar.progress-bar-info(style='width:0%;')
                        button.btn.btn-lg.btn-dev.btn-disabled.disabled(disabled='') Registrieren Sie sich!
                  .row
                    .col-md-2.text-center