extends ../../layout-de

block content
  
  .container-full
    .container
      .row
        h1.h2.centered.vertical-space-s Kontakt
      .contact-holder
        h5
          span.fa.fa-compass
          | &nbsp;Anfragen
        p
          | Hast Du Fragen zu den einzelnen Themen, Terminen, Locations? Wir sind unter der Email erreichbar:
        p
          strong
            a.link(href='mailto:info@devmeetings.de') info@devmeetings.de
        p W pilnych sprawach prosimy również o kontakt telefoniczny:
        p
          strong +48 532 264 968
        .contact-text.vertical-space-m
          h5
            span.fa.fa-puzzle-piece
            | &nbsp;Zusammenarbeit
          p
            | Bist Du an der generellen Zusammenarbeit mit uns interessiert?<br/>
            a.link(href='mailto:zusammenarbeit@devmeetings.de') zusammenarbeit@devmeetings.de
        .row.vertical-space-s.box-group
          .col-md-4.col-sm-4
            .box
              .box-details
                h5
                  | Sponsoring
                p Deine Firma will DevMeetings unterstützen?
                p
                  a.link(href='mailto:sponsoring@devmeetings.de') sponsoring@devmeetings.de
          .col-md-4.col-sm-4
            .box
              .box-details
                h5
                  | Trenerzy
                p Chciałbyś zostać trenerem lub pomóc w przygotowaniu tematów warsztatów?
                p
                  a.link(href='mailto:trener@devmeetings.com') trener@devmeetings.com
          .col-md-4.col-sm-4
            .box
              .box-details
                h5
                  | Salki konferencyjne
                p Twoja firma chce udostępnić salkę konferencyjną?
                p
                  a.link(href='mailto:salki@devmeetings.com') salki@devmeetings.com
        .contact-text.vertical-space-m
          h5
            span.fa.fa-envelope
            | &nbsp;DevMeetings ist eine Initiative von
          p PLAN Solutions GmbH & Co. KG
          | Mergenthallerallee 73-75<br/>
          | 65760 Eschborn<br/>
        .vertical-space-m

