extends ../../layout-de

block content
  
  .container
    .row
      h3.centered.vertical-space-m Impressum
    .row.vertical-space-m
      .col-md-offset-3.col-md-6
        .contact-holder
          strong Anbieterkennzeichnung
          p PLAN Solutions GmbH & Co. KG<br/>Mergenthaler Allee 73-75<br/>65760 Eschborn<br/>info@devmeetings.de

          p Steuernummer: 013 356 60894<br/>Umsatzsteueridentifikationsnummer: DE227193942<br/>HRA: 31011 Frankfurt am Main<br/>Persoenlich haftende Gesellschafterin: PLAN Solutions Verwaltungs-GmbH, Mergenthaller Allee 73-75, 65760 Eschborn vertr. durch Piotr Marcin Zwolinski, Geschaeftsfuehrer 

          p Inhaltlich Verantwortliche gemaess ยง 10 Absatz 3 MDStV:<br/>Piotr Zwolinski<br/>PLAN Solutions GmbH & Co. KG, Mergenthaller Allee 73-75, 65760 Eschborn

          strong Haftungsausschluss
          p Die Inhalte dieser Website wurde mit groesstmoeglicher Sorgfalt erstellt. Dennoch koennen wir keine Gewaehr fuer die inhaltliche Richtigkeit, Vollstaendigkeit und Aktualitaet geben. 
          p Fuer die Inhalte verlinkter Seiten Dritter sind deren Betreiber verantwortlich und wir koennen keine Haftung uebernehmen. Zum Zeitpunkt der Erstellung dieser Website waren sie frei von illegalen Inhalten.
    .row.vertical-space-xl
