extends ../../layout-de

block content
  
  .container-full
    .container-light-gray
      .container.container-heading
        h1.h3.centered.vertical-space-m.text-thin DevMeetings: 
          strong Workshops 
          | für Softwareentwickler mit Leidenschaft.
        p.h5.centered.text-thin Gemeinschaftlich entwickelt und zugänglich für alle, dank <strong>„Pay What You Want“</strong> - Modell.
        .workshop-holder.vertical-space-m
          .col-md-8.col-md-offset-2
            .videos 
              <iframe width="854" height="510" src="https://www.youtube.com/embed/t4zh2gII5J8" allowfullscreen></iframe>
    .container            
      .row.vertical-space-m
        h2.h3.centered Nächste Themen
      .workshop-holder.row.vertical-space-m
        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/de/info/ecmaScript6')
                .workshop-img(style='background-image: url(/img/static/workshops/teaser1.png);' alt='')
                  .workshop-inner
                    img(src='/img/static/workshops/logo_es6.png' alt='')
                    .workshop-subtitle(style='border-color: #f0da51') Dive into ECMAScript 2015 (ES6)
            .box-details
              a(href='/de/info/ecmaScript6')
                h3.h4 ECMAScript 2015 (ES6)
              p
                | Ein Workshop zur Erstellung von Apps mit Hilfe von ECMAScript 6. Ideal für Entwickler mit Kenntnissen in JavaScript, Java, PHP oder Ruby, die sofort in die neue Spachspezifikation einsteigen wollen.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Kraków</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20. Juni 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/de/info/ecmaScript6') Anmelden!

        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/de/info/react')
                .workshop-img(style='background-image: url(/img/static/workshops/teaser2.png);' alt='')
                  .workshop-inner
                    img(src='/img/static/workshops/logo_react.png' alt='')
                    .workshop-subtitle(style='border-color: #62dafc') Efficient Webapps with React.js + Redux
            .box-details
              a(href='/de/info/react')
                h3.h4 Effiziente Webapps mit React.js + Redux
              p
                | Ganztägiger Workshop zum Thema React.js im Zusammenspiel mit Redux (Implementierung des DI-Containers). Lerne die immer populärer werdende Facebook-Bibliothek kennen und lerne effiziente Single-Page Webapps zu erstellen.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Kraków</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20. Juni 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/de/info/react') Anmelden!
     
      .workshop-holder.row
        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/de/info/ionic')
                .workshop-img(style='background-image: url(/img/static/workshops/teaser3.png);' alt='')
                  .workshop-inner
                    img(src='/img/static/workshops/logo_ionic.png' alt='')
                    .workshop-subtitle(style='border-color: #4e8ff7') Hybrid Apps with Ionic Framework
            .box-details
              a(href='/de/info/ionic')
                h3.h4 Hybrid-Apps mit dem Ionic Framework
              p
                | Workshop über die Erstellung von hybriden Mobile-Apps mit dem Ionic Framework. Lerne u.a. das SDK, die Erstellung eines User Interfaces, sowie den Zugriff zu den Hardware-Ressourcen mobiler Endgeräte kennen.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Kraków</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20. Juni 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/de/info/ionic') Anmelden!

        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/de/info/angular-2')
                .workshop-img(style='background-image: url(/img/static/workshops/teaser4.png);' alt='')
                  .workshop-inner
                    img(src='/img/static/workshops/logo_angular.png' alt='')
                    .workshop-subtitle(style='border-color: #e23137') Moderne Webapps mit Angular 2
            .box-details
              a(href='/de/info/angular-2')
                h3.h4 Teaser Angular 2
              p
                | Obwohl Angular 2 noch in der Beta-Phase steckt, nutzen es immer mehr Entwickler bereits produktiv. Lerne in unserem Workshop die Vorteile der neuen Version kennen.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Kraków</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20. Juni 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/de/info/angular-2') Anmelden!

    .container-light-gray
      .container
        h2.h3.centered.vertical-space-m Feedback der Teilnehmer
        .opinions-holder.row.vertical-space-ml
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/blacke-s-big.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
                p
                  em
                  | ...The tutorial format and mentoring was probably the best I've seen at a meetup of this kind so far. It was a very valuable experience!
                p
                  a(href='http://www.meetup.com/Seattle-Devmeetings/events/226985992/#event_comment-458693701', target='_blank')
                    | meetup.com/Seattle-Devmeetings/events/...
                p
                  span
                    strong Blake S.
                  br
                  strong Ecmascript 6, Seattle, WA
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/tony-h-big.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
                p
                  em
                  | Thanks for the meetup! Excellent material and help from the organisers. Even though I had no experience in web development I was able to follow along and learned a lot.
                p
                  a(href='http://www.meetup.com/AngularJS-Oslo/events/221099320/#event_comment-446442714', target='_blank')
                    | meetup.com/AngularJS-Oslo/events/...
                p
                  span
                    strong Tony H.
                  br
                  strong AngularJS, Oslo, Norway
                  
        .opinions-holder.row.vertical-space-s
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/hs-big.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
                p
                  em
                  | Awesome workshop.. thank you for doing yhis. It is a saturday very well spent...
                p
                  a(href='http://www.meetup.com/Seattle-Devmeetings/events/222682646/#event_comment-451146648', target='_blank')
                    | meetup.com/Seattle-Devmeetings/events/...
                p
                  span
                    strong HS
                  br
                  strong AngularJS, Seattle, WA
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/paul-s-big.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
                p
                  em
                    | Great workshop! Looking forward to the next meetup ;)
                p
                  a(href='http://www.meetup.com/AngularJS-Oslo/events/221099320/#event_comment-446456074', target='_blank')
                    | meetup.com/AngularJS-Oslo/events/...
                p
                  span
                    strong Paul S.
                  br
                  strong AngularJS, Oslo, Norway
        .vertical-space-m  
    .container
      .container
        .sub-footer-holder.row.vertical-space-m
          .col-md-4.col-sm-4
            h5
              img(src='/img/icon_pixels.png' alt='') 
              | Über DevMeetings
            p
              | Ein DevMeeting ist ein ganztägiger Mix zwischen Workshop und Hackathon – vorbereitet durch Entwickler mit Leidenschaft. Seit 2011 haben wir bereits mehr als 100 DevMeetings  veranstaltet, z.B. über die Themen Responsive Webdesign, ServerSide, JavaScript Game-Entwicklung und vieles mehr.
            p
              a(href='/de/info/about_devmeetings') Mehr über DevMeetings >
          .col-md-4.col-sm-4
            h5
              img(src='/img/icon_pixels.png' alt='') 
              | Pay What You Want
            p
              | Der Leitgedanke von DevMeetings ist die Offenheit und Verfügbarkeit der Workshops für alle, die ihre Entwicklungsskills erweitern wollen. Deswegen haben wir das “Pay What You Want”-Modell eingeführt. Jeder entscheidet selbst, ob er kostenlos teilnimmt oder die Initiative finanziell unterstützen möchte.
            p
              a(href='/de/info/pwyw') Mehr über Pay What You Want >
          .col-md-4.col-sm-4
            h5
              img(src='/img/icon_pixels.png' alt='') 
              | Zusammenarbeit
            p
              | Wir suchen nach Mentoren, Sponsoren und leidenschaftlichen Entwicklern, die uns unterstützen wollen. Kontakt: 
              | 
              span.mailaddress(data-name='info' data-domain='devmeetings.org') .
            p
              a(href='/de/info/contact') Kontakt >
        .vertical-space-m


