extends ../../layout-de

block content
  
  .container-full
    .container

      h1.h3.centered.vertical-space-m DevMeetings: Workshops für Softwareentwickler mit Leidenschaft.
      p.h5.centered Community-driven, zugänglich dank "Pay What You Want"-Modell.
      .workshop-holder.row.vertical-space-m
        .col-md-8.col-md-offset-2
          .videos 
            <iframe width="854" height="510" src="https://www.youtube.com/embed/t4zh2gII5J8" allowfullscreen></iframe>
    .container            
      .row.vertical-space-m
        h2.h3.centered Nächste Themen
      .workshop-holder.row.vertical-space-m
        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/de/info/ecmaScript6')
                img.img-responsive.workshop-img(src='/img/static/workshops/es6_devmeeting_krk.jpg' alt='')
            .box-details
              a(href='/de/info/ecmaScript6')
                h3.h4 Teaser ES6
              p
                | Gewidmet der Erstellung von Apps mit Hilfe von ECMA Script 6. Für Personen mit Kenntnissen von JavaScript und Programmierer anderer Sprachen (java, php, ruby), die sofort in die aktuelle Sprachspezifikation einspringen wollen.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Kraków</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20. Juni 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/de/info/ecmaScript6') Registrieren Sie sich!

        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/de/info/react')
                img.img-responsive.workshop-img(src='/img/static/workshops/teaser_devm_react.png' alt='')
            .box-details
              a(href='/de/info/react')
                h3.h4 Teaser React
              p
                | Ganztägige Werkstätten über die Bibliothek React mit Redux als Implementation des DI-Containers. Lernen Sie die immer größere Popularität gewinnende Facebook-Bibliothek, die die Erstellung effizienter Apps vom Typ Single Page, kennen.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Kraków</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20. Juni 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/de/info/react') Registrieren Sie sich!
     
      .workshop-holder.row
        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/de/info/ionic')
                img.img-responsive.workshop-img(src='/img/static/workshops/teaser_devm_ionic.png' alt='')
            .box-details
              a(href='/de/info/ionic')
                h3.h4 Teaser Ionic
              p
                | Werkstätten mit Ionic Framework, das die Erstellung hybrider Mobile Apps in Anlehnung an JS, erlaubt. Während der Werkstätten werden Sie sowohl SDK, Aspekte der Erstellung des User-Interface, als auch die Möglichkeiten des Zugangs zu den Ressourcen des mobilen Geräts, kennenlernen.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Kraków</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20. Juni 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/de/info/ionic') Registrieren Sie sich!

        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='/de/info/angular-2')
                img.img-responsive.workshop-img(src='/img/static/workshops/teaser_devm_angular_2.png' alt='')
            .box-details
              a(href='/de/info/angular-2')
                h3.h4 Teaser Angular 2
              p
                | Angular 2 ist noch in der Beta-Phase, aber immer mehr Developer-Teams nützen es in Produktionsanwendungen. Wir laden zu ganztägigen Werkstätten über Angular 2 mit TypeScript und ES2015.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Kraków</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20. Juni 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='/de/info/angular-2') Registrieren Sie sich!

    .container-light-gray
      .container
        h2.h3.centered.vertical-space-m Feedback der Teilnehmer
        .opinions-holder.row.vertical-space-m
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/blake-s.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
              em.big
                  | ...The tutorial format and mentoring was probably the best I've seen at a meetup of this kind so far. It was a very valuable experience!
                p
                  a(href='http://www.meetup.com/Seattle-Devmeetings/events/226985992/#event_comment-458693701', target='_blank')
                    | meetup.com/Seattle-Devmeetings/events/...
                p
                  span
                    strong Blake S.
                  br
                  strong Ecmascript 6, Seattle, WA
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/tony-h.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
              em.big
                  | Thanks for the meetup! Excellent material and help from the organisers. Even though I had no experience in web development I was able to follow along and learned a lot.
                p
                  a(href='http://www.meetup.com/AngularJS-Oslo/events/221099320/#event_comment-446442714', target='_blank')
                    | meetup.com/AngularJS-Oslo/events/...
                p
                  span
                    strong Tony H.
                  br
                  strong AngularJS, Oslo, Norway
                  
        .opinions-holder.row.vertical-space-s
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/hs.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
              em.big
                  | Awesome workshop.. thank you for doing yhis. It is a saturday very well spent...
                p
                  a(href='http://www.meetup.com/Seattle-Devmeetings/events/222682646/#event_comment-451146648', target='_blank')
                    | meetup.com/Seattle-Devmeetings/events/...
                p
                  span
                    strong HS
                  br
                  strong AngularJS, Seattle, WA
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/paul-s.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
              em.big
                  | Great workshop! Looking forward to the next meetup ;)
                p
                  a(href='http://www.meetup.com/AngularJS-Oslo/events/221099320/#event_comment-446456074', target='_blank')
                    | meetup.com/AngularJS-Oslo/events/...
                p
                  span
                    strong Paul S.
                  br
                  strong AngularJS, Oslo, Norway
        .vertical-space-m  
    .container
      .container
        .sub-footer-holder.row.vertical-space-m
          .col-md-4.col-sm-4
            h5
              a(href='/de/info/about_devmeetings') Über DevMeetings
            p
              | DevMeeting ist ein ganztägiger Mix zwischen Workshop und Hackathon – vorbereitet durch Entwickler mit Leidenschaft. Seit 2011 haben wir mehr als 100 Events veranstaltet, von ServerSide JavaScript, über JavaScript Game-Entwicklung, bis zum Responsive Web Design.
            p
              a(href='/de/info/about_devmeetings') Mehr über DevMeetings >
          .col-md-4.col-sm-4
            h5
              a(href='/de/info/pwyw') Pay What You Want
            p
              | Der Leitgedanke von DevMeetings ist die Offenheit und Verfügbarkeit der Workshops für alle, die Entwicklungsskills verstärken wollen. Deswegen haben wir das “Pay What You Want” – Modell eingeführt. Du kannst kostenlos teilnehmen oder die Initative finanziell unterstützen.
            p
              a(href='/de/info/pwyw') Mehr über Pay What You Want >
          .col-md-4.col-sm-4
            h5 Zusammenarbeit
            p
              | Wir suchen nach Mentoren, Sponsoren und leidenschaftlichen Entwicklern, die uns unterstützen wollen. Kontakt: info (at) devmeetings (punkt) org
            p
              a(href='/de/info/contact') Kontakt >
        .vertical-space-m


