extends ../../layout-de

block content
  
  .container-full
    .container

      h3.centered.vertical-space-m DevMeetings: Workshops für Softwareentwickler mit Leidenschaft.
      h5.centered Community-driven, zugänglich dank "Pay What You Want"-Modell.
      .workshop-holder.row.vertical-space-m
        .col-md-8.col-md-offset-2
          .videos 
            <iframe width="854" height="510" src="https://www.youtube.com/embed/t4zh2gII5J8" frameborder="0" allowfullscreen></iframe>
    .container            
      .row.vertical-space-m
        h3.centered Nächste Themen
      .workshop-holder.row.vertical-space-m
        .col-md-6.col-sm-12.col-xs-12.col-md-offset-3
          .box
            .box-image
              img.img-responsive.workshop-img(src='/img/static/workshops/es6_devmeeting_bln.png')
            .box-details
              h4 ECMA Script 6, Berlin
              p
                | DevMeeting für JavaScript und Webentwickler, die ECMAScript 2015 (ES6) lernen wollen. Lerne die wichtigsten Features von ES6, wie Generators, Classes, Modules und Promises auf dem ganztägigen DevMeeting in Berlin!
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Berlin</strong>
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>17 Oktober 2015</strong>
              p.btn-holder
                .btn.btn-dev.disabled Anmeldung startet am 15 Sept.


      h3.centered Themen in Vorbereitung
      .workshop-holder.row.vertical-space-m
        .col-md-4.col-sm-4.col-xs-12
          .box
            .box-image
              img.img-responsive.workshop-img(src='/img/static/workshops/teaser_devm_ionic.png')
            .box-details
              h4 Ionic Framework
              p
                | HTML5 Mobile Apps mit Ionic Framework entwickeln.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Berlin, Hamburg, München, Köln<br/>
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;Oktober 2015
              p.btn-holder
                .btn.btn-dev.disabled Anmeldung startet am 15 Sep
        .col-md-4.col-sm-4.col-xs-12
          .box
            .box-image
              img.img-responsive.workshop-img(src='/img/static/workshops/teaser_devm_angular_2.png')
            .box-details
              h4 Angular 2
              p
                | Angular 1.x wird immer mehr populär, jedoch nächste Generation des Frameworks kommt bald. Lerne Entwicklung von Angular 2 Apps mit TypeScript.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Berlin, Hamburg, München, Köln<br/>
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;November 2015
              p.btn-holder
                .btn.btn-dev.disabled Anmeldung startet am 15 Okt
        .col-md-4.col-sm-4.col-xs-12
          .box
            .box-image
              img.img-responsive.workshop-img(src='/img/static/workshops/teaser_devm_react.png')
            .box-details
              h4 React + Flux
              p
                | React JS - das JavaScript Framework von Facebook wird immer mehr populär. Lerne React + Flux auf dem ganztägigen DevMeeting.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Berlin, Hamburg, München, Köln<br/>
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;Dezemeber 2015
              p.btn-holder
                .btn.btn-dev.disabled Anmeldung startet am 15 Nov
    .container-light-gray
      .container
        h3.centered.vertical-space-m Feedback der Teilnehmer
        .opinions-holder.row.vertical-space-m
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_adamjodlowski.png')
            .col-md-5.col-sm-5.col-xs-12
              p
                em
                  | Intellektuelles Massaker. Samstag mit @DevMeetings, danke an Euch, bis zum nächsten Mal!
              strong @adamjodlowski
              p
                a(href='http://twitter.com/adamjodlowski/status/69495869824704512', target='_blank')
                  | twitter.com/adamjodlowski/status/69...
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_knapo.png')
            .col-md-5.col-sm-5.col-xs-12
              p
                em
                  | long, tiring, but very productive and fantastic day at @DevMeetingsPL – thanks guys! cannot wait for next one!
              strong @knapo
              p
                a(href='http://twitter.com/knapo/status/82187412331184128', target='_blank')
                  | twitter.com/knapo/status/821...
        .opinions-holder.row
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_pawrog.png')
            .col-md-5.col-sm-5.col-xs-12
              p
                em
                  | It was awesome workshop on node.js and RingoJS today at @DevMeetingsPL I’m looking forward to repeat this kind of experience!
              strong @pawrog
              p
                a(href='http://twitter.com/pawrog/status/69506793721692161', target='_blank')
                  | twitter.com/pawrog/status/6950...
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_marcoos.png')
            .col-md-5.col-sm-5.col-xs-125
              p
                em
                  | Nach dem ServerSide JavaScript Workshops von @DevMeetings. Gut investierte Zeit, perfekt organisierter Workshop.
              strong @marcoos
              p
                a(href='http://twitter.com/marcoos/status/82180367213273089', target='_blank')
                  | twitter.com/marcoos/status/8218...
        .vertical-space-m
    

    .container
      .sub-footer-holder.row.vertical-space-m
        .col-md-4.col-sm-4
          h5
            a(href='/de/info/about_devmeetings') Über DevMeetings
          p
            | DevMeeting ist ein ganztägiger Mix zwischen Workshop und Hackathon – vorbereitet durch Entwickler mit Leidenschaft. Seit 2011 haben wir mehr als 100 Events veranstaltet, von ServerSide JavaScript, über JavaScript Game-Entwicklung, bis zum Responsive Web Design.
          p
            a(href='/de/info/about_devmeetings') Mehr über DevMeetings >
        .col-md-4.col-sm-4
          h5
            a(href='/de/info/pwyw') Pay What You Want
          p
            | Der Leitgedanke von DevMeetings ist die Offenheit und Verfügbarkeit der Workshops für alle, die Entwicklungsskills verstärken wollen. Deswegen haben wir das “Pay What You Want”–Modell eingeführt. Du kannst kostenlos teilnehmen oder die Initative finanziell unterstützen.
          p
            a(href='/de/info/pwyw') Mehr über Pay What You Want >
        .col-md-4.col-sm-4
          h5 Zusammenarbeit
          p
            | Wir suchen nach Mentoren, Sponsoren und leidenschaftlichen Entwicklern, die uns unterstützen wollen. Kontakt: info (at) devmeetings (punkt) org
          p
            a(href='/de/info/contact') Kontakt >
      .vertical-space-m


