extends ../../layout-pl

block content
  
  .container-full
    .container

      h3.centered.vertical-space-m DevMeetings: Workshops für Softwareentwickler mit Leidenschaft.
      h5.centered Community-driven, zugänglich dank "Pay What You Want"-Modell.
      .workshop-holder.row.vertical-space-m
        .col-md-8.col-md-offset-2
          .videos 
            <iframe width="854" height="510" src="https://www.youtube.com/embed/sb_Mmhq-iX0" frameborder="0" allowfullscreen></iframe>
    .container            
      .row.vertical-space-m
        h3.centered Nächste Themen
      .workshop-holder.row.vertical-space-m
        .col-md-6.col-sm-12.col-xs-12
          .box
            .box-image
              a(href='http://registration.devmeetings.com/events/es6-maj-krakow')
                img.img-responsive.workshop-img(src='/img/static/workshops/es6_devmeeting_krk.jpg')
            .box-details
              a(href='http://registration.devmeetings.com/events/es6-maj-krakow')
                h4 ECMA Script 6, Kraków
              p
                | Warsztaty poświęcone budowanie aplikacjie przy pomocy ECMA Script 6. Kierowane do osób znających JavaScript oraz programistów innych języków (java, php, ruby), którzy chcą od razu wskoczyć do aktualnej specyfikacji języka.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Kraków</strong>
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20 czerwca 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='http://registration.devmeetings.com/events/es6-maj-krakow') Rejestracja

        .col-md-6.col-sm-12.col-xs-12
          .box
            .box-image
              a(href='http://registration.devmeetings.com/events/es6-maj-wroclaw')
                img.img-responsive.workshop-img(src='/img/static/workshops/es6_devmeeting_wro.jpg')
            .box-details
              a(href='http://registration.devmeetings.com/events/es6-maj-wroclaw')
                h4 ECMA Script 6, Wrocław
              p
                | Warsztaty poświęcone budowanie aplikacjie przy pomocy ECMA Script 6. Kierowane do osób znających JavaScript oraz programistów innych języków (java, php, ruby), którzy chcą od razu wskoczyć do aktualnej specyfikacji języka.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Wrocław</strong>
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>27 czerwca 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='http://registration.devmeetings.com/events/es6-maj-wroclaw') Rejestracja


      h3.centered Themen in Vorbereitung
      .workshop-holder.row.vertical-space-m
        .col-md-4.col-sm-4.col-xs-12
          .box
            .box-image
              a(href='https://docs.google.com/forms/d/1dJfxgQCrMuryvjI4FYMQHTqXdnWjaHEZLzXn0aQhvhU/viewform', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/workshops/workshop_backbone.jpg')
            .box-details
              a(href='https://docs.google.com/forms/d/1dJfxgQCrMuryvjI4FYMQHTqXdnWjaHEZLzXn0aQhvhU/viewform', target='_blank')
                h4 Backbone.js
              p
                | Naucz się tworzyć aplikacje typu Single Page Apps z wykorzystaniem Backbone.js.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Wrocław, Kraków, Poznań, Katowice, Warszawa, Gdańsk<br/>
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;Czerwiec 2015
              p.btn-holder
                a.btn.btn-dev(href='https://docs.google.com/forms/d/1dJfxgQCrMuryvjI4FYMQHTqXdnWjaHEZLzXn0aQhvhU/viewform', target='_blank') Zapisz się na listę mailingową
        .col-md-4.col-sm-4.col-xs-12
          .box
            .box-image
              a(href='https://docs.google.com/forms/d/1DkUSJMqXVYijJUysuDsDlxRlHnm0ggeQMzANgXoGOkk/viewform?usp=send_form', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/workshops/workshop_bootstrap.jpg')
            .box-details
              a(href='https://docs.google.com/forms/d/1DkUSJMqXVYijJUysuDsDlxRlHnm0ggeQMzANgXoGOkk/viewform?usp=send_form', target='_blank')
                h4 Twitter Bootstrap
              p
                | Naucz się tworzyć responsywne strony www z wykorzystaniem Twitter Bootstrap.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Wrocław, Kraków, Poznań, Katowice, Warszawa, Gdańsk
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;Lipiec 2015
              p.btn-holder
                a.btn.btn-dev(href='https://docs.google.com/forms/d/1DkUSJMqXVYijJUysuDsDlxRlHnm0ggeQMzANgXoGOkk/viewform?usp=send_form', target='_blank') Zapisz się na listę mailingową
        .col-md-4.col-sm-4.col-xs-12
          .box
            .box-image
              a(href='https://docs.google.com/forms/d/1PFT-JWrcbm3o7mffWrnqQs3vb2hqixLPPEsAbU8t8y0/viewform', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/workshops/workshop_js_games_phaser.jpg')
            .box-details
              a(href='https://docs.google.com/forms/d/1PFT-JWrcbm3o7mffWrnqQs3vb2hqixLPPEsAbU8t8y0/viewform', target='_blank')
                h4 Gry w JS, HTML5 i Phaser
              p
                | Naucz się tworzenia gier przeglądarkowych w oparciu o HTML5, JS i framework Phaser.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Wrocław, Kraków, Poznań, Katowice, Warszawa, Gdańsk
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;Sierpień 2015
              p.btn-holder
                a.btn.btn-dev(href='https://docs.google.com/forms/d/1PFT-JWrcbm3o7mffWrnqQs3vb2hqixLPPEsAbU8t8y0/viewform', target='_blank') Zapisz się na listę mailingową
    .container-light-gray
      .container
        h3.centered.vertical-space-m Feedback der Teilnehmer.
        h5.centered Niektórzy sagen, es sei "State of the Mind" und kein Workshop.
        .opinions-holder.row.vertical-space-m
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_adamjodlowski.png')
            .col-md-5.col-sm-5.col-xs-12
              p
                em
                  | Intellektuelles Massaker. Samstag mit @DevMeetings, danke an Euch, bis zum nächsten Mal!
              strong @adamjodlowski
              p
                a(href='http://twitter.com/adamjodlowski/status/69495869824704512', target='_blank')
                  | twitter.com/adamjodlowski/status/69...
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_knapo.png')
            .col-md-5.col-sm-5.col-xs-12
              p
                em
                  | long, tiring, but very productive and fantastic day at @DevMeetingsPL – thanks guys! cannot wait for next one!
              strong @knapo
              p
                a(href='http://twitter.com/knapo/status/82187412331184128', target='_blank')
                  | twitter.com/knapo/status/821...
        .opinions-holder.row
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_pawrog.png')
            .col-md-5.col-sm-5.col-xs-12
              p
                em
                  | It was awesome workshop on node.js and RingoJS today at @DevMeetingsPL I’m looking forward to repeat this kind of experience!
              strong @pawrog
              p
                a(href='http://twitter.com/pawrog/status/69506793721692161', target='_blank')
                  | twitter.com/pawrog/status/6950...
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_marcoos.png')
            .col-md-5.col-sm-5.col-xs-125
              p
                em
                  | Nach dem ServerSide JavaScript Workshops von @DevMeetings. Gut investierte Zeit, perfekt organisierter Workshop.
              strong @marcoos
              p
                a(href='http://twitter.com/marcoos/status/82180367213273089', target='_blank')
                  | twitter.com/marcoos/status/8218...
        .vertical-space-m
    

    .container-light-gray
      .container
        .sub-footer-holder.row.vertical-space-m
          .col-md-4.col-sm-4
            h5
              a(href='/de/info/about_devmeetings') Über DevMeetings
            p
              | DevMeeting ist ein ganztägiger Mix zwischen Workshop und Hackathon – vorbereitet durch Entwickler mit Leidenschaft. Seit 2011 haben wir mehr als 100 Events veranstaltet, von ServerSide JavaScript, über JavaScript Game-Entwicklung, bis zum Responsive Web Design.
            p
              a(href='/de/info/about_devmeetings') Mehr über DevMeetings >
          .col-md-4.col-sm-4
            h5
              a(href='/de/info/pwyw') Pay What You Want
            p
              | Der Leitgedanke von DevMeetings ist die Offenheit und Verfügbarkeit der Workshops für alle, die Entwicklungsskills verstärken wollen. Deswegen haben wir das “Pay What You Want”–Modell eingeführt. Du kannst kostenlos teilnehmen oder die Initative finanziell unterstützen.
            p
              a(href='/de/info/pwyw') Mehr über Pay What You Want >
          .col-md-4.col-sm-4
            h5 Zusammenarbeit
            p
              | Wir suchen nach Mentoren, Sponsoren und leidenschaftlichen Entwicklern, die uns unterstützen wollen. Kontakt: info (at) devmeetings (punkt) org
            p
              a(href='/de/info/contact') Kontakt >
        .vertical-space-m


