extends ../../layout-de

block content
  
  .container-full
    .container
      h2.centered.vertical-space-m Pay What You Want
      h4.centered.vertical-space-m
        | Hauptziel von DevMeetings ist die Verfügbareit - wir sind für alle Entwickler da.<br/> Für uns ist die Leidenschaft wichtig, nicht das finanzielle. 
      .row.vertical-space-m
        .col-md-6
          h5
            | Kostenlose Teilnahme
          p
            | Kostenlose Teilnahme ist natürlich Möglich, wir empfehlen aber, die Initiative zu unterstützen, da die Veranstaltung und Vorbereitung der Workshops Zeit- und Finanzintensiv ist.
        .col-md-6
          h5
            | Show us your love!
          p
            | Wir würden uns freuen, wenn Du für die Teilnahme die Initiative unterstützen wirst. Bei der Anmeldung werden wir Dich bitten, einen ausgewählten Betrag (zwischen 0,00 und 150,00 Euro) zu bezahlen.
    .vertical-space-m        
    .container-light-gray
      .container
        h3.centered.vertical-space-m Welche Veranstaltungskosten sind von uns zu tragen?
        .row.vertical-space-m
          .col-md-4
            h5
              | Vorbereitung der Inhalte
            p
              | Professionelle Vorbereitung der Workshopinhalte (Präsentationen, Codesnippets, Aufgaben, Referenzlösungen). Ca. 10-20 Arbeitstage eines erfahrenen Trainers.
          .col-md-4
            h5
              | Veranstaltungsräume
            p
              | Miete eines Workshopsraumes für ca. 30-50 Teilnehmer. DevMeetings finden in komfortablen, profesionellen Räumlichkeiten statt.
          .col-md-4
            h5
              | Catering
            p
              | Heiße und kalte Getränke und Snacks den ganzen Tag lang. Pizza-Lunch
        .row
          .col-md-4
            h5
              | Anreise, Übernachtung der Mentoren und Veranstalter
            p
              | Oft reisen die Mentoren von anderen Städten an. Reise- und Übernachtungskosten haben wir zu tragen.
          .col-md-4
            h5
              | Orga
            p
              | Organisation und Administration: Teilnehmer-Anmeldung, Marketing, Suche und Abstimmungen mit Trainern, Locations, etc. kosten Zeit und Geld.
        .vertical-space-l
        .vertical-space-l      



