extends ../../layout-de

block content
  
  .event
    div
      .container
        .row
            .col-md-8.col-sm-8
              .container-dark-gray.visible-xs
                .vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registrierung läuft!
                            span Um an DevMeeting teilzunehmen,
                            br
                            span müssen Sie sich registrieren.
                            h5 Keine freien Plätze.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Registrieren Sie sich!
                        .row
                          .col-md-2.text-center
              .vertical-padding-s.visible-xs
              h1 React + Redux
              div
                p
                  | Das DevMeetings Team lädt zu einer ganztägigen Werkstatt über React mit Redux.
                h3 Warum sollte man sich überhaupt für React interessieren?
                p
                  | Der seit vielen Jahren genutzte MVC beginnt bei einer größeren Skala der App Probleme, die mit dem Zustand der Daten verbunden sind, zu generieren. Wie kann man, wenn es mehrere Modelle gibt, die sich miteinander verbinden, auf einfache Weise erfahren, unter welchen Bedingungen sie sich inkorrekt verhalten? Wie kann man mit der Aktualisierung der Modelle zurechtkommen, wenn sie durch viele asynchrone Ereignisse modifiziert werden können?
                h3 Flux? Redux?
                p
                  | Lösung des Problems scheint Flux und insbesondere seine konkrete Implementation (Redux) zu sein. Zum Rendering der Elemente selbst nutzen wir die Komponenten des React, der weiterhin eine der effektivsten Lösungen zum Generieren von UI bleibt. Die Ganzheit liefert solide Grundlagen zum Erzeugen skalierbarer Apps vom Typ SPA.
                p
                  | Während des DevMeetings lernen Sie sowohl den React, als auch den Redux kennen – und Sie werden das erzielte Wissen praktisch umsetzen, indem Sie eine simple App vom Typ Internetshop implementieren werden.
                p Herzlich willkommen!
                p
                  em Das DevMeetings Team
                h3#dlaczego-react- Warum React?
                p
                  | Es lohnt sich, sich für React zu interessieren, weil es immer mehr populäre Bibliothek ist, die durch breite Kreise der Front-End Developer in der ganzen Welt verwendet wird.
                ul
                  li
                    | Bibliothek zum Erzeugen effektiver, aus Komponenten aufgebauter Nutzer-Interfaces.
                  li Simpel zum Lernen und einfach implementierbar auch in schon bestehenden Systemen.
                  li
                    | Intuiver Lebenszyklus der Komponenten erlaubt das Funktionieren der App einfach zu verstehen. 
                  li
                    | React als Bibliothek zwingt weder das Ökosystem noch Nutzung konkreter Tools auf.
                  li
                    | React nutzt im vollen Umfang die Macht des JavaScripts; der hochentwickelte, Operationen auf DOM reduzierende Algorithmus in Verbindung mit einfacher Optimierung ist eine hervorragende Grundlage für hochinteraktive Interfaces.
                  li
                    | Vom Facebook erzeugt und außerhalb der Community durch solche Firmen wie etflix unterstützt, ist er eine sichere und bewährte Developer-Plattform. 
                  li Einfach zum Erweitern und Managen.
                  li Hervorragende Fehlertipps und Warnungen.
                  li
                    | Hat wohlüberdachte API, die sich wenig verändert; zu höheren Versionen simpel aktualisierbar.
                  li
                    | Es gibt Lösungen, die die Nutzung der Komponenten auf anderen Plattformen – iOS, Android – ermöglichen.
                h4#-nbsp-  
                h3#dlaczego-redux- Warum Redux?
                p
                  | Redux ist ein durch Flux und Elm inspirierter Container des App-Zustands – Zutritt zum Programm ist sehr einfach und der Nutzen aus der Anwendung sehr groß.
                ul
                  li
                    | Hat Unterstützung für Hot Reloading und Time Travel Debugger, den wir in unserer App während der Werkstätten implementieren werden.
                  li
                    | Durch Nutzung eines einzelnen Containers und der sog. Reducer ist er von den Fehlern und Kompliziertheit des Flux frei.
                  li
                    | Ermuntert zur Nutzung immutabler Datenstrukturen, was sich direkt in Effektivität umsetzt, vor allem jedoch das Debuggen vereinfacht. 
                  li
                    | Es kann mit einer beliebigen Bibliothek oder Framework verwendet werden – unabhängig davon, ob man Angular, Reacta oder vue.js lieber mag.
                  li
                    | Ist von komplizierten Verhältnissen zwischen den Daten, die bei größerer Anzahl der Container, in solchen Bibliotheken wie Alt.js, auftreten, frei.
                  li Ist populär und wird von der Mehrheit der Teams, die Apps in React erzeugen, gewählt.
                h4#-nbsp-  
                h3#100-praktyki 100% Praxis
                p
                  | Während der Werkstätten werden die Teilnehmer von Null an einen simplen Internetshop erzeugen und die besprochenen Tools durch Konfrontation mit realen Problemen, kennenlernen – solchen wie:
                ul
                  li Erzeugung der ersten Komponente
                  li Teilung der App auf viele Komponenten
                  li Zustand der Komponente
                  li Ereigniserfassung
                  li Redux
                  li Kommunikation mit API
                h4#-nbsp-  
                h3#informacje-praktyczne Praktische Informationen
                p
                  strong Wo:
                  |  Konferenzsaal im Stadtzentrum, genaue Lokalisierung wird an die Teilnehmer gesendet.
                p
                  strong Wann:
                  |   Samstag, den 10. Oktober 2015, Beginn um 9:00 (bitte etwa um 8:45 anzukommen), Ende etwa 16:00.
                p
                  strong Was soll man mitbringen:
                  |  Laptop mit installiertem Google Chrome + Netzteil. Wenn sie ein Android Device (Tablet, Telefon) besitzen, nehmen sie es mit.
                p
                  strong Teilnahmekosten
                  | : Teilnahme im Modell Pay What You Want. 
                  a(href='/de/info/pwyw', target='_blank') Mehr Informationen hier.
                  |  Für Personen, die 100 PLN einzahlen – hoher Qualität gedrucktes Teilnahmezertifikat.
                h3 Was ist DevMeeting?
                p
                  | DevMeeting ist ein Mix von Hackathon und Programmierungswerkstätten. Den ganzen Tag lang implementieren die Teilnehmer eine beispielhafte App – selbstständig und in Teams. Die sachliche Seite wird durch erfahrene Mentoren beaufsichtigt, die die ganze Zeit zur Hilfe stehen, Diskussionen provozieren und ihr praktisches Wissen weitergeben.

                p
                  | DevMeeting ist weder eine Vorlesung noch eine klassische Schulung. Wir setzen auf die Praxis, Codierung und Wissen- und Erfahrungsaustausch. Es ist auch eine hervorragende Gelegenheit, andere Programmierer kennenzulernen und wertvolle Kontakte mit Developern aus Ihrer Stadt aufzunehmen.

                p
                  | Wenn Sie die Atmosphäre des DevMeetings schnuppern möchten, besuchen Sie 
                  a(href='https://www.youtube.com/watch?v=t4zh2gII5J8', target='_blank') YouTube 
                  | (Film vom DevMeeting am 9. Mai 2015, Node.JS).
                
              .vertical-space-m
              .container-dark-gray.visible-xs
                .container-fluid.vertical-padding-m
                  .row
                    .col-xs-10.col-xs-offset-1
                      div
                        .row
                          .col-md-2
                            h1.noHeaderMargins
                              span.fa.fa-ticket
                          .col-md-10
                            h4.noHeaderMargins Registrierung läuft!
                            span Um an DevMeeting teilzunehmen,
                            br
                            span(data-reactid='.0.0.0.0.5.0.0.0.0.0.1.3') müssen Sie sich registrieren.
                            h5 Keine freien Plätze.
                            form(action='/events/react-redux-wro/tickets', method='post')
                              .progress
                                .progress-bar.progress-bar-warning(style='width:97.61904761904762%;')
                                .progress-bar.progress-bar-info(style='width:2.380952380952381%;')
                              button.btn.btn-lg.btn-dev Registrieren Sie sich!
                        .row
                          .col-md-2.text-center
              .vertical-padding-m
            .col-md-4.col-sm-4(style='position:relative;')
              .well(style='position:fixed;width:25%;z-index:2;')
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-calendar-o
                  .col-md-10
                    h4.noHeaderMargins 20. Juni 2015
                    h5.noHeaderMargins.text-muted
                      span Samstag
                      span , 
                      span 09:00 – 16:00
                hr.no-border
                .row
                  .col-md-2.text-center
                    h1.noHeaderMargins
                      span.fa.fa-map-marker
                  .col-md-10
                    h4.noHeaderMargins Kraków
                    h5.noHeaderMargins.text-muted Stadtzentrum
                hr
                div
                  .row
                    .col-md-2
                      h1.noHeaderMargins
                        span.fa.fa-ticket
                    .col-md-10
                      h4.noHeaderMargins Registrierung läuft!
                      span Um an DevMeeting teilzunehmen,
                      br
                      span müssen Sie sich registrieren.
                      h5 Keine freien Plätze.
                      form(action='/events/es6-maj-krakow/tickets', method='post')
                        .progress
                          .progress-bar.progress-bar-warning(style='width:100%;')
                          .progress-bar.progress-bar-info(style='width:0%;')
                        button.btn.btn-lg.btn-dev.btn-disabled.disabled(disabled='') Registrieren Sie sich!
                  .row
                    .col-md-2.text-center