extends ../../layout-de

block content
  
  .container-full
    .container
      .row
        .col-md-10.col-sm-10

          h5 Datenschutz
          ol
            li 1. In Beachtung Ihrer Rechte und Respekt für das Gesetz über Datenschutz verpflichten wir uns, die Sicherheit und Vertraulichkeit der erhaltenen personenbezogenen Daten zu wahren.
            li 2. Verwalter der personenbezogenen Daten ist: Developers Peak Sp. z o. o., ul. Rzeźnicza 28-31, 50-130 Wrocław, KRS 0000513829, NIP: 8971800894, REGON 022436938.
            li 3. In den Service devmeetings.com erheben wir folgende Daten: Vor- und Nachname, E-Mail Adresse.
            li 4. Cookies – unser Service nutzt die Technologie der Datenspeicherung Cookies zur Anpassung des Services an Ihre individuellen Bedürfnisse. Die Eigentümer anderer Vitrinen werden keinen Zugriff zu diesen Daten erhalten. Wenn Sie mit der Personalisierung des Services nicht einverstanden sind, schlagen wir die Abschaltung der Cookies-Bedienung in den Browseroptionen.
            li 5. Wir erheben und speichern auch Daten über die Art der Nutzung des Services durch den Nutzer. Gesammelte Daten werden zur Erweiterung der durch den Service angebotenen Funktionalitäten genutzt.
            li 6. Registrierung zu einem durch DevMeetings organisierten Event ist einer Zustimmung zum Erhalt des Newsletters gleich. Falls der Nutzer sich nicht wünscht, solche Informationen zu erhalten, kann er jederzeit die Subskription abbrechen (in jedem Newsletter befindet sich ein Deaktivierungslink).
            li 7. Im Fall der Nutzer, die ihre personengebundenen Daten angegeben haben und ihrer Verarbeitung zugestimmt haben, haben wir das Recht, ihre personengebundenen Daten zum Marketing der Eigendienstleistungen zu verarbeiten. Die Gesellschaft stellt die personenbezogenen Daten der Nutzer, insbesondere die E-Mail Adressen, Dritten nicht zur Verfügung. 
            li 8. Jeder Nutzer hat die Wahl, ob und im welchen Umfang er unsere Dienste in Anspruch nehmen und Informationen über sich zur Verfügung stellen will. Falls Sie aus irgendwelchem Grund nicht wünschen, Ihre personenbezogenen Daten zu überlassen, haben Sie das Recht, sie zu löschen oder unseren Service nicht zu nutzen.
            li 9. Wir stellen keine Daten zu Verfügung Dritter. Wir aufbewahren auch keine vertraulichen Daten.
            li 10. Gemäß den Bestimmungen des Datenschutzgesetzes vom 29. August 1997, Polnisches Gesetzblatt Nr. 133, Pos. 883 mit späteren Änderungen, haben Sie das Recht, Ihre personenbezogenen Daten zu korrigieren, zu vervollständigen, zu aktualisieren, zu berichtigen und ihre Löschung zu verlangen. Zu diesem Zwecke nutzen Sie entsprechende Bookmarks des Internet-Services oder senden Sie eine E-Mail auf die Adresse: info@devmeetings.org
            li 11. Während der DevMeetings kann der Veranstalter photographische und Videodokumentation durchführen. Teilnahme an Events ist mit dem Erteilen der Zustimmung zur Nutzung des Bildes jedes Teilnehmers, jedes Vortragenden und jedes Leiters in Informations- und Promotionsmaterialien des Veranstalters und der Sponsoren, verbunden. Wer eine solche Zustimmung nicht erteilen will, hat darüber nach erfolgter Registrierung via elektronische Kommunikation an die Adresse: info@devmeetings.org. zu informieren.
          h5 Ausführung der Bestellungen
          ol
            li 1. Der Teilnehmer kann sich zu einem von DevMeetings organisiertem Event durch Wahl des Events und des Termins, sowie Ausfüllung des Registrierungsformulars, registrieren.
            li 2. Die durch DevMeetings organisierten Events werden in der Formel „Pay What You Want“ angeboten – der Teilnehmer bestimmt den Preis, den er für die Teilnahme am Event zahlen will.
            li 3. Die Summe, die der Teilnehmer für die Teilnahme am Event zahlen will, bestimmt er während der Registrierung für den Event.
          h5 Storno der Teilnahme 
          ol
            li 1. Nach der Registrierung zum Event ist eine Rückgabe der Eintrittskarte nicht möglich. Rückerstattung der Kosten ist nicht möglich.
            li 2. Falls der Teilnehmer am Event, zu dem er sich registrierte, nicht teilnehmen kann, kann er die Eintrittskarte einem anderen Teilnehmer transferieren. Im solchen Fall muss er den Veranstalter darüber informieren und ihm die Daten der Person (Vor- und Nachname, E-Mail Adresse) der Person, zugunsten der der Eintrittskartentransfer erfolgt, angeben.
          h5 Absagen des Events, Rückerstattung der Kosten
          ol
            li 1. Das DevMeetings hat das Recht, den organisierten Event abzusagen.
            li 2. Bei Absage des Events erhalten die registrierten Teilnehmer eine Rückerstattung der getätigten Einzahlungen. 
          h5 Zahlung
          ol
            li 1. Zahlung für Teilnahme an organisierten Events erfolgt während der Registrierung zum Event.
            li 2. Mögliche Zahlungsarten: elektronische Transaktionen via PayU.pl
      .vertical-space-m
          


