extends ../../layout-de

block content
  
  .container
    .row
      h3.centered.vertical-space-m Allgemeine Geschätsbedingungen
      h4.centered Workshops bei DevMeetings.de
    .row.vertical-space-m
      .col-md-offset-3.col-md-6
        .contact-holder

          h5 Anmeldeverfahren

          p Die Anmeldung für DevMeetings erfolgt zu den angegebenen Terminen durch Online-Registrierung auf devmeetings.de
          p Anmeldung für DevMeetings über andere Wege (Email, Post, telefonisch) ist nicht möglich.


          h5.vertical-space-s Zahlungsbedingungen
          p Die Teilnahme unterliegt dem Pay What You Want Modell - der Teilnehmer bestimmt selbst, ob und in welcher höhe er für die Teilnahme bezahlen will.
          p Die Zahlung der Teilnahmegebühren erfolgt durch Kreditkartenzahlung, Lastschrift-, Sofortüberweisung-Verfahren oder durch Ãœberweisung.
          p Bei Lastschriftverfahren: bei einer nicht ausreichender Kontodeckung oder fehlerhaften Bankverbindung, werden die dadurch entstandenen Bearbeitungskosten (erhoben durch die Bank) dem Teilnehmer in Rechnung gestellt.

          h5.vertical-space-s Stornogebühren
          p Ein Rücktritt von der Anmeldung ist bis 1 Woche vor dem Veranstaltungstermin möglich.
          p Spätere Stornierung: nicht mehr möglich.

          h5.vertical-space-s Absage

          p Sollen nicht genügend Anmeldungen vorliegen oder ist die Durchführung der Veranstaltung aus nicht von uns vertretenden Umständen unmöglich, behalten wir uns das Recht vor, die Veranstaltung abzusagen.
          p In einem solchen Fall werden die betroffenen Teilnehmer umgehend informiert und die entrichteten Teilnahmegebühren wird erstattet.
          p Bei einer Absage haften wir nicht für entstandene Kosten für Reise, Übernachtung und/oder Arbeitsausfall.

          h5.vertical-space-s Datenschutz

          p Die Teilnahmebezogenen Daten werden elektronisch gespeichert und ausschliesslich zum Zweck der Veranstaltungen verarbeitet. Eine Weitergabe der Daten an Dritte ist ausgeschlossen.
    .row.vertical-space-m
