extends ../../layout

block js

block content
  
  .container-full
    .container
      h2.centered.vertical-space-m 50 zorganizowanych warsztatów od 2011 roku.
      h4.centered Zobacz niektóre fotorelacje.
      .photostory-holder.row.vertical-space-m
        .col-md-4.col-sm-6.col-xs-7
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.213760888644610.53558.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/ios_1.jpg')
            .box-details
              h4
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.213760888644610.53558.151035771583789&type=3', target='_blank')
                  | OpenGL pod iOS
              p
                | Warsztaty, na których budowaliśmy grę pod iOS przy pomocy biblioteki OpenGL ES.
        .col-md-4.col-sm-6.col-xs-7
          .box
            .box-image
              a(href='http://www.facebook.com/media/set/?set=a.657893057564722.1073741828.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/devcamp_1.jpg')
            .box-details
              h4
                a.text-darkblue(href='http://www.facebook.com/media/set/?set=a.657893057564722.1073741828.151035771583789&type=3', target='_blank')
                  | DevCamp RWD
              p
                | Trzydniowy obóz treningowy dla zaawansowanych frontendowców, na którym badaliśmy nowoczesne techniki Responsive Web Design.
        .col-md-4.col-sm-6.col-xs-7
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.199821623371870.44415.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/js_games_3.jpg')
            .box-details
              h4
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.193725267314839.42082.151035771583789&type=3', target='_blank')
                  | JS Games Development
              p
                | Warsztaty z programowania gier w JavaScripcie. Zaimplementowaliśmy grę przypominającą Mortal Kombat - dla wielu użytkowników.
        .col-md-4.col-sm-6.col-xs-7
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.199821623371870.44415.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/js_mobile_1.jpg')
            .box-details
              h4
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.199821623371870.44415.151035771583789&type=3', target='_blank')
                  | Mobilny JavaScript
              p
                | Na warsztatach poznawaliśmy techniki budowy aplikacji mobilnych przy pomocy JavaScriptu, PhoneGap'a, Sencha Touch i Titanium Appcelerator'a.
        .col-md-4.col-sm-6.col-xs-7
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.640476099306418.1073741827.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/rwd_1.jpg')
            .box-details
              h4
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.640476099306418.1073741827.151035771583789&type=3', target='_blank')
                  | Responsive Web Design
              p
                | Warsztaty z tworzenia responsywnych stron www przy pomocy czystego CSS'a oraz rozwiązań jak Bootstrap, Foundation itp.
        .col-md-4.col-sm-6.col-xs-7
          .box
            .box-image
              a(href='https://www.facebook.com/media/set/?set=a.219367798083919.55512.151035771583789&type=3', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/about_devmeetings/ssjs_3.jpg')
            .box-details
              h4
                a.text-darkblue(href='https://www.facebook.com/media/set/?set=a.219367798083919.55512.151035771583789&type=3', target='_blank')
                  | Server Side JavaScript
              p
                | Podczas warsztatów zaimplementowaliśmy rozbudowaną aplikację typu WebBased IDE przy pomocy Node.JS.
    .container-light-gray
      .container
        h2.centered.vertical-space-m Co to jest DevMeeting?
        h4.centered Całodniowe warsztaty dla programistów z pasją w formule Pay What You Want.
        .about-holder.row.vertical-space-m
          .about-col
            .col-md-6.col-sm-6
              h4
                | Tematy
              p
                | Interesują nas wyłącznie nowe, ambitne tematy (JavaScript, Node.JS, Responsive Web Design, iOS). Uczymy nowych technologii, pozwalamy Ci poznać tematy, które być może będą popularne za kilka miesięcy (np. Responsive Web Design), a być może znikną z rynku (RingoJS) – gwarantujemy jednak solidne przygotowanie szkoleń i interesującą formę.
              p Jakie tematy organizowaliśmy w przeszłości?
              ul.figure-list
                li Programowanie gier w JavaScripcie
                li JavaScript na serwerze: RingoJS, V8CGI i NodeJS
                li Programowanie aplikacji mobilnych w JavaScript
                li iOS Games Development
              p Aktualne tematy:
              ul.figure-list
                li Responsive Web Design
                li JavaScript dla programistów
                li JavaScript na serwerze: Node.js
          .about-col
            .col-md-6.col-sm-6
              h4
                | Forma
              p
                | DevMeetingi odbywają się w formie interaktywnych warsztatów. Krótkie, rzeczowe prezentacje trenera (opierające się głównie o przykłady rzeczywistego kodu) przeplatają się z praktycznymi tematami realizowanymi przez uczestników. Spodziewaj się masy kodu, niech GitHub się zagotuje od naszych push’ów.
              p
                | Podczas warsztatów z reguły implementujemy w grupach małą, ale kompletną aplikację. Spodziewaj się merytorycznych dyskusji obcując z innymi developerami. Warsztaty mają dynamiczną formę, luźną, lecz profesjonalną, nastawioną na wymianę doświadczeń.
              p
                | Jak wygląda DevMeeting minuta po minucie? Przeczytaj relacje jednego z naszych stałych uczestników:
              ul.figure-list
                li
                  a.link(href='http://blog.piecioshka.pl/devmeetings/devmeetings-middle-end-w-oparciu-o-serverside-js-relacja-live', target='_blank') Devmeetings: noSQL Databases [Relacja Live]<br/>
                  em
                    | http://blog.piecioshka.pl/devmeetings/devmeetings-middle-end-w-oparciu-o-serverside-js-relacja-live
                li
                  a.link(href='http://blog.piecioshka.pl/devmeetings/devmeetings-nosql-databases-relacja-live', target='_blank')
                    | DevMeetings: Middle-End w oparciu o ServerSide JS [Relacja Live]<br/>
                  em http://blog.piecioshka.pl/devmeetings/devmeetings-nosql-databases-relacja-live
        .about-holder.row
          .about-col
            .col-md-6.col-sm-6
              h4
                | Organizacja
              p
                | DevMeetingi odbywają się z reguły w weekend, by umożliwić uczestnictwo niezależnie od Twojej pracy czy studiów. Trwają cały dzień (od 8 do nawet 12 godzin). Ze względu na praktyczny charakter (kilka godzin kodowania), uczestnicy przynoszą laptopy.
              p
                | Aby DevMeetingi były dostępne dla wszystkich zainteresowanych, postanowaliśmy organizować je w formule Pay What You Want.
          .about-col
            .col-md-6.col-sm-6
              h4
                | Dla kogo
              p
                | Uczestnikami DevMeetingów są zarówno doświadczeni developerzy, którzy przychodzą podzielić się wiedzą i podyskutować, jak i mniej doświadczeni, przed którymi jeszcze długa droga do mistrzostwa. Łączy nas jedno: pasja. Czy osobnik bez pasji spędziłby całą sobotę na kodowaniu?
              p
                | W DevMeetingach brali udział między innymi:
              ul.figure-list
                li
                  a.link(href='http://michalbe.blogspot.com', target='_blank') Michał Budzyński
                  | , organizator konferencji
                  a.link(href='http://ongamestart.com', target='_blank') OnGameStart
                li
                  a.link(href='http://pawlowski.it', target='_blank') Marek Pawłowski
                  | , współautor gry przeglądarkowej
                  a.link(href='http://www.pykam.pl/tanadu', target='_blank') Tanadu
                li
                  a.link(href='http://blog.end3r.com', target='_blank') Andrzej Mazur
                  | , programista gier HTML5/JS, blogger
                  a.link(href='http://blog.end3r.com', target='_blank') blog.end3r.com
                li
                  a.link(href='http://twitter.com/rafaelk', target='_blank') Rafał Kukawski
                  | , autor
                  a.link(href='http://webhelp.pl/artykuly/autor/rafal-kukawski', target='_blank') WebHelp.pl
                li
                  a.link(href='http://twitter.com/bartaz', target='_blank') Bartek Szopka
                  | , autor
                  a.link(href='http://bartaz.github.io/impress.js/#/bored', target='_blank') ImpressJS
        br
    .container
      h2.centered.vertical-space-m Opinie uczestników
      .opinions-holder.row.vertical-space-m
        .opinions-col
          .col-md-6.col-sm-6
            h4
              | Maciej Dragan
            h5
              | Responsive Web Design
              br
              | Kraków, 26.10.2013
            em
              p
                | Dziękuję za doskonałe szkolenie z RWD w zeszły weekend! Uwielbiam słuchać ludzi z pasją i wielkim doświadczeniem w temacie, który omawiają – a jednego i drugiego nie można było odmówić.
              p
                | Dla mnie szczególnie ważne było posłuchać o rzeczach, do których dojście samemu musiałoby zostać poprzedzone wieloma błędnymi, próbami i masą zmarnowanego czasu (np. metodyki doczytywania responsywnych obrazków i specyficzne zachowania w różnych przeglądarkach). Czasami były to nawet rzeczy, które na pierwszy rzut oka, wydawałyby się nieistotne – takie jak np. konwencja BEM nazewnictwa klas elementów.
              p
                | Pozdrawiam i mam nadzieję do zobaczenia w przyszłości!
        .opinions-col
          .col-md-6.col-sm-6
            h4
              | Andrzej “end3r” Mazur
            h5
              | Programowanie gier w JS
              br
              | Warszawa, 22-23.01.2011
            em
              p
                | To były bardzo intensywne i treściwe dwa dni, profesjonalne szkolenie na bardzo wysokim poziomie. W ciągu 16 godzin nauczyłem się więcej, niż przez poprzedni miesiąc. Było sporo zadań, w których mogliśmy wykazać się swoimi umiejętnościami, a także poznać nowe, ciekawe rozwiązania.
              p
                | Wielkie dzięki kieruję do prowadzącego (Marek Pawłowski), organizatora (Piotr Zwoliński, Dev Meetings) oraz gościa specjalnego (Michał Budzyński), który świetnie uzupełniał prowadzone warsztaty. Życzę powodzenia w rozwijaniu idei darmowych, profesjonalnych szkoleń i szczerze zapraszam na kolejne edycje, bo warto!
      .opinions-holder.row
        .opinions-col
          .col-md-6.col-sm-6
            h4
              | Jakub Wiśniowski
            h5
              | Programowanie gier w JS
              br
              | Gliwice, 25. marca 2011
            em
              p
                | Szkolenia są nudne. Byłem na niejednym, na którym po teoretycznym wstępie należało wykonać ćwiczenie: 1. kliknij przycisk X, 2. wpisz bla bla bla, 3. kliknij przycisk Y itd. Masakra, ale tu było inaczej!
              p
                | Formuła DevMeetings polega na tym, że uczestnicy dzieleni są na grupy. Następnie prowadzący robi mniej lub bardziej krótki wstęp teoretyczny, po czym należy napisać kod, który będzie realizował jakąś funkcjonalność.
              p
                | Nie ma tu żadnej instrukcji krok-po-kroku. Grupa otrzymuje pliki ze strukturą programu, trochę wskazówek i zaczyna myśleć nad rozwiązaniem oraz tworzyć kod.
        .opinions-col
          .col-md-6.col-sm-6
            h4
              | Konrad ‘ktoso’ Malawski
            h5
              | Programowanie gier w JS
              br
              | Kraków, 19-20.02.2011
            em
              p
                | Yesterday and today I’ve been hacking some JavaScript during a free training organized by http://www.devmeetings.pl/ :-)
              p
                | As I’m coding quite a lot GWT and JS has also become quite powerfull in the last years I enlisted the training to learn more about JS optimalization and add some more tricks to my toolbox. Also some real life use scenarios would be very welcome. Turns out Tanadu (a polish “heroes-like” browser game) was implemented 100% in plain JS. Which is quite shocking.
              p
                | Did the “training” meet my expectations? Yup.
      .vertical-space-m
    .container-light-gray
      .container
        .founder-holder
          h2.centered.vertical-space-m Kto za tym stoi?
          .founder-col.row.vertical-space-m
            .col-md-4.col-sm-4.hidden-xs
              h4
                img.img-responsive(src='/img/static/about_devmeetings/pzwolinski.png')
            .col-md-8.col-sm-8.col-xs-12
              h4
                | Piotr Zwoliński
              p
                | Od 2008 roku organizuję warsztaty dla programistów, uczestniczyłem też w organizacji pierwszej edycji konferencji Front-Trends.
              p
                | Przez ponad 10 lat programowałem zawodowo na platformie J2EE i w JavaScripcie. Aktualnie <span class="line-through">doradzam firmom w zakresie budowy oprogramowania oraz organizuję szkolenia</span> rozwijam inicjatywę DevMeetings.com oraz eksperymentuję z innowacyjnymi technikami nauki, m. in programowania.
              p
                .fa.fa-envelope
                | &nbsp;piotr (at) devmeetings (dot) com
                |, 
                a.link(href='http://www.xing.com/profile/Piotr_Zwolinski', target='_blank') XING
                |, 
                a.link(href='http://de.linkedin.com/pub/piotr-zwolinski/0/63b/42b', target='_blank') Linked In
                |, 
                a.link(href='http://www.goldenline.pl/piotr-zwolinski8/', target='_blank') GoldenLine
              hr


          .founder-col.row
            .col-md-4.col-sm-4.hidden-xs
              h4
                img.img-responsive(src='/img/static/about_devmeetings/tdrwiega.png')
            .col-md-8.col-sm-8.col-xs-12
              h4
                | Tomasz Drwięga
              p
                | Programista Java, JavaScript, pasjonat web i nowych technologii. Stale poszukujący nowych wyzwań i alternatywnych rozwiązań.
              p
                | Z informatyką związany od dawna - zaczynając od pierwszych programów w Turbo Pascalu, przez Delphi, HTML, PHP, JavaScript aż do “prawdziwego programowania” w C, Pythonie i Javie. Miłośnik Linuksa i człowiek od zadań niemożliwych, trudnych i beznadziejnych. 
              p
                | Aktualnie zainteresowany nowymi metodami szkolenia i nauki programowania, BDD oraz programowanie funkcjonalnym i mobile.
              p
                .fa.fa-envelope
                | &nbsp;tomek (at) devmeetings (dot) com
                |, 
                a.link(href='https://github.com/tomusdrw', target='_blank') GitHub
                |, 
                a.link(href='http://www.linkedin.com/in/tomaszdrwiega', target='_blank') Linked In
                |, 
                a.link(href='https://www.facebook.com/tomasz.drwiega', target='_blank') FB
        .vertical-space-m           
