extends ../../layout-pl

block content
  
  .container-full
    .container
      .row
        h1.h2.centered.vertical-space-s Kontakt
      .contact-holder
        h5
          span.fa.fa-compass
          | &nbsp;Pomoc i info
        p
          | Jeśli masz pytania odnośnie warsztatów, terminów, lokalizacji, rejestracji lub płatności, chętnie odpowiemy na nie mailem:
        p
          strong
            span.mailaddress(data-name='info' data-domain='devmeetings.com')
        p W pilnych sprawach prosimy również o kontakt telefoniczny:
        p
          strong +48 532 264 968
        .contact-text.vertical-space-m
          h5
            span.fa.fa-puzzle-piece
            | &nbsp;Współpraca
          p
            | Jeśli jesteś zainteresowany współpracą z DevMeetings, zapraszamy do kontaktu przez wybrany adres email lub przez:<br/>
            span.mailaddress(data-name='wspolpraca' data-domain='devmeetings.com')
        .row.vertical-space-s.box-group
          .col-md-4.col-sm-4
            .box
              .box-details
                h5
                  | Sponsoring
                p Twoja firma chce sponsorować DevMeetingi?
                p
                  span.mailaddress(data-name='sponsoring' data-domain='devmeetings.com')
          .col-md-4.col-sm-4
            .box
              .box-details
                h5
                  | Trenerzy
                p Chciałbyś zostać trenerem lub pomóc w przygotowaniu tematów warsztatów?
                p
                  span.mailaddress(data-name='trener' data-domain='devmeetings.com')
          .col-md-4.col-sm-4
            .box
              .box-details
                h5
                  | Salki konferencyjne
                p Twoja firma chce udostępnić salkę konferencyjną?
                p
                  span.mailaddress(data-name='salki' data-domain='devmeetings.com')
        .contact-text.vertical-space-m
          h5
            span.fa.fa-envelope
            | &nbsp;Dane firmowe
          p DevMeetings to inicjatywa firmy:
          | Developers Peak Sp. z o. o.<br/>
          | ul. Rzeźnicza 28-31<br/>
          | 50-130 Wrocław<br/>
          | KRS 0000513829, NIP: 8971800894, REGON 022436938<br/>
        .vertical-space-m

