extends ../../layout-pl

block content
  
  .container-full
    .container-light-gray
      .container.container-heading
        h1.h3.centered.vertical-space-m.text-thin DevMeetings: 
          strong warsztaty 
          | dla programistów z pasją.
        p.h5.centered Szkolenia dostępne dla każdego dzięki formule "Pay What You Want".
        .workshop-holder.vertical-space-m
          .col-md-8.col-md-offset-2
            .videos 
              <iframe width="854" height="510" src="https://www.youtube.com/embed/sb_Mmhq-iX0" allowfullscreen></iframe>
    .container            
      .row.vertical-space-m
        h2.h3.centered Najbliższe warsztaty
      .workshop-holder.row.vertical-space-m
        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='http://registration.devmeetings.com/events/es6-maj-krakow')
                .workshop-img(style='background-image: url(/img/static/workshops/teaser1.png);' alt='')
                  .workshop-inner
                    img(src='/img/static/workshops/logo_es6.png' alt='')
                    .workshop-subtitle(style='border-color: #f0da51') Dive into ECMAScript 2015 (ES6)
            .box-details
              a(href='http://registration.devmeetings.com/events/es6-maj-krakow')
                h3.h4 ECMA Script 6, Kraków
              p
                | Warsztaty poświęcone budowanie aplikacjie przy pomocy ECMA Script 6. Kierowane do osób znających JavaScript oraz programistów innych języków (java, php, ruby), którzy chcą od razu wskoczyć do aktualnej specyfikacji języka.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Kraków</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20 czerwca 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='http://registration.devmeetings.com/events/es6-maj-krakow') Rejestracja

        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='http://devmeetings.pl/events/react-redux-wro')
                .workshop-img(style='background-image: url(/img/static/workshops/teaser2.png);' alt='')
                  .workshop-inner
                    img(src='/img/static/workshops/logo_react.png' alt='')
                    .workshop-subtitle(style='border-color: #62dafc') Efficient Webapps with React.js + Redux
            .box-details
              a(href='http://devmeetings.pl/events/react-redux-wro')
                h3.h4 React + Redux, Wrocław
              p
                | Warsztaty poświęcone budowanie aplikacjie przy pomocy ECMA Script 6. Kierowane do osób znających JavaScript oraz programistów innych języków (java, php, ruby), którzy chcą od razu wskoczyć do aktualnej specyfikacji języka.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Wrocław</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>27 czerwca 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='http://devmeetings.pl/events/react-redux-wro') Rejestracja
     
      .workshop-holder.row
        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='http://devmeetings.pl/events/ionic-krk')
                .workshop-img(style='background-image: url(/img/static/workshops/teaser3.png);' alt='')
                  .workshop-inner
                    img(src='/img/static/workshops/logo_ionic.png' alt='')
                    .workshop-subtitle(style='border-color: #4e8ff7') Hybrid Apps with Ionic Framework
            .box-details
              a(href='http://devmeetings.pl/events/ionic-krk')
                h3.h4 Ionic Framework 6, Kraków
              p
                | Warsztaty poświęcone budowanie aplikacjie przy pomocy ECMA Script 6. Kierowane do osób znających JavaScript oraz programistów innych języków (java, php, ruby), którzy chcą od razu wskoczyć do aktualnej specyfikacji języka.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Kraków</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>20 czerwca 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='http://devmeetings.pl/events/ionic-krk') Rejestracja

        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='http://devmeetings.pl/events/angular2-wawa')
                .workshop-img(style='background-image: url(/img/static/workshops/teaser4.png);' alt='')
                  .workshop-inner
                    img(src='/img/static/workshops/logo_angular.png' alt='')
                    .workshop-subtitle(style='border-color: #e23137') Modern Webapps with Angular 2
            .box-details
              a(href='http://devmeetings.pl/events/angular2-wawa')
                h3.h4 Angular 2, Warszawa
              p
                | Warsztaty poświęcone budowanie aplikacjie przy pomocy ECMA Script 6. Kierowane do osób znających JavaScript oraz programistów innych języków (java, php, ruby), którzy chcą od razu wskoczyć do aktualnej specyfikacji języka.
              p
                span.fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;<strong>Warszawa</strong>
              p
                span.fa.fa-calendar.fa-lg.fa-fw
                | &nbsp; <strong>27 czerwca 2015</strong>
              p.btn-holder
                a.btn.btn-dev(href='http://devmeetings.pl/events/angular2-wawa') Rejestracja

    .container-light-gray
      .container
        h2.h3.centered.vertical-space-m Opinie uczestników.
        p.h5.centered Niektórzy twierdzą, że to stan umysłu, a nie warsztaty.
        .opinions-holder.row.vertical-space-ml
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/us_adamjodlowski-big.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
              p
                em
                  | Intelektualna masakra, czyli sobota z @DevMeetingsPL, dziękuję panowie, do następnego!
              p
                a(href='http://twitter.com/adamjodlowski/status/69495869824704512', target='_blank')
                  | twitter.com/adamjodlowski/status/69...
              p
                strong @adamjodlowski
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/us_knapo-big.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
              p
                em
                  | long, tiring, but very productive and fantastic day at @DevMeetingsPL – thanks guys! cannot wait for next one!
              p
                a(href='http://twitter.com/knapo/status/82187412331184128', target='_blank')
                  | twitter.com/knapo/status/821...
              p
                strong @knapo
        .opinions-holder.row.vertical-space-s
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/us_pawrog-big.JPG' alt='')
            .col-md-5.col-sm-4.col-xs-10
              p
                em
                  | It was awesome workshop on node.js and RingoJS today at @DevMeetingsPL I’m looking forward to repeat this kind of experience!
              p
                a(href='http://twitter.com/pawrog/status/69506793721692161', target='_blank')
                  | twitter.com/pawrog/status/6950...
              p
                strong @pawrog
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/us_marcoos-big.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
              p
                em
                  | No i po @DevMeetingsPL o SSJS. Dobrze spędzony czas, warsztaty świetnie zorganizowane.
              p
                a(href='http://twitter.com/marcoos/status/82180367213273089', target='_blank')
                  | twitter.com/marcoos/status/8218...
              p
                strong @marcoos
        .vertical-space-m
    .container
      .community-holder.vertical-space-m
        h3.h4.centered Dołącz do społeczności DevMeetings.
        .row
          .col-sm-6.col-xs-12
            .likebox-holder
              <div class="fb-page" data-href="https://www.facebook.com/devmeetingspl/" data-tabs="timeline" data-width="500" data-height="350" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/devmeetingspl/"><a href="https://www.facebook.com/devmeetingspl/">devmeetings.pl</a></blockquote></div></div>
          .col-sm-6.col-xs-12
            .likebox-holder
              <a class="twitter-timeline"  href="https://twitter.com/DevMeetingsPL" data-widget-id="702836471137484800">Tweety użytkownika @DevMeetingsPL </a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                          
        .vertical-space-m            
    .container-light-gray
      .container
        .sub-footer-holder.row.vertical-space-m
          .col-md-4.col-sm-4
            h5 O DevMeetings
            p
              | DevMeetings to całodniowe warsztaty – przygotowywane przez programistów z pasją. Od 2011 roku zorganizowaliśmy ponad 30 spotkań, od ServerSide JavaScriptu, przez implementację gier w JavaScripcie, po Responsive Web Design.
            p
              a(href='/pl/info/about_devmeetings') Więcej o DevMeetings >
          .col-md-4.col-sm-4
            h5 Pay What You Want
            p
              | Przewodnią ideą DevMeetings jesta maksymalna dostępność szkoleń. Zdecydowaliśmy się więc na model “Pay What You Want” – możesz wziąć udział zupełnie bezpłatnie lub wspomóc inicjatywę przez płatną rejestrację.
            p
              a(href='/pl/info/pwyw') Więcej o Pay What You Want >
          .col-md-4.col-sm-4
            h5 Współpraca
            p
              | Poszukujemy prelegentów, sponsorów, osoby chcące pomóc przy organizacji. Napisz do nas, jeśli chcesz wesprzeć naszą inicjatywę.
              | Kontakt: info (at) devmeetings (kropka) pl
            p
              a(href='/pl/info/contact') Skontaktuj się z nami >
        .vertical-space-m


