extends ../../layout-pl

block js

block content
  
  .container-full
    .container

      h3.centered.vertical-space-m DevMeetings: warsztaty dla programistów z pasją.
      h5.centered Dostępne dla każdego dzięki formule "Pay What You Want".
      .workshop-holder.row.vertical-space-m
        .col-md-6.col-sm-6.col-xs-12
          .box
            .box-image
              a(href='events/jade')
                img.img-responsive.workshop-img(src='/img/static/workshops/workshop_jade.jpg')
            .box-details
              a(href='events/jade')
                h4 JADE zamiast HTML
              p
                | Frustrują Cię rozrastające się pliki HTML i niedomknięte lub źle domknięte tagi? W projektach JavaScript'owych coraz większą popularność zdobywa Jade.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Warsztaty online
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;20 kwietnia 2015
              p.btn-holder
                a.btn.btn-dev(href='events/jade') Info i rejestracja
        .col-md-6.col-sm-6.col-xs-12
          .box
            .box-image
              a(href='events/angular')
                img.img-responsive.workshop-img(src='/img/static/workshops/workshop_angular.jpg')
            .box-details
              h4 AngularJS
              p
                | Naucz się AngularJS na całodniowym warsztacie.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Warsztaty online
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;27 kwietnia 2015
              p.btn-holder
                a.btn.btn-dev(href='events/angular') Info i rejestracja
    .container
      h3.centered Warsztaty w przygotowaniu
      .workshop-holder.row.vertical-space-m
        .col-md-4.col-sm-4.col-xs-12
          .box
            .box-image
              a(href='https://docs.google.com/forms/d/1dJfxgQCrMuryvjI4FYMQHTqXdnWjaHEZLzXn0aQhvhU/viewform', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/workshops/workshop_backbone.jpg')
            .box-details
              a(href='https://docs.google.com/forms/d/1dJfxgQCrMuryvjI4FYMQHTqXdnWjaHEZLzXn0aQhvhU/viewform', target='_blank')
                h4 Backbone.js
              p
                | Naucz się tworzyć aplikacje typu Single Page Apps z wykorzystaniem Backbone.js.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Wrocław, Kraków, Poznań, Katowice, Warszawa, Gdańsk<br/>
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;Czerwiec 2015
              p.btn-holder
                a.btn.btn-dev(href='https://docs.google.com/forms/d/1dJfxgQCrMuryvjI4FYMQHTqXdnWjaHEZLzXn0aQhvhU/viewform', target='_blank') Zapisz się na listę mailingową
        .col-md-4.col-sm-4.col-xs-12
          .box
            .box-image
              a(href='https://docs.google.com/forms/d/1DkUSJMqXVYijJUysuDsDlxRlHnm0ggeQMzANgXoGOkk/viewform?usp=send_form', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/workshops/workshop_bootstrap.jpg')
            .box-details
              a(href='https://docs.google.com/forms/d/1DkUSJMqXVYijJUysuDsDlxRlHnm0ggeQMzANgXoGOkk/viewform?usp=send_form', target='_blank')
                h4 Twitter Bootstrap
              p
                | Naucz się tworzyć responsywne strony www z wykorzystaniem Twitter Bootstrap.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Wrocław, Kraków, Poznań, Katowice, Warszawa, Gdańsk
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;Lipiec 2015
              p.btn-holder
                a.btn.btn-dev(href='https://docs.google.com/forms/d/1DkUSJMqXVYijJUysuDsDlxRlHnm0ggeQMzANgXoGOkk/viewform?usp=send_form', target='_blank') Zapisz się na listę mailingową
        .col-md-4.col-sm-4.col-xs-12
          .box
            .box-image
              a(href='https://docs.google.com/forms/d/1PFT-JWrcbm3o7mffWrnqQs3vb2hqixLPPEsAbU8t8y0/viewform', target='_blank')
                img.img-responsive.workshop-img(src='/img/static/workshops/workshop_js_games_phaser.jpg')
            .box-details
              a(href='https://docs.google.com/forms/d/1PFT-JWrcbm3o7mffWrnqQs3vb2hqixLPPEsAbU8t8y0/viewform', target='_blank')
                h4 Gry w JS, HTML5 i Phaser
              p
                | Naucz się tworzenia gier przeglądarkowych w oparciu o HTML5, JS i framework Phaser.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Wrocław, Kraków, Poznań, Katowice, Warszawa, Gdańsk
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;Sierpień 2015
              p.btn-holder
                a.btn.btn-dev(href='https://docs.google.com/forms/d/1PFT-JWrcbm3o7mffWrnqQs3vb2hqixLPPEsAbU8t8y0/viewform', target='_blank') Zapisz się na listę mailingową
    .container-light-gray
      .container
        h3.centered.vertical-space-m Opinie uczestników.
        h5.centered Niektórzy twierdzą, że to stan umysłu, a nie warsztaty.
        .opinions-holder.row.vertical-space-m
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_adamjodlowski.png')
            .col-md-5.col-sm-5.col-xs-12
              p
                em
                  | Intelektualna masakra, czyli sobota z @DevMeetingsPL, dziękuję panowie, do następnego!
              strong @adamjodlowski
              p
                a(href='http://twitter.com/adamjodlowski/status/69495869824704512', target='_blank')
                  | twitter.com/adamjodlowski/status/69...
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_knapo.png')
            .col-md-5.col-sm-5.col-xs-12
              p
                em
                  | long, tiring, but very productive and fantastic day at @DevMeetingsPL – thanks guys! cannot wait for next one!
              strong @knapo
              p
                a(href='http://twitter.com/knapo/status/82187412331184128', target='_blank')
                  | twitter.com/knapo/status/821...
        .opinions-holder.row
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_pawrog.png')
            .col-md-5.col-sm-5.col-xs-12
              p
                em
                  | It was awesome workshop on node.js and RingoJS today at @DevMeetingsPL I’m looking forward to repeat this kind of experience!
              strong @pawrog
              p
                a(href='http://twitter.com/pawrog/status/69506793721692161', target='_blank')
                  | twitter.com/pawrog/status/6950...
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_marcoos.png')
            .col-md-5.col-sm-5.col-xs-125
              p
                em
                  | No i po @DevMeetingsPL o SSJS. Dobrze spędzony czas, warsztaty świetnie zorganizowane.
              strong @marcoos
              p
                a(href='http://twitter.com/marcoos/status/82180367213273089', target='_blank')
                  | twitter.com/marcoos/status/8218...
        .vertical-space-m
    .container
      .community-holder.vertical-space-m
        h4.centered Dołącz do społeczności DevMeetings.
        .likebox-holder
          iframe(src='//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fdevmeetingspl&width=1100&height=258&colorscheme=light&show_faces=true&header=false&stream=false&show_border=false&appId=1431693610420997', scrolling='no', frameborder='0', style='border:none; overflow:hidden; width:1100px; height:258px;', allowtransparency='true')
        .vertical-space-m            
    .container-light-gray
      .container
        .sub-footer-holder.row.vertical-space-m
          .col-md-4.col-sm-4
            h5
              a(href='/pl/info/about_devmeetings') O DevMeetings
            p
              | DevMeetings to całodniowe warsztaty – przygotowywane przez programistów z pasją. Od 2011 roku zorganizowaliśmy ponad 30 spotkań, od ServerSide JavaScriptu, przez implementację gier w JavaScripcie, po Responsive Web Design.
            p
              a(href='/pl/info/about_devmeetings') Więcej o DevMeetings >
          .col-md-4.col-sm-4
            h5
              a(href='/pl/info/pwyw') Pay What You Want
            p
              | Przewodnią ideą DevMeetings jesta maksymalna dostępność szkoleń. Zdecydowaliśmy się więc na model “Pay What You Want” – możesz wziąć udział zupełnie bezpłatnie lub wspomóc inicjatywę przez płatną rejestrację.
            p
              a(href='/pl/info/pwyw') Więcej o Pay What You Want >
          .col-md-4.col-sm-4
            h5 Współpraca
            p
              | Poszukujemy prelegentów, sponsorów, osoby chcące pomóc przy organizacji. Napisz do nas, jeśli chcesz wesprzeć naszą inicjatywę.
              | Kontakt: info (at) devmeetings (kropka) pl
            p
              a(href='/pl/info/contact') Skontaktuj się z nami >
        .vertical-space-m

    .container
      .community-holder.vertical-space-m

        h3.centered Wybierz wersję wydarzenia, w której chcesz wziąć udział
        h5.centered.vertical-space-s Warsztaty przygotowaliśmy w dwóch wersjach:<br/>jako 6-godzinny devmeeting "<u>Intro</u> to Node.js + Express" albo 3-dniowe intensywne szkolenie "<u>Mastering</u> Node.js + Express"
        .vertical-space-m

        table(style="width:100%")
          tr
            td.centered(style="width:33%; color: black;background-color: #fff;padding: 8px;border: 1px white solid")
            td.centered(style="width:33%; color: black;background-color: #f5f5f5;padding: 8px;border: 1px white solid")
              h4 DevMeeting <br/>
              h5 <u>Intro</u> to Node.js + Express
            td.centered(style="width:33%; color: black;background-color: #f5f5f5;padding: 8px;border: 1px white solid")
              h4 Warsztaty <br/>
              h5 <u>Mastering</u> Node.js + Express        
          tr
            td.centered(style="width:33%; color: black;background-color: #f5f5f5;padding: 8px;border: 1px white solid")
              h5 Forma
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              | Mix Hackathonu i warsztatów, przede wszystkim praca samodzielna uczestników z pomocą mentorów
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              | Klasyczne, intensywne warsztaty dla kameralnej grupy uczestników z pełną uwagą trenera.
          tr
            td.centered(style="width:33%; color: black;background-color: #f5f5f5;padding: 8px;border: 1px white solid")
              h5 Czas trwania
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              h4 6h <br/>
              | w sobotę
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              h4 24h <br/>
              | Pełne 3 dni szkoleniowe x 8h, w tygodniu

          tr
            td.centered(style="width:33%; color: black;background-color: #f5f5f5;padding: 8px;border: 1px white solid")
              h5 Ilość uczestników
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              h4 30-50 osób
              | Praca, nauka, wymiana doświadczeń z innymi uczestnikami i mentorem
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              h4 Max 12 osób
              | Internsywna współpraca uczestników z trenerem, kameralna atmosfera

          tr
            td.centered(style="width:33%; color: black;background-color: #f5f5f5;padding: 8px;border: 1px white solid")
              h5 Agenda, zakres
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              | Najważniejsze tematy pozwalające na szybki start z Node.js
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              | Intensywne i głębokie wprowadzenie do Node.js, przygotowanie do zastosowań produkcyjnych

          tr
            td.centered(style="width:33%; color: black;background-color: #f5f5f5;padding: 8px;border: 1px white solid")
              h5 Data
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              | 9 maja 2015
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              | 20-22 maja 2015

          tr
            td.centered(style="width:33%; color: black;background-color: #f5f5f5;padding: 8px;border: 1px white solid")
              h5 Koszt udziału
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              | Pay What You Want
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              | Od 899 pln / osobę

          tr
            td.centered(style="width:33%; color: black;background-color: #f5f5f5;padding: 8px;border: 1px white solid")
              h5 Rejestracja
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              a(href="#") Rejestracja na DevMeeting
            td.centered(style="width:33%; color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              a(href="#") Weź udział w warsztatach


        .vertical-space-l
        h3.centered Agenda
        h5.centered Dla obydwu wersji wydarzenia
        .vertical-space-m
                      

        table(style="width:100%")
          tr
            td
            td.centered(style="color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              h4 DevMeeting <br/>
              h5 <u>Intro</u> to<br/>Node.js + Express
            td.centered(style="color: black;background-color: #eaeaea;padding: 8px;border: 1px white solid")
              h4 Warsztaty <br/>
              h5 <u>Mastering</u><br/>Node.js + Express                
          +category('Wprowadzenie do Node.js')
          +item('W jaki sposób możemy pisać w JavaScript po stronie serwera?', true, true)
          +item('Jak w 3 linijkach napisać pierwszy serwer WWW.', true, true)

          +category('EventLoop - jak działa Node?')
          +item('Dlaczego wszystkie “kosztowne” operacje w NodeJS są asynchroniczne?', true, true)
          +item('W jaki sposób możemy programować wydajne aplikacje z użyciem tylko jednego wątku.', true, true)

          +category('Wprowadzenie do Express')
          +item('Idea middlewares', true, true)
          +item('Routowanie z użyciem Express', true, true)
          +item('Zaawansowany routing z użyciem Express (łączenie routów, przekazywanie parametrów)', false, true)
          +item('NodeJS jako middleware i przetwarzający inne RESTowe API', false, true)
          +item('Webscraping z poiomu Node.js z wykorzystaniem Cheerio', false, true)

          +category('Asynchroniczność')
          +item('Jak radzić sobie z spaghetti kodem generowanym przez “naiwne” korzystanie z callbacków?', true, true)
          +item('Rozumienie flow aplikacji z pomocą Promises lub biblioteki Async', true, true)
                                                            
          +category('Sesje i Autoryzacja w Express')
          +item('Użycie middlewarów do zarządzania sesją i cookiesami', false, true)
          +item('Autoryzacja z użyciem middleware Passport (użytkownicy w DB i OAuth)', false, true)
                                                            
          +category('Połączenie z bazą danych')
          +item('Jak utworzyć połączenie i używać go w całej aplikacji express', false, true)
          +item('Podstawowe operacje w połączeniu z MongoDB', false, true)
          +item('Podstawowe operacje w połączeniu z Redis', false, true)
          +item('Podstawowe operacje w połączeniu z mySQL', false, true)
                                                            
          +category('Generowanie widoków i tworzenie API')
          +item('Tworzenie widoków z użyciem systemu templatów JADE', true, true)
          +item('Używanie mixinów, tworzenie layoutu JADE', true, true)
          +item('Inne systemy template’ów na przykładzie Handlebars', false, true)
          +item('Budowanie RESTowego API korzystającego z JSONa', false, true)
          +item('Przetwarzanie obrazów przesyłanych przez formularz po stronie serwera', false, true)
                                                            
          +category('Produkcyjne użycie')
          +item('Testowanie aplikacji w Express', false, true)
          +item('Debugowanie aplikacji w NodeJS', false, true)
          +item('Obsługa błędów z użyciem Domen', false, true)
          +item('Wydajność aplikacji, używanie Streamów', false, true)
          +item('Do czego nie nadaje się NodeJS', false, true)
          +item('Struktura aplikacji, wydzielanie wspólnych modułów', false, true)
                                                            
          +category('ECMA Script')
          +item('Nowa składnia JavaScript w NodeJS', false, true)
          +item('Połączenie składni ES5 i ES6 z wykorzystaniem biblioteki Babel', false, true)




mixin category(label)
  tr
    td(style="color: black;background-color: #fff;padding: 8px;")
      h5 #{label}
    td.centered(style="color: black;background-color: #f9f9f9;padding: 8px;border: 1px white solid")
    td.centered(style="color: black;background-color: #f9f9f9;padding: 8px;border: 1px white solid")


mixin item(label, devmeeting, workshop)
  tr
    td(style="width:50%; font-size: 1em; color: black;background-color: #f5f5f5;padding: 8px;border: 1px white solid")
      span #{label}
    if devmeeting  
      td.centered(style="width:25%; color: green;background-color: rgb(215, 246, 215);padding: 8px;border: 1px white solid")
        .fa.fa-check.fa-lg.fa-fw
    else
      td.centered(style="width:25%; color: rgb(218, 34, 34);background-color: rgb(249, 215, 215);padding: 8px;border: 1px white solid")
        .fa.fa-times.fa-lg.fa-fw
    if workshop  
      td.centered(style="width:25%; color: green;background-color: rgb(215, 246, 215);padding: 8px;border: 1px white solid")
        .fa.fa-check.fa-lg.fa-fw
    else
      td.centered(style="width:25%; color: rgb(218, 34, 34);background-color: rgb(249, 215, 215);padding: 8px;border: 1px white solid")
        .fa.fa-times.fa-lg.fa-fw
                      

