extends ../../layout-pl

block js

block content
  
  .container-full
    .container
      h2.centered.vertical-space-m Pay What You Want
      h4.centered
        | Głównym założeniem DevMeetings jest ich dostępność – niezależnie od zasobności portfela, jeśli jesteś developerem z pasją, gorąco zapraszamy!
      row.vertical-space-m
        .col-md-6
          h5
            | Udział bezpłatny
          p
            | Udział bezpłatny jest jak najbardziej możliwy, oczywiście zachęcamy do wsparcia inicjatywy, ponieważ realizacja szkoleń jest przedsięwzięciem pochłaniającym zarówno dużo czasu, jak i pieniędzy.
        .col-md-6
          h5
            | Show us your love!
          p
            | Będziemy się cieszyć, jeśli za uczestnictwo wesprzesz inicjatywę DevMeetings! Podczas rejestracji na warsztaty poprosimy Cię o deklarację kwoty, którą gotów jesteś przeznaczyć na uczestnictwo: z przedziału 0 PLN do 300 PLN za cały dzień szkoleniowy. Płatność: aktualnie przelewem lub na miejscu gotówką. Otrzymasz fakturę VAT.
      .vertical-space-m        
    .container-light-gray
      .container
        h2.centered.vertical-space-m Jakie koszty ponosimy organizując warsztaty?
        .row.vertical-space-m
          .col-md-4
            h5
              | Przygotowanie materiału
            p
              | Przygotowanie profesjonalnego materiału szkoleniowego: ok. 10-20 roboczodni doświadczonego trenera.
          .col-md-4
            h5
              | Sala szkoleniowa
            p
              | Wynajęcie sali szkoleniowej dla ok. 30 uczestników. DevMeetingi odbywają się w komfortowych, profesjonalnych warunkach.
          .col-md-4
            h5
              | Catering
            p
              | Zimne i gorące napoje, przekąski, ciastka w trakcie całego DevMeetingu. Pizza na lunch.
        .row
          .col-md-4
            h5
              | Przyjazd, nocleg trenera
            p
              | Często trenerzy przyjeżdżają na DevMeeting z innego miasta – co powoduje koszty przejazdu i noclegu. Nie chcemy, żeby trener prowadził warsztaty po całonocnej podróży z drugiego końca Polski!
          .col-md-4
            h5
              | Trener
            p
              | Trener, oprócz przeznaczenia całego dnia na przeprowadzenie warsztatów (oraz ewentualna podróż), poświęca dużo czasu na przygotowanie się do pooprowadzenia szkolenia.
          .col-md-4
            h5
              | Organizacja
            p
              | Organizacja i administracja “wszystkiego dookoła”: obsługa rejestracji, prowadzenie sajtu, profilu na FB, poszukiwania trenerów, marketing, itp. zajmuje dziesiątki godzin naszemu zespołowi.
        .vertical-space-m       



