extends ../../layout-pl

block content
  
  .container-full
    .container-light-gray
      .container
        h1.h2.centered.vertical-space-m Pay What You Want
        p.h4.text-thin.centered
          | Głównym założeniem DevMeetings jest ich dostępność 
          br
          | – niezależnie od zasobności portfela, 
          strong jeśli jesteś developerem z pasją, gorąco zapraszamy!
        .row.vertical-space-s.offer-holder
          .col-sm-4.box-wrapper.offer-left
            .box.box-white
              img(src='/img/static/pwyw/icon_free.png' alt='')
              h5
                | Udział bezpłatny
              p
                strong Udział bezpłatny jest jak najbardziej możliwy, 
                | oczywiście zachęcamy do wsparcia inicjatywy, ponieważ realizacja szkoleń jest przedsięwzięciem pochłaniającym zarówno dużo czasu, jak i pieniędzy.
          .col-sm-1.box-wrapper.offer-or
            img.img-responsive(src='/img/or.png' alt='OR')
          .col-sm-7.box-wrapper.offer-right
            .box.box-blue
              img(src='/img/static/pwyw/icon_love.png' alt='')
              h5
                | Show us your love!
              p
                | Będziemy się cieszyć, jeśli za uczestnictwo 
                strong wesprzesz inicjatywę DevMeetings! 
                | Podczas rejestracji na warsztaty poprosimy Cię o deklarację kwoty, którą gotów jesteś przeznaczyć na uczestnictwo: 
                strong z przedziału 0 PLN do 300 PLN 
                | za cały dzień szkoleniowy.
              p Płatność: aktualnie przelewem lub na miejscu gotówką. Otrzymasz fakturę VAT.
    .container
      h2.centered.vertical-space-m Jakie koszty ponosimy organizując warsztaty?
      .row.vertical-space-m.features
        .col-sm-4.text-center
          img(src='/img/static/pwyw/icon_materials.png' alt='')
          h4
            | Przygotowanie materiału 
          p
            strong Przygotowanie profesjonalnego materiału szkoleniowego: 
            | ok. 10-20 roboczodni doświadczonego trenera.
        .col-sm-4.text-center
          img(src='/img/static/pwyw/icon_coach.png' alt='')
          h4
            | Trener
          p
            | Trener, oprócz przeznaczenia całego dnia na przeprowadzenie warsztatów (oraz ewentualna podróż), 
            strong poświęca dużo czasu na przygotowanie się do pooprowadzenia szkolenia.
        .col-sm-4.text-center
          img(src='/img/static/pwyw/icon_catering.png' alt='')
          h4
            | Catering
          p
            | Zimne i gorące 
            strong napoje, przekąski, ciastka
            | w trakcie całego DevMeetingu. 
            strong Pizza na lunch.
      .row.features.vertical-space-m
        .col-sm-4.text-center
          img(src='/img/static/pwyw/icon_accomodation.png' alt='')
          h4
            | Przyjazd, nocleg trenera
          p
            | Często trenerzy przyjeżdżają na DevMeeting z innego miasta 
            strong co powoduje koszty przejazdu i noclegu. 
            | Nie chcemy, żeby trener prowadził warsztaty po całonocnej podróży z drugiego końca Polski!
        .col-sm-4.text-center
          img(src='/img/static/pwyw/icon_organisation.png' alt='')
          h4
            | Organizacja
          p
            | Organizacja i administracja “wszystkiego dookoła”: 
            strong obsługa rejestracji, prowadzenie sajtu, profilu na FB, poszukiwania trenerów, marketing, itp. zajmuje dziesiątki godzin naszemu zespołowi.
        .col-sm-4.text-center
          img(src='/img/static/pwyw/icon_training.png' alt='')
          h4
            | Sala szkoleniowa
          p
            strong Wynajęcie sali szkoleniowej dla ok. 30 uczestników. 
            | DevMeetingi odbywają się w komfortowych, profesjonalnych warunkach.

      .vertical-space-m       



