extends ../../layout-pl

block content
  
  .container-full
    .container
      .row
        h2.centered.vertical-space-m Szkolenia i konsultacje dla Waszego zespołu programistycznego
      .row
        .col-md-9          
          h4.vertical-space-m Dedykowane szkolenia wewnętrzne dla firm
          p
            | Oprócz organizacji DevMeetingów, prowadzimy szkolenia dla firm oraz zespołów programistycznych. Specjalizujemy się w tematach związanych z JavaScript'em (język, architektura, frameworki i biblioteki), webdevelopmentem i technologiami pokrewnymi.
          p
            strong Aktuanie prowadzimy szkolenia między innymi z tematów:
            ul
              li Angular JS 1.x
              li Angular JS 2 + ES6 + TypeScript
              li React.js + Flux + Redux
              li Meteor
              li Node.js + Express.js
              li Nowoczesny JavaScript dla Programistów
              li ES6 / ES 2015
          p
            strong Forma szkoleń wewnętrznych
            ul
              li Na miejscu u klienta w dowolnym miejscu w Polsce (+ Europa)
              li Kameralne grupy od 4 do 12 osób
              li Doświadczeni trenerzy, wieloletnie doświadczenie developerskie + dydaktyczne
              li Praktyczna forma warsztatów oparta o implementację rzeczywistych aplikacji
              li Szkolenia 2-3 dniowe
          p
            h4.vertical-space-m Usługi doradcze i konsultacje
            p
              | Oprócz szkoleń, wspieramy zespoły programistyczne na różnych etapach projektu - w formie kilkudniowych konsultacji, w trakcie których koncentrujemy się na praktycznych aspektach Waszej aplikacji oraz przekazaniu maksymalnej ilości wiedzy.
            ul
              li <strong>Kick-off projektu w nowej techologii</strong><br/>3-5 dniowe wystartowanie nowego projektu z naszym trenerem / konsultantem. Trener dołącza do Waszego zespołu, by pomóc Wam rozpocząć tworzenie aplikacji w nowej technologii. Cel: przekazanie maksymalnie dużo wiedzy oraz dobrych praktyk (kweste językowe, architektoniczne, budowania i deploymentu), być po kilku dniach pozostawić Was gotowych do samodzielnego rozwijania oprogramowania.
              li <strong>Proof of concept</strong><br/>Wasz zespół chce wdrożyć nową technologię i nie jest przekonany co do właściwości danej technologii? Albo nie wiecie czy zdecydować się na Angular 1.x, Angular 2 czy może React? Nasz trener / konsultant w ciągu 5-10 dni pomoże Wam podjąć decyzję, tworząc razem z Wami prototypy aplikacji w różnych technologiach. Porównawcze podejście pomoże Wam doświadczyć zarówno pozytywnych aspektów poszczególnych rozwiązań, jak i ryzyk związanych z każdym z nich.
              li <strong>Review / audyt</strong><br/>Rozwijacie już aplikację i chcielibyście, by nasz trener / konsultant przeanalizował poprawność rozwiązań, wypracował z Wami jeszcze lepszy kod, przedstawił alternatywne wzorce, pomógł ustrukturyzować kod, ulepszyć workflow (build systemy, deployment, itp), czy wskazać ryzyka projektowe? Proponujemy 2-3-dniowe review w warsztatowym podejściu.
          p
            strong Referencje<br>
            | Regularnie szkolimy duże firmy technologiczne, jak i startupy. Wgląd w referencje - na życzenie.
          p
            h4.vertical-space-m Kontakt
            | Za formalną realizację usług szkoleniowych i konsultacyjnych odpowiada <a href="http://developerspeak.com" target="blank_">Developers Peak Sp. z o. o.</a><br/>
          p
            <strong>Osoba kontaktowa:</strong><br/>Piotr Zwoliński<br/>piotr.zwolinski (at) devmeetings (kropka) org<br/>Tel. 532 264 968
      .vertical-space-l
        



