extends ../../layout-pl

block js

block content
  
  .container-full
    .container
      .row
        .col-md-10.col-sm-10

          h5 Polityka prywatności
          ol
            li Szanując twoje prawa oraz respektując ustawę o ochronie danych osobowych zobowiązujemy się do zachowania bezpieczeństwa i poufności pozyskanych danych osobowych.
            li Administratorem Danych Osobowych jest: Developers Peak Sp. z o. o., ul. Rzeźnicza 28-31, 50-130 Wrocław, KRS 0000513829, NIP: 8971800894, REGON 022436938
            li W Serwisie devmeetings.com zbieramy następujące dane: imię i nazwisko, email
            li Cookies – nasz Serwis wykorzystuje technologię zapamiętywania danych Cookies w celu dostosowania Serwisu do twoich indywidualnych potrzeb. Właściciele innych witryn nie będą mieli dostępu do tych danych. Jeżeli nie zgadzasz się na personalizowanie serwisu, proponujemy wyłączenie obsługi cookies w opcjach przeglądarki internetowej.
            li Zbieramy i przechowujemy również dane dotyczące sposobu korzystania przez Użytkownika z Serwisu. Zbierane dane są wykorzystywane do rozszerzenia funkcjonalności oferowanych przez Serwis.
            li Rejestracja na wydarzenie organizowane przez DevMeetings jest równoważna ze zgodą na otrzymywanie newsletter. Jeśli Użytkownik nie życzy sobie otrzymywania takich wiadomości, w każdej chwili może zrezygnować z subskrypcji (w każdym newsletterze umieszczony jest link dezaktywujący).
            li W przypadku Użytkowników, którzy podali swoje dane osobowe i wyrazili zgodę na ich przetwarzanie, mamy prawo przetwarzania danych osobowych Użytkownika w celu marketingu usług własnych. Spółka nie udostępnia danych osobowych Użytkowników, a w szczególności adresów email.
            li Każdy Użytkownik ma możliwość wyboru, czy i w jakim zakresie chce korzystać z naszych usług i udostępniać informacje o sobie. Jeżeli z jakiś względów nie życzysz sobie pozostawienia swoich danych osobowych to masz prawo do ich usunięcia lub niekorzystania z naszego Serwisu.
            li Żadnych danych nie udostępniamy osobom trzecim. Nie przechowujemy również danych poufnych.
            li Zgodnie z postanowieniami ustawy o ochronie danych osobowych z dnia 29 sierpnia 1997 roku, Dz. U. nr 133 poz. 883 z późn. zm. masz prawo poprawiania, uzupełniania, uaktualnienia, sprostowania oraz żądania usunięcia swoich danych osobowych. W tym celu korzystaj z właściwych zakładek w serwisu internetowego lub prześlij e – mail pod adres info@devmeetings.com

          h5 Sposób realizacji zamówień
          ol
            li Użytkownik może zarejestrować się na organizowane przez DevMeetings wydarzenie poprzez wybór wydarzenia oraz terminu oraz wypełnienie formularza rejestracyjnego.
            li Wydarzenia organizowane przez DevMeetings oferowane są w systemie „Pay What You Want“ – uczestnik określa cenę, którą chce zapłacić za udział w wydarzeniu.
            li Kwotę jaką uczestnik chce zapłacić za udział w wydarzeniu, określa on podczas rejestracji na wydarzenie

          h5 Rezygnacja z udziału w warsztatach
          ol
            li Po rejestracji na wydarzenie zwrot wejściówki nie jest możliwy. Refundacja kosztów nie jest możliwa.
            li W przypadku niemożliwości wzięcia udziału przez Uczestnika w wydarzeniu, na które się zarejestrował, użytkownik może dokonać transferu swojej wejściówki innej osobie. W tym przypadku musi poinformować Organizatora o transferze wejsciówki, łącznie z podaniem danych (imię, nazwisko, email) osoby, której wejściówkę transferuje

          h5 Odwołanie wydarzenia, zwrot kosztów
          ol
            li DevMeetings ma prawo odwołać organizowane wydarzenie.
            li W przypadku odwołania wydarzenia, zarejestrowani uczestnicy uzyskają zwrot opłat, które dokonali.

          h5 Płatność
          ol
            li Płatność za udział w organizowanych wydarzeniach dokonywana jest podczas rejestracji na wydarzenie.
            li Dostępne formy płatności: transakcje elektroniczne realizowane przez PayU.pl
      .vertical-space-m
          


