extends layout

block scripts
  script(src="/components/angular/angular.js")
  script(src="/components/moment/min/moment-with-locales.js")
  script(src="/components/angular-moment/angular-moment.js")


