extends layout

block content
  a.btn.btn-primary(
    href="/events/#{event.name}"
  )
    span.glyphicon.glyphicon-chevron-left
  .event

  h1= event.title
  h1.alert.alert-danger
    | Nie ma już więcej biletów.

