extends react-layout

block content

  .container.vertical-padding-m
    .row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        .ticket



append scripts
  script.
    var claim = !{claim_json};
    var Translator = !{translation};
  script(type='text/jsx', src='/js/event_ticket.js')

