extends layout

block content
  
  .container.vertical-padding-s
    .row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        .vertical-space-l
        .alert.alert-info
          h4.noHeaderMargins
            .pull-left.fa.fa-thumbs-o-up.fa-4x
            | Zarejestrowałeś się na DevMeeting #{claim.event.title}.
          h5
            | Otrzymaliśmy płatność za Twój bilet, a potwierdzenie przesłaliśmy mailem.


        .vertical-space-xl
        hr
        h5.text-muted.noHeaderMargins W razie jakichkolwiek problemów skontaktuj się z nami pod adresem <code>info@devmeetings.pl</code>        
        h5.text-muted.noHeaderMargins
          | Id twojego biletu: 
          code #{claim._id}
        
        .vertical-space-xl
