footer.footer
    .container
        .row
          .col-md-4.col-sm-4
            h5 Social
            ul.footer-ul
              li
                a(href='http://facebook.com/devmeetingspl', target='_blank')
                  img.ico-facebook(src='/img/ico_facebook.png')
                  | devmeetingspl
              li
                a(href='http://twitter.com/devmeetingspl', target='_blank')
                  img.ico-twitter(src='/img/ico_twitter.png')
                  | @devmeetingspl
          .col-md-4.col-sm-4
            h5 Płatności obsługuje
            ul.footer-ul
              li
                a(href='http://payu.pl', target='_blank')
                  img(src='/img/payu.png')
          .col-md-4.col-sm-4
            h5
              a(href='http://devmeetings.pl/contact.html') Kontakt
            ul.footer-ul
              li Agile Ways Sp. z o. o.
              li ul. Piotrkowska 72, 54-060 Wrocław
              li
                img.ico-mail(src='/img/ico_mail.png')
                | info (at) devmeetings.com

