footer.footer
    .container
        .row
          .col-md-3.col-sm-3
            h5 Social
            ul.footer-ul
              li
                a(href='http://facebook.com/devmeetingsde', target='_blank')
                  .fa.fa-facebook.fa-fw
                  | &nbsp;devmeetingspl
              li
                a(href='http://twitter.com/devmeetingsde', target='_blank')
                  .fa.fa-twitter.fa-fw
                  | &nbsp;@devmeetingspl
          .col-md-3.col-sm-3
            h5 Płatności obsługuje
            ul.footer-ul
              li
                a(href='http://payu.pl', target='_blank')
                  img(src='/img/payu.png')
                 
          .col-md-3.col-sm-3
            h5
              a(href='/en/info/contact') Kontakt
            ul.footer-ul
              li Developers Peak Sp. z o. o.
              li ul. Rzeźnicza 28-31
              li 50-130 Wrocław
              li
                .fa.fa-envelope.fa-fw
                | &nbsp;info (at) devmeetings.com

          .col-md-3.col-sm-3
            h5
              a(href='/en/info/terms') Regulamin
            ul.footer-ul
              li 
                a(href='/en/info/terms') Zapoznaj się z polityką prywatności i warunkami rejestracji.
