footer.footer
    .container
        .row
          .col-md-3.col-sm-3
            h5 DevMeetings
            ul.footer-ul
              li
                | Organised since 2011
                br
                | by DevMeetings.org Team
          .col-md-3.col-sm-3
            h5 Payments are processed by
            ul.footer-ul
              li
                a(href='http://payu.com', target='_blank')
                  img(src='/img/payu.png' alt='PayU')
                 
          .col-md-3.col-sm-3
            h5
              a(href='/en/info/contact') Contact
            ul.footer-ul
              li Contact the DevMeetings team
              li
                span.fa.fa-envelope.fa-fw
                | &nbsp;info (at) devmeetings (dot) org

          .col-md-3.col-sm-3
            h5
              a(href='/en/info/terms') Terms of use
            ul.footer-ul
              li 
                a(href='/en/info/terms') Read the privacy policy and terms of registration.
              li 
                a(href='http://confcodeofconduct.com' target='blank') Code of Conduct
