footer.footer(style="min-height: 60px;")
    .container
        .row
          .col-md-6.col-sm-6
            h5 (c) 2011-2015 DevMeetings.de
          .col-md-6.col-sm-6(style="text-align: right;")
            h5
              a(href='/de/info/codeofconduct') Code of conduct
              |&nbsp;|&nbsp;
              a(href='/de/info/contact') Kontakt
              |&nbsp;|&nbsp;
              a(href='/de/info/terms') AGBs
              |&nbsp;|&nbsp;
              a(href='/de/info/imprint') Impressum
