footer.footer
    .container
        .row
          .col-md-3.col-sm-3
            h5 Social
            ul.footer-ul
              li
                a(href='http://facebook.com/devmeetingsde', target='_blank')
                  span.fa.fa-facebook.fa-fw
                  | &nbsp;devmeetingspl
              li
                a(href='http://twitter.com/devmeetingsde', target='_blank')
                  span.fa.fa-twitter.fa-fw
                  | &nbsp;@devmeetingspl
          .col-md-3.col-sm-3
            h5 Płatności obsługuje
            ul.footer-ul
              li
                a(href='http://payu.pl', target='_blank')
                  img(src='/img/payu.png' alt='PayU')
                 
          .col-md-3.col-sm-3
            h5
              a(href='/de/info/contact') Kontakt
            ul.footer-ul
              li Developers Peak Sp. z o. o.
              li ul. Rzeźnicza 28-31
              li 50-130 Wrocław
              li
                span.fa.fa-envelope.fa-fw
                | &nbsp;info (at) devmeetings.com

          .col-md-3.col-sm-3
            h5
              a(href='/de/info/terms') Vorschriften
            ul.footer-ul
              li 
                a(href='/de/info/terms') Lesen Sie die Datenschutzrichtlinie und die Bedingungen der Registrierung.
              li 
                a(href='http://confcodeofconduct.com' target='blank') Code of Conduct
