nav.navigation-holder
    .container
        .navbar.navbar-default(role='navigation')
          .container-fluid
            .navbar-header
              a.navbar-brand(href='/')
                img.logo(src='/img/devmeetings_logo.jpg')
            .navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/de/info/about_devmeetings') ÜBER DEVMEETINGS
                li
                  a(href='/de/info/pwyw') PAY WHAT YOU WANT                  
                li
                  a(href='/de/info/contact') KONTAKT
                li
                  a(href='/en') English

br
