nav.navigation-holder
    .container
        .navbar.navbar-default(role='navigation')
          .container-fluid
            .navbar-header
              a.navbar-brand(href='/')
                img.logo(src='/img/devmeetings_logo.jpg')
            .navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/info/about_devmeetings') O DEVMEETINGS
                li
                  a(href='/info/contact') KONTAKT
br
