extends layout

block content

  .row
    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
      each ev in events
        .jumbotron.clearfix
          h1 #{ev.title}
          p #{ev}
          a.btn.btn-primary.btn-lg.pull-right(href="/events/#{ev.name}") Zarejestruj się!
