doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')
      link(rel='stylesheet', href='/components/highlightjs/styles/default.css')
      link(rel='stylesheet', href='/css/styles.css')
      link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    block js
      include ./scripts
  body
    include ./header

    block content

    block scripts

    include ./footer

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-133233340-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-133233340-1');
