doctype html
html(lang='en')
  head
    title DevMeetings: workshops for passionate software developers.
    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Offered in Pay What You Want model.')
    meta(name='keywords', content='training, programming, devmeetings')
    
    meta(property='og:title', content='DevMeetings')
    meta(property='og:description', content='Offered in Pay What You Want model.')
    meta(property='og:image', content='http://reg-test.devmeetings.com/img/og-logo.png')
    meta(property='og:type', content='website')
    
    block css
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')
      link(rel='stylesheet', href='/components/highlightjs/styles/default.css')
      link(rel='stylesheet', href='/css/styles.css')
      link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    block js
      include ./scripts
  body
    <div id="fb-root"></div><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.5&appId=112649485555025";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    include ./header-en

    block content

    block scripts

    include ./footer-en

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-133233340-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-133233340-1');
