extends ../layout
extends ../layout

block js

block content
  
  .container-full
    .container
      .contact-holder
        h5
          .fa.fa-compass
          | &nbsp;Pomoc i info
        p
          | Jeśli masz pytania odnośnie warsztatów, terminów, lokalizacji, rejestracji lub płatności, chętnie odpowiemy na nie mailem:
        p
          strong
            a.link(href='mailto:info@devmeetings.com') info@devmeetings.com
        p W pilnych sprawach prosimy również o kontakt telefoniczny:
        p
          strong +48 532 264 968
        .contact-text.vertical-space-m
          h5
            .fa.fa-puzzle-piece
            | &nbsp;Współpraca
          p
            | Jeśli jesteś zainteresowany współpracą z DevMeetings, zapraszamy do kontaktu przez wybrany adres email lub przez:<br/>
            a.link(href='mailto:wspolpraca@devmeetings.com') wspolpraca@devmeetings.com
        .row
          .col-md-4.col-sm-4
            .box
              .box-details
                h5
                  | Sponsoring
                p Twoja firma chce sponsorować DevMeetingi?
                p
                  a.link(href='mailto:sponsoring@devmeetings.com') sponsoring@devmeetings.com
          .col-md-4.col-sm-4
            .box
              .box-details
                h5
                  | Trenerzy
                p Chciałbyś zostać trenerem lub pomóc w przygotowaniu tematów warsztatów?
                p
                  a.link(href='mailto:trener@devmeetings.com') trener@devmeetings.com
          .col-md-4.col-sm-4
            .box
              .box-details
                h5
                  | Salki konferencyjne
                p Twoja firma chce udostępnić salkę konferencyjną?
                p
                  a.link(href='mailto:salki@devmeetings.com') salki@devmeetings.com
        .contact-text
          h5
            .fa.fa-envelope
            | &nbsp;Dane firmowe
          p DevMeetings to inicjatywa firmy:
          | Developers Peak Sp. z o. o.<br/>
          | ul. Rzeźnicza 28-31<br/>
          | 50-130 Wrocław<br/>
          | KRS 0000513829, NIP: 8971800894, REGON 022436938<br/>
        .vertical-space-m

