extends ../layout
extends ../layout

block js

block content
  
  .container-full
    .container

      h3.centered.vertical-space-m DevMeetings: warsztaty dla programistów z pasją.
      h5.centered Dostępne dla każdego dzięki formule "Pay What You Want".
      .workshop-holder.row.vertical-space-m
        .col-md-6.col-sm-6.col-xs-12
          .box
            .box-image
              a(href='events/jade')
                img.img-responsive.workshop-img(src='/img/static/workshops/workshop_jade.jpg')
            .box-details
              a(href='events/jade')
                h4 JADE zamiast HTML
              p
                | Frustrują Cię rozrastające się pliki HTML i niedomknięte lub źle domknięte tagi? W projektach JavaScript'owych coraz większą popularność zdobywa Jade.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Warsztaty online
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;Grudzień 2014
              p.btn-holder
                a.btn.btn-dev(href='events/jade') Info i rejestracja
        .col-md-6.col-sm-6.col-xs-12
          .box
            .box-image
              a(href='https://docs.google.com/forms/d/1cVcheiGSv7CqBnAbsTqCbQAAWF46weE_gTh3U9HUiqA/viewform')
                img.img-responsive.workshop-img(src='/img/static/workshops/workshop_angular.jpg')
            .box-details
              h4 AngularJS
              p
                | Naucz się AngularJS na całodniowym warsztacie.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Wrocław, Kraków, Poznań, Katowice, Gdańsk, Warszawa
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;Grudzień 2014
              p.btn-holder
                a.btn.btn-dev(href='https://docs.google.com/forms/d/1cVcheiGSv7CqBnAbsTqCbQAAWF46weE_gTh3U9HUiqA/viewform') Zapisz się na listę mailingową
    .container
      h3.centered Warsztaty w przygotowaniu
      .workshop-holder.row.vertical-space-m
        .col-md-4.col-sm-4.col-xs-12
          .box
            .box-image
              a(href='https://docs.google.com/forms/d/1dJfxgQCrMuryvjI4FYMQHTqXdnWjaHEZLzXn0aQhvhU/viewform')
                img.img-responsive.workshop-img(src='/img/static/workshops/workshop_backbone.jpg')
            .box-details
              a(href='https://docs.google.com/forms/d/1dJfxgQCrMuryvjI4FYMQHTqXdnWjaHEZLzXn0aQhvhU/viewform', target='_blank')
                h4 Backbone.js
              p
                | Naucz się tworzyć aplikacje typu Single Page Apps z wykorzystaniem Backbone.js.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Wrocław, Kraków, Poznań, Katowice, Warszawa, Gdańsk<br/>
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;Styczeń 2015
              p.btn-holder
                a.btn.btn-dev(href='https://docs.google.com/forms/d/1dJfxgQCrMuryvjI4FYMQHTqXdnWjaHEZLzXn0aQhvhU/viewform', target='_blank') Zapisz się na listę mailingową
        .col-md-4.col-sm-4.col-xs-12
          .box
            .box-image
              a(href='https://docs.google.com/forms/d/1DkUSJMqXVYijJUysuDsDlxRlHnm0ggeQMzANgXoGOkk/viewform?usp=send_form')
                img.img-responsive.workshop-img(src='/img/static/workshops/workshop_bootstrap.jpg')
            .box-details
              a(href='https://docs.google.com/forms/d/1DkUSJMqXVYijJUysuDsDlxRlHnm0ggeQMzANgXoGOkk/viewform?usp=send_form', target='_blank')
                h4 Twitter Bootstrap
              p
                | Naucz się tworzyć responsywne strony www z wykorzystaniem Twitter Bootstrap.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Wrocław, Kraków, Poznań, Katowice, Warszawa, Gdańsk
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;Styczeń 2015
              p.btn-holder
                a.btn.btn-dev(href='https://docs.google.com/forms/d/1DkUSJMqXVYijJUysuDsDlxRlHnm0ggeQMzANgXoGOkk/viewform?usp=send_form', target='_blank') Zapisz się na listę mailingową
        .col-md-4.col-sm-4.col-xs-12
          .box
            .box-image
              a(href='https://docs.google.com/forms/d/1PFT-JWrcbm3o7mffWrnqQs3vb2hqixLPPEsAbU8t8y0/viewform')
                img.img-responsive.workshop-img(src='/img/static/workshops/workshop_js_games_phaser.jpg')
            .box-details
              a(href='https://docs.google.com/forms/d/1PFT-JWrcbm3o7mffWrnqQs3vb2hqixLPPEsAbU8t8y0/viewform')
                h4 Gry w JS, HTML5 i Phaser
              p
                | Naucz się tworzenia gier przeglądarkowych w oparciu o HTML5, JS i framework Phaser.
              p
                .fa.fa-map-marker.fa-lg.fa-fw
                | &nbsp;Wrocław, Kraków, Poznań, Katowice, Warszawa, Gdańsk
              p
                .fa.fa-calendar.fa-lg.fa-fw
                | &nbsp;Styczeń 2015
              p.btn-holder
                a.btn.btn-dev(href='https://docs.google.com/forms/d/1PFT-JWrcbm3o7mffWrnqQs3vb2hqixLPPEsAbU8t8y0/viewform') Zapisz się na listę mailingową
    .container-light-gray
      .container
        h3.centered.vertical-space-m Opinie uczestników.
        h5.centered Niektórzy twierdzą, że to stan umysłu, a nie warsztaty.
        .opinions-holder.row.vertical-space-m
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_adamjodlowski.png')
            .col-md-5.col-sm-5.col-xs-12
              p
                em
                  | Intelektualna masakra, czyli sobota z @DevMeetingsPL, dziękuję panowie, do następnego!
              strong @adamjodlowski
              p
                a(href='http://twitter.com/adamjodlowski/status/69495869824704512', target='_blank')
                  | twitter.com/adamjodlowski/status/69...
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_knapo.png')
            .col-md-5.col-sm-5.col-xs-12
              p
                em
                  | long, tiring, but very productive and fantastic day at @DevMeetingsPL – thanks guys! cannot wait for next one!
              strong @knapo
              p
                a(href='http://twitter.com/knapo/status/82187412331184128', target='_blank')
                  | twitter.com/knapo/status/821...
        .opinions-holder.row
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_pawrog.png')
            .col-md-5.col-sm-5.col-xs-12
              p
                em
                  | It was awesome workshop on node.js and RingoJS today at @DevMeetingsPL I’m looking forward to repeat this kind of experience!
              strong @pawrog
              p
                a(href='http://twitter.com/pawrog/status/69506793721692161', target='_blank')
                  | twitter.com/pawrog/status/6950...
          .opinions-col
            .col-md-1.col-sm-1.hidden-xs
              img.img-responsive(src='/img/static/homepage/us_marcoos.png')
            .col-md-5.col-sm-5.col-xs-125
              p
                em
                  | No i po @DevMeetingsPL o SSJS. Dobrze spędzony czas, warsztaty świetnie zorganizowane.
              strong @marcoos
              p
                a(href='http://twitter.com/marcoos/status/82180367213273089', target='_blank')
                  | twitter.com/marcoos/status/8218...
        .vertical-space-m
    .container
      .community-holder.vertical-space-m
        h4.centered Dołącz do społeczności DevMeetings.
        .likebox-holder
          iframe(src='//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fdevmeetingspl&width=1100&height=258&colorscheme=light&show_faces=true&header=false&stream=false&show_border=false&appId=1431693610420997', scrolling='no', frameborder='0', style='border:none; overflow:hidden; width:1100px; height:258px;', allowtransparency='true')
        .vertical-space-m            
    .container-light-gray
      .container
        .sub-footer-holder.row.vertical-space-m
          .col-md-4.col-sm-4
            h5
              a(href='aboutdevmeetings.html') O DevMeetings
            p
              | DevMeetings to całodniowe warsztaty – przygotowywane przez programistów z pasją. Od 2011 roku zorganizowaliśmy ponad 30 spotkań, od ServerSide JavaScriptu, przez implementację gier w JavaScripcie, po Responsive Web Design.
            p
              a(href='aboutdevmeetings.html') Więcej o DevMeetings >
          .col-md-4.col-sm-4
            h5
              a(href='paywhatyouwant.html') Pay What You Want
            p
              | Przewodnią ideą DevMeetings jesta maksymalna dostępność szkoleń. Zdecydowaliśmy się więc na model “Pay What You Want” – możesz wziąć udział zupełnie bezpłatnie lub wspomóc inicjatywę przez płatną rejestrację.
            p
              a(href='paywhatyouwant.html') Więcej o Pay What You Want >
          .col-md-4.col-sm-4
            h5 Współpraca
            p
              | Poszukujemy prelegentów, sponsorów, osoby chcące pomóc przy organizacji. Napisz do nas, jeśli chcesz wesprzeć naszą inicjatywę.
              | Kontakt: info (at) devmeetings (kropka) pl
            p
              a(href='contact.html') Skontaktuj się z nami >
        .vertical-space-m


